@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800);
/* main-selector = #lucky-coupon-%27 + id + %27.game-%27 + this.gameId + %27 */
/* wheel-selector = #lucky-coupon-%27 + id + %27.game-%27 + this.gameId + %27 .wheel-window */
/* dont use any quotes in templates styles or common style files*/

/*<wheel-selector>*/ .lucky-coupon-popup {
	width: 780px;
}

/*<wheel-selector>*/ .lucky-coupon-left .lucky-coupon-popup,
/*<wheel-selector>*/ .lucky-coupon-right .lucky-coupon-popup {
	height: 100vh;
	width: 645px;
}

/*<wheel-selector>*/ .lucky-coupon-popup-inner.background {
	background-color: %27 + this.background + %27;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	min-height: 246px;
	box-sizing: border-box;
}

/*<wheel-selector>*/ .coupon-center .coupon,
/*<wheel-right>*/ .coupon-center .coupon,
/*<wheel-left>*/ .coupon-center .coupon {
	 top: -60px;
}

/*<wheel-selector>*/ .coupon .right,
/*<wheel-selector>*/ .coupon .left {
	 display: none;
}

/*<wheel-selector>*/ .coupon-center .coupon .left,
/*<wheel-selector>*/ .coupon-center .coupon .right {
	background: #fff;
}

/*<wheel-selector>*/ .upper-text {
	overflow: hidden;
}

/*<wheel-selector>*/ .upper-text div:first-child {
	font-size: 35px;
	height: 78px;
	margin-top: 35px;
}

/*<wheel-selector>*/ .lower-text {
	margin: -15px auto 0;
}

/*<wheel-selector>*/ .background.middle,
/*<wheel-selector>*/ .background.start-text {
	padding-bottom: 10px;
}

/*<wheel-selector>*/ .lucky-coupon-popup-inner.start-body {
	padding-top: 1px;
}

/*<wheel-left>*/  .lucky-coupon-popup-inner.coupon-wrapper.start-body,
/*<wheel-right>*/ .lucky-coupon-popup-inner.coupon-wrapper.start-body {
	height: calc(100vh - 35vh);
	border-radius: 0;
}

/*<wheel-left>*/ .lucky-coupon-popup-inner.background,
/*<wheel-left>*/ .lucky-coupon-popup-inner.background {
	height: 35vh;
	min-height: 0;
}

/*<wheel-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.background.start-text,
/*<wheel-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.background.start-text,
/*<wheel-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.background.middle,
/*<wheel-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.background.middle {
	min-height: 23%;
}

/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper {
	height: 415px;
	position: relative;
	overflow: visible;
	box-sizing: border-box;
}

/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper.finish-body {
	height: 415px;
}

/*<wheel-right>*/ .finish-body,
/*<wheel-left>*/ .finish-body {
	height: 100%!important;
}

/*<wheel-selector>*/ .continue-btn {
	margin: -30px auto 50px auto;
}

/*<wheel-selector>*/ .lucky-coupon-popup-inner .big-text {
	padding:0;
	margin: 0 auto !important;
	width: 100%;
}

/*<wheel-selector>*/ .big-text[data-name=title] {
	margin: 4px auto 0;
	width: 570px;
	line-height:37px !important;
	font-size: 30px;
}

/*<wheel-left>*/ .big-text[data-name=title],
/*<wheel-right>*/ .big-text[data-name=title] {
	padding-top: 0;
	margin-top: 0;
}

/*<wheel-selector>*/ .big-text.middle-center {
	margin-bottom: 51px;
	margin-top: 62px;
}

/*<wheel-left>*/  .big-text.middle-center,
/*<wheel-right>*/ .big-text.middle-center {
	margin:0 !important;
	padding: 0;
}

/*<wheel-selector>*/ .small-text[data-name=description] {
	width: 100%;
	margin-top: 23px;
}

/*<wheel-selector>*/ .input-wrapper {
	width: 100%;
}

/*<wheel-selector>*/ .input-wrapper .email-input {
	display: inline-block;
	border-radius: 8px;
	margin: 21px auto 5px auto;
	width: 279px;
	padding: 9px 30px;
}

/*<wheel-left>*/ .input-wrapper .email-input,
/*<wheel-right>*/ .input-wrapper .email-input {
	width: 350px;
}

/*<wheel-selector>*/ .input-wrapper .email-input::placeholder {
	letter-spacing: 1px;
	text-align: center;
}

/*<wheel-selector>*/ .btn-push {
	display: block;
	margin: 0 auto;
}

/*<wheel-selector>*/ .btn-push.red {
	width: auto;
	height: 38px;
	min-width: 152px;
	border-radius: 30px;
	border: none;
	vertical-align: -2px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 24px;
	background-color: %27 + this.button + %27;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*<wheel-right>*/ .btn-push.red,
/*<wheel-left>*/ .btn-push.red {
	margin-top: 28px;
}

/*<wheel-selector>*/ .btn-push.grey {
	height: 44px;
	width: 152px;
	border-radius: 30px;
	border-color: #aeaeae;
	vertical-align: -2px;
	font-size: 19px;
	font-weight: bold;
	margin-top: 24px;
	background-color: #aeaeae;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

/*<wheel-selector>*/ .small-text.push-bottom {
	width: 100%;
	font-size: 20px;
	margin: 30px auto;
}

/*<wheel-selector>*/ .arrow-down {
	position: relative;
	width: 0;
	height: 0;
	margin: -1px auto 0 auto;
	border-top: 15px solid %27 + this.button + %27;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	z-index: 3;
}

/*<wheel-selector>*/ .text.small-message {
	padding: 17px 0;
	background: #fff;
	bottom: -1px;
	z-index: 5;
	border-radius: 0;
	position: absolute;
	bottom: -17px;
	left: 0;
}

/*<wheel-left>*/ .lucky-coupon-popup-inner.coupon-wrapper .text.small-message,
/*<wheel-right>*/ .lucky-coupon-popup-inner.coupon-wrapper .text.small-message {
	 bottom: 0;
	 border-radius: 0;
	 background: transparent;
	 margin: auto;
}

/*<wheel-selector>*/ .text.small-message > div {
	border-radius: 18px;
	font-size: 14px;
}

/*<wheel-selector>*/ .wheel-wrapper {
	margin: 20px auto 0 auto;
	position: relative;
	bottom: 0;
	height: 460px;
	width: 460px;
	z-index: 4;
}

/*<wheel-right>*/ .wheel-wrapper,
/*<wheel-left>*/ .wheel-wrapper {
	 margin-top: 8px;
	 height: 387px;
	 width: 387px;
}

/*<wheel-selector>*/ .wheel-wrapper .wheel {
	position: relative;
	height: 0;
	margin: auto;
	padding-bottom: 100%;
	width: 100%;
}

/*<wheel-right>*/ .wheel-wrapper .wheel-image,
/*<wheel-right>*/ .wheel-wrapper svg,
/*<wheel-left>*/ .wheel-wrapper .wheel-image,
/*<wheel-left>*/ .wheel-wrapper svg {
	height: 387px;
	width: 387px;
}

/*<wheel-selector>*/ .slices {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 1em;
	margin: auto;
	transform: rotate(15deg) translate(0, 0);
}

/*<wheel-selector>*/ .slices .slice {
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	height: 22px;
	padding-left: 60%;
	padding-right: 5%;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
}

/*<wheel-selector>*/ .slices .slice:nth-child(6n) {
	color: #000;
}

/*<wheel-selector>*/.lucky-coupon-center {
	top: 50% !important;
}

@media (max-width: 600px) {

	/*<wheel-selector>*/.lucky-coupon-center,
	/*<wheel-selector>*/.lucky-coupon-left,
	/*<wheel-selector>*/.lucky-coupon-right {
		position: relative;
		width: calc(100vw - 40px) !important;
		height: calc(100% - 50px)!important;
		left: 20px;
		top: auto !important;
		right: auto;
		bottom: auto;
		margin: 35px auto auto;
	}

	/*<wheel-selector>*/ div.lucky-coupon-popup {
		border-radius: 12px;
		height: auto !important;
	}

	/*<wheel-left>*/  .lucky-coupon-popup-inner.coupon-wrapper.start-body,
	/*<wheel-right>*/ .lucky-coupon-popup-inner.coupon-wrapper.start-body {
		height: calc(100vh - 164px);
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper {
		height: calc(100% - 164px);
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper {
		padding-top: 18px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup .coupon-wrapper.finish-body {
		height: calc(100% - 150px);
	}

	/*<wheel-selector>*/ .lucky-coupon-popup .close {
		top: 10px;
		left: auto;
		right: -8px;
		background: transparent;
	}

	.wheel-window.lucky-coupon-right .lucky-coupon-popup .lucky-coupon-popup-inner.coupon-wrapper .close,
	.wheel-window.lucky-coupon-right .lucky-coupon-popup .lucky-coupon-popup-inner.coupon-wrapper .close {
		right: 10px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup .close .inner {
		width: 28px;
		height: 28px;
		box-shadow: none;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.background {
		display: block;
		height: auto !important;
		min-height: 160px !important;
		padding: 20px 20px 10px 20px !important;
		margin-bottom: 0 !important;
	}

	/*<wheel-selector>*/ .big-text[data-name=title] {
		display: block !important;
		max-width: 250px !important;
		margin: 15px auto;
		font-size: 20px !important;
		font-weight: 600 !important;
		height: auto !important;
		margin-bottom: 0 !important;
	}

	/*<wheel-selector>*/ .small-text[data-name=description] {
		display: block !important;
		margin-top: 5px;
		font-size: 14px !important;
		max-width: 100% !important;
	}

	/*<wheel-selector>*/ .input-wrapper .email-input {
		margin-top: 3px;
		height: 37px;
	}

	/*<wheel-selector>*/ .input-wrapper {
		margin-bottom: 5px;
	}

	/*<wheel-selector>*/ .small-text.push-bottom {
		margin: 10px 0;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner div.big-text.middle-center {
		margin: 17px auto !important;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .wheel-wrapper {
		margin-top: 10px;
		width: 100%;
		height: 100%;
		margin: auto;
		left: auto;
		right: auto;
	 }

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .wheel-wrapper .wheel {
	    height: 0;
	    left: auto;
	    right: auto;
	    padding-bottom: 100%;
	    width: 100%;
	}

	/*<wheel-selector>*/.lucky-coupon-popup-inner.coupon-wrapper .wheel-wrapper .wheel .wheel-wrapper svg {
		width: 100%;
	}

	/*<wheel-selector>*/ .text.small-message {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff !important;
		width: 100%;
		max-width: 100% !important;
		padding: 5px !important;
		box-sizing: border-box;
	}

	/*<wheel-selector>*/.lucky-coupon-popup-inner.coupon-wrapper .text.small-message {
		position: relative;
		top: auto;
		bottom: auto;
		padding: 10px 0;
	}

	/*<wheel-selector>*/.lucky-coupon-popup-inner.coupon-wrapper .text.small-message.final-message {
		left: auto;
		bottom: auto;
		transform: none;
		font-size: 13px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .small-text.push-bottom {
		margin-bottom: 85px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .big-text.congrats {
		margin-bottom: 50px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .btn-push.red {
		margin-top: 0;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .wheel-wrapper {
	 	margin-top: 10px;
		width: 265px;
		height: 265px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .upper-text {
		width: 90%;
		padding-bottom: 14px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .wheel-wrapper .wheel-image,
	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .wheel-wrapper svg {
		 width: 265px;
		 height: 265px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .small-message {
		 max-width: 325px;
		 margin-top: 0;
		 padding-bottom: 0;
		 padding-top: 10px;
		 background: transparent;
	 }

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .upper-text div:first-child {
		font-size: 25px;
		height: 35px;
		margin-top: 25px;
	}

	/*<wheel-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper .lower-text {
		margin: 15px auto 0;
	}
	
}

@media screen and (min-width: 600px) and (max-width: 1500px){

	/*<main-selector>*/ .lucky-coupon-center.wheel-window {
		transform: translateX(-50%) translateY(-50%) scale(0.83) !important;
	}
}
