<template>
	<div class="container" :class="showNoGames ? 'fixed-width no-padding' : 'navbar-margin-top'">
		<div v-if="!showNoGames">
			<router-link :to="site.id ? '/site/'+ site.id +'/games' : '/sites'" class="btn btn-default new-games-button cancel">
				<span style="top: 3px" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Cancel
			</router-link>
			<div class="row">
				<p class="text-center create-new-game">CREATE NEW GAME</p>
				<p class="text-center select-game-type">Select Game type</p>
			</div>
			<div class="row">
				<ul class="game-types">
					<li
						v-for="(gameType, index) in gamesTypeList"
						:class="'game-type ' + index"
						v-on:mouseover="showGameCover"
						v-on:mouseleave="hideGameCover"
					>
						<div class="game-type-image" @click="selectGame" :data-type="index"></div>
						<div class="group-cover">
							<div class="text-center header">{{ gameType.header }}</div>
							<div class="text-center main">{{ gameType.body }}</div>
							<div class="col-md-12" style="margin-top: 33px;">
								<button @click="selectGame" :data-type="index" class="btn btn-default new-games-button create-game pull-left">Select Game</button>
								<button @click="previewGame" :data-type="index" class="btn btn-default new-games-button create-game preview pull-left">Preview</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<no-games v-if="showNoGames"></no-games>
	</div>
</template>
<script>
import { getParentByTag } from '../../helpers/selector';

import Flash from '../../helpers/flash.js';

import noGames from '../Games/List/NoGames.vue';

import showDefaultGame from '../../lucky-coupon/games/commands/show-default-game';

export default {
	
	components: {
		noGames
	},
	
	data() {
		return {
			showNoGames: false,
			gamesTypeList: {
				/*scratch: {
					header: 'Scratch cards',
					body: 'Scratch card to get your prize'
				},*/
				wheel: {
					header: 'WHEEL OF COUPONS',
					body: 'Watch the wheel whirl around and get your heart racing'
				},
				slot: {
					header: 'REEL OF COUPONS',
					body: 'Play the reels with Reel Of Coupons, and get your heart pumping!'
				},
				gift: {
					header: 'PICK A GIFT',
					body: 'Pick A Gift to reveal your prize'
				},
				coupon: {
					header: 'CARD DANCE',
					body: 'Switch between cards until you reveal ultimate savings'
				}
			}
		};
	},
	
	created() {
		if (this.isMobile()) {
			this.showNoGames = true;
		}
	},
	
	computed: {
		site() {
			return this.$store.state._sites.site;
		},
		games() {
			return this.$store.state._games.games;
		},
		newGameType: {
			get() {
				return this.$store.state._games.newGameType;
			},
			set(value) {
				this.$store.state._games.newGameType = value;
			}
		},
		user() {
			return this.$store.state._users.user;
		}
	},
	
	methods: {
		createGame(type) {
			this.newGameType = false;
			if (this.site.id) {
				let newGame = {
					type: type,
					site_id: this.site.id,
					name: ''
				};
				this.$store.dispatch('createGame', newGame)
					.then(response => {
						if(response.data.game !== false) {
							this.games.push(response.data.game);
							this.$store.state._settings.changes = true;
							this.$store.state._games.justCreated = true;
							this.$router.push({path: '/site/' + this.site.id + '/game/' + response.data.game.id});
						}
					})
					.catch((err) => {
						this.$router.push({path: '/game/add'});
						Flash.setAjaxError(err);
					});
				this.$router.push({path: '/loading'});
			} else {
				this.newGameType = type;
				this.$router.push({path: '/game/create'});
			}
		},
		
		selectGame(e) {
			let type = this.getTypeData(e.target);
			this.createGame(type)
		},
		
		previewGame(e) {
			showDefaultGame.handle({type: e.currentTarget.dataset.type, site_id: this.site.id});
		},
		
		showGameCover(e) {
			e.currentTarget.querySelector('.group-cover').style.display = 'block';
		},
		
		hideGameCover(e) {
			e.currentTarget.querySelector('.group-cover').style.display = 'none';
		},
		
		getTypeData(el) {
			let chosen = el.tagName === 'DIV' ? el : getParentByTag(el, 'BUTTON');
			return chosen.dataset.type;
		},
		
		isMobile() {
			var check = false;
			(function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
			return check;
		}
	}
}
</script>