<template>
	<div class="container navbar-margin-top">
		<router-link :to="'/site/'+ site.id +'/games'" class="btn btn-default new-games-button cancel">
			<span style="top: 3px" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back
		</router-link>
		<div class="container fixed-width no-padding create-game-site-page" style="margin-top: 0;">
			<div class="row">
				<div class="row text-center">
					<p class="small-header">CREATE NEW GAME</p>
					<p class="big-header">Basic information</p>
				</div>
				<div class="row col-sm-5 no-padding" style="float:none; margin: 101px auto 0;">
					<div :class="!hasNameError ? 'form-group' : 'form-group has-error'">
						<label class="label" for="game-name">What is the GAME NAME?</label>
						<input type="text" v-model="gameName" class="form-control input-lg" id="game-name">
					</div>
					<div :class="!hasUrlError ? 'form-group' : 'form-group has-error'">
						<label class="label" for="site-name">what is the URL of your website?</label>
						<input @focus="handleProtocol" type="text" v-model="siteUrl" class="form-control input-lg" id="site-name" placeholder="https://">
					</div>
					<div class="form-group">
						<button @click="createGameSite" class="btn btn-default new-games-button create-game">Start Creating</button>
					</div>
					<div class="form-group text-center" style="margin-top: 52px;">
						<span class="hint">*Don't worry this information can be changed later</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import Flash from '../../helpers/flash';

export default {
	data() {
		return {
			gameName: '',
			siteUrl: '',
			hasUrlError: false,
			hasNameError: false,
			newGameSiteData: {}
		};
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		site() {
			return this.$store.state._sites.site;
		},
		
		games : {
			set(value){
				this.$store.state._games.games = value;
			},
			get(){
				return this.$store.state._games.games;
			}
		},
		
		newGameType: {
			get() {
				return this.$store.state._games.newGameType;
			},
			set(value) {
				this.$store.state._games.newGameType = value;
			}
		}
	},
	
	methods: {
		
		handleProtocol: function(e) {
			if (this.siteUrl === '') {
				this.siteUrl = 'https://';
			}
		},
		
		createGameSite: function(e) {
			let hasError = false;
			this.hasNameError = false;
			this.hasUrlError = false;
			if (this.gameName === '') {
				this.hasNameError = true;
				hasError = true;
			}
			if (this.isValidUrl()) {
				this.hasUrlError = true;
				hasError = true;
			}
			if ( ! hasError) {
				this.addSiteGame();
			}
		},
		
		getSiteGameData: function () {
			var newGameSiteData = {
				user_id: this.user.id,
				name: this.gameName,
				type: this.newGameType,
				url: this.siteUrl,
				active: true
			};
			if (this.newGameType) {
				newGameSiteData.type = this.newGameType;
			}
			return newGameSiteData;
		},
		
		isValidUrl: function () {
			return (this.siteUrl === 'http://' || this.siteUrl === 'https://') || !this.checkUrl(this.siteUrl);
		},
		
		checkUrl: function(url) {
			var regexp = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
			return regexp.test(url);
		},
		
		addSiteGame: function () {
			this.newGameSiteData = this.getSiteGameData();
			this.$router.push({path: '/loading'});
			this.$store.dispatch('createGameWithSite', this.newGameSiteData)
				.then(this.handleSiteGameResponse.bind(this))
				.catch(Flash.setAjaxError.bind(Flash));
		},
		
		handleSiteGameResponse: function(response) {
			let data = response.data;
			if (data.site) {
				let game = data.game,
					site = {
						id: data.site,
						url: this.newGameSiteData.url,
						active: this.newGameSiteData.active
					};
				this.$store.commit('addSite', site);
				this.games.push(game);
				this.$store.state._settings.changes = true;
				this.$store.state._games.justCreated = true;
				this.$router.push('/site/' + site.id + '/game/' + game.id);
			} else {
				Flash.setError('Can\'t create game.');
				this.$router.push('/site/game/add');
			}
		}
	}
}
</script>