<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<div v-if="games.length > 0" class="container fixed-width">
		
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="dropdown" id="games">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuGames" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<div class="col-md-10 text-left">
								Create game
							</div>
							<div class="col-md-1">
								<span class="caret"></span>
							</div>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="statistic">
						<h4>Last 30 days statistic</h4>
						<ul class="list-unstyled">
							<li class="coupon">
								<span>Subscribers </span>
								<span class="pull-right"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<games></games>
		</div>
	</div>
</template>
<script type="text/javascript">

import games from './List/Games.vue';

export default {

	components: {
		games
	},

	data() {
		return {}
	},
	
	created() {
		this.dropToEmpty();
		if(this.games.length === 0) {
			this.$store.dispatch('getGames', this.$route.params.site_id);
		}
	},
	
	computed: {
		games() {
			return this.$store.state._games.games;
		}
	},
	
	methods: {
		dropToEmpty() {
			this.$store.state._coupons.loaded = 0;
			this.$store.state._settings.loaded = 0;
			this.loaded = 0;
			this.$store.commit('clearGame');
			this.$store.commit('clearSettings');
			this.$store.state._coupons.coupons = [];
			this.$store.state._settings.settings = {};
		}
	}
};

</script>