<template>
	<div>
		<!-- Right Side Of Navbar -->
		<ul class="user-account-dropdown nav navbar-nav navbar-right nav-right-center">
			
			<!-- <li v-if="showRateUsButton()">
				<a class="rate-us-link" href="https://apps.shopify.com/woohoo" target="_blank">Rate Us On Shopify</a>
			</li> -->
			
			<li v-if="isUpgradeShow()">
				<a href="javascript:void(0)" class="no-link upgrade-button">
					<router-link class="upgrade" to="/upgrade" v-on:mouseover.native="showInfo" v-on:mouseleave.native="hideInfo">Upgrade now</router-link>
					<div class="hidden-info">
						<div class="arrow-down"></div>
						<div class="info">
							{{ showTrialText() && getTrialDays() >= 0 ? getTrialDays() + ' days left on your trial' : '' }}
							{{ showShopifyUpgrade() ? getPlanInfoText() : '' }}
						</div>
					</div>
				</a>
			</li>
			
			<!-- Authentication Links -->
			<li class="user-dropdown-menu" v-if="user.app_id === 0">
				<a href="#" class="dropdown-toggle profile-dropdown" id="login-dropdown"
				   data-toggle="dropdown" role="button" aria-expanded="false">
					{{ user.name }}
				</a>
				<span class="caret"></span>
				<ul class="dropdown-menu profile" role="menu">
					<li v-if="user.is_admin">
						<a href="/admin/all-statistics">All by month</a>
					</li>
					<li v-if="user.is_admin">
						<a href="/admin/by-games">All by games</a>
					</li>
					<li v-if="user.is_admin">
						<a href="/admin/shopify">Shopify stores</a>
					</li>
					<li v-if="user.is_admin">
						<a href="/admin/shopify/subscribers">Shopify emails</a>
					</li>
					<li v-if="user.is_admin">
						<a href="/admin/shopify/orders">Shopify Sales</a>
					</li>
					<li v-if="user.is_admin">
						<a href="/admin/regular">Regular stores</a>
					</li>
					<li v-if="userHasAccess()">
						<router-link to="/sites">Sites</router-link>
					</li>
					<li>
						<router-link to="/profile">Profile</router-link>
					</li>
					<li>
						<router-link to="/affiliate">Affiliate</router-link>
					</li>
					<li>
						<a href="#" @click="logout">Logout</a>
					</li>
				</ul>
			</li>
			
			<admin-menu ref="adminMenu"></admin-menu>
			
		</ul>
		
		<ul class="rate-us-nav nav" v-if="showRateUs()">
			<li>
				<a class="rate-us-link" v-on:click.prevent="showTshirtModal" href="https://apps.shopify.com/woohoo?reveal_new_review=true" target="_blank">
					<img src="/img/tshirt/tshirt.png" /><!--https://image.ibb.co/mr7wC9/rate_star.png-->
					Get A Free WooHoo T-Shirt
				</a>
			</li>
		</ul>
		<ul class="rate-us-nav nav rate-us-new">
			<li>
				<a class="rate-us-link" href="https://apps.shopify.com/woohoo?reveal_new_review=true" target="_blank">
					<img src="/img/rate_star.png" />
					Rate Us on Shopify App Store
				</a>
			</li>
		</ul>

	</div>
</template>
<script>

import {post} from '../../helpers/api';

import {getData} from '../../helpers/data';

import subscriber from '../../helpers/subscriber';

import adminMenu from '../Templates/admin.menu.vue';

export default {
	
	components: {
		adminMenu
	},
	
	data() {
		return {
		
		};
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		plans() {
			return this.$store.state._users.user.plans;
		},
		
		shopifySubscriber() {
			return this.$store.state._users.user.shopifySubscription;
		},
		
		tshirtPopup() {
			return this.$store.state._app.popup.tshirt;
		},
	
	},
	
	methods: {
		
		showInfo(e) {
			$('.hidden-info').show();
		},
		
		hideInfo(e) {
			$('.hidden-info').hide();
		},
		
		isUpgradeShow() {
			return this.getPlanName() !== 'Unlimited'
				&& ((this.showTrialText() && this.getTrialDays() >= 0)
				|| this.showShopifyUpgrade());
		},
		
		showShopifyUpgrade() {
			return this.user.app_id > 0
				&& this.shopifySubscriber
				&& this.shopifySubscriber.hasOwnProperty('id');
		},
		
		showTrialText() {
			return !subscriber.hasOtherSubscription(this.user)
				&& subscriber.hasTrialTextAccess(this.user);
		},
		
		getTrialDays() {
			if (this.user.created_at) {
				return subscriber.getDaysTrialsLeft(this.user.created_at);
			}
			return null;
		},
		
		getPlanInfoText() {
			let plan = this.getPlanName(),
				text = 'You are currently on "' + plan + '" plan',
				outOfMax = 'Your monthly plan has max out ';
			if (this.isPlanRichMaxImpr(this.user)) {
				return outOfMax;
			}
			return text;
		},
		
		getPlanName() {
			let result;
			if (!getData(this.shopifySubscriber, 'plan_id', false)) return '';
			result = this.getCurrentPlanFieldValue('name');
			return result ? result : 'Can\'t define';
		},
		
		getCurrentPlanFieldValue: function (fieldName) {
			return subscriber.getCurrentPlanFieldValue(
				fieldName,
				this.copyObject(this.plans),
				this.copyObject(this.shopifySubscriber)
			);
		},
		
		copyObject (object) {
			return JSON.parse(JSON.stringify(object));
		},
		
		isPlanRichMaxImpr(user) {
			return subscriber.isPlanRichMaxImpr(user, this.copyObject(this.plans), this.copyObject(this.shopifySubscriber));
		},
		
		userHasAccess() {
			return subscriber.hasTrialOrSub(this.user);
		},
		
		logout() {
			post('/logout')
				.then(request => {
					window.location.href = '/login';
				})
				.catch(err => {
					if (err.response.status === 401) {
						history.pushState('', document.title, window.location.pathname);
						window.location.href = '/login';
					}
				});
		},
		
		showRateUs() {
			return this.user.app_id > 0 && this.$route.fullPath.indexOf('\/games') > -1;
		},
		
		showTshirtModal() {
			this.tshirtPopup.open();
		}
		
	}
}
</script>