<template xmlns:v-clipboard="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="modal fade" id="add-license-key" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
				</div>
				<div class="modal-body">
					
					<div v-if="user && user.license_keys && user.license_keys.length > 0">
						<label>Current keys:</label>
						<dl>
							<dt style="font-weight: 300" v-for="licenseKey in user.license_keys">
								{{ licenseKey.license_key }}
							</dt>
						</dl>
					</div>
					
					<form action="">
						<div class="form-input" v-bind:class="{ 'has-error': false }">
							<label>License Key:</label>
							<input type="text" class="form-control" v-model="licenseKey" v-on:keypress.enter.prevent="addLicense" />
							<span v-for="formError in formErrors">{{ formError[0] }}</span>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="clearForm">Cancel</button>
					<button type="button" class="btn btn-primary" v-on:click="addLicense">{{ options.buttonAdd }}</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import Flash from '../../helpers/flash';

export default {
	data() {
		return {
			options: {
				title: 'Add License Key',
				buttonAdd: 'Done',
				saveButtonHandler: function() {},
				cancelButtonHandler: function() {},
				formErrors: []
			},
			licenseKey: '',
			title: 'New license key',
			modal: {},
			opened: false
		};
	},
	
	mounted() {
		this.modal = $('#add-license-key');
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		formErrors: {
			get() {
				return this.$store.state._licenseKeys.formErrors;
			},
			set(value) {
				this.$store.state._licenseKeys.formErrors = value;
			}
		}
		
	},
	
	methods: {
		
		closeModal: function (e) {
			this.modal.modal('hide');
			this.options.cancelButtonHandler.call(this);
			this.opened = false;
		},
		
		doneButtonHandler: function (e) {
			this.options.saveButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function (options) {
			this.setModalOptions(options);
			this.modal.modal('show');
			this.opened = true;
		},
		
		setModalOptions: function (options) {
			for (var attr in options) {
				if (options.hasOwnProperty(attr)) {
					this.options[attr] = options[attr];
				}
			}
		},
		
		clearForm() {
			this.licenseKey = '';
		},
		
		addLicense: function(e) {
			let userId = this.user.id,
				licenseKey = this.licenseKey;
			this.$store.dispatch('addLicenseKey', {user_id: userId, license_key: licenseKey})
				.then(function(response) {
					let data = response.data;
					if (Number.isInteger(data.license_key)) {
						this.user.license_keys.push({id: data.license_key, license_key: licenseKey});
						this.clearForm();
						Flash.setSuccess('License key added successfully.')
					} else {
						this.formErrors = data.license_key;
					}
				}.bind(this))
				.catch(Flash.setAjaxError.bind(Flash));
		}
		
	}
}
</script>