<template>
	<div class="container site-settings">
		
		<!-- Site detail page -->
		<div class="panel panel-default site-panel">
			<div class="panel-heading no-padding">
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav" v-on:click.prevent="changeTab" style="margin: 10px 0;">
						<li v-bind:class="{ active: generalTab }"><a class="general" href="javascript:void(0)">General</a></li>
						<li v-bind:class="{ active: installTab }"><a class="install" href="javascript:void(0)">Install</a></li>
						<li><router-link :to="{path: '/site/' + siteId + '/integrations'}">Integrations</router-link></li>
					</ul>
					<p class="navbar-text navbar-right" style="margin-top:20px;">Site settings</p>
				</div>
			</div>
			<div v-if="generalTab" class="panel-body tab-general">
				<label for="siteUrl" class="input-label">Name</label>
				<form class="form-inline">
					<div class="form-group">
						<input v-on:keydown.enter.prevent="updateSite" class="site-url form-control" v-bind:class="{ disabled: !disabledInput }" :value="site.url" :readonly="!disabledInput" type="text"/>
					</div>
					<button v-if="disabledInput" v-on:click.prevent="updateSite" class="btn btn-default form-control">Save</button>
					<button v-on:click.prevent="turnOn" class="btn btn-default rename">{{ disabledInput ? 'Cancel' : 'Rename' }}</button>
				</form>
				<div class="footer-control">
					<router-link class="control-site pull-left" to="/sites">Manage sites</router-link>
					<span class="control-site pull-left">&nbsp;&nbsp;</span>
					<a v-if="isLifeTimeDealPlan()" class="control-site pull-left" href="javascript:void(0)" v-on:click="addLicenseKey">License Keys</a>
					<a v-on:click="deleteSite" class="control-site delete pull-right" href="javascript:void(0)">Delete site</a>
				</div>
			</div>
			<div v-if="installTab" class="panel-body tab-install">
				<h1>Paste this code into your website</h1>
				<p>Paste this code into every page you want to display widgets on right before the &lt;/body&gt; tag</p>
				<div class="input-group fake-textarea">
					<textarea id="copy-textarea" class="form-control custom-control" rows="5" cols="125" readonly v-model="script"></textarea>
					<button id="copy-code" class="btn btn-default btn-sm pull-right clipboard" @click="doCopy">Copy to clipboard</button>
				</div>
				<br/>
				<p class="text-muted"><small>
					The code is safe and loads asynchronously, so it will not slow down your website.
					If you need help installing the code, check our step-by-step guides or email us at team@getwoohoo.com.
				</small></p>
			</div>
		</div><!-- End site detail page -->
		<add-license-keys ref="addLicenseKeys"></add-license-keys>
	</div>
</template>

<script type="text/javascript">
	
import { get, post, update, del } from '../../helpers/api';

import Flash from '../../helpers/flash';

import gamePreview from '../../helpers/game-preview';

import	{clipboard} from '../../helpers/clipboard';

import {script} from '../../helpers/embedded-script';

import addLicenseKeys from '../Sites/AddLicenseKeys.vue';

import subscriber from '../../helpers/subscriber';

export default {
	
	components: {
		addLicenseKeys
	},
	
	data() {
		return {
			generalTab: true,
			installTab: false,
			disabledInput: false,
		}
	},

	created() {
		let id = parseInt(this.$route.params.site_id);
		this.$store.commit('currentSite', id);
		this.$store.commit('currentIntegrations', id);
	},

	mounted() {
		clipboard.modal = $('.site-panel');
	},
	
	computed: {

		site() {
			return this.$store.state._sites.site;
		},

		siteId() {
			return this.$store.state._sites.siteId;
		},

		games() {
			return this.$store.state._games.games;
		},
		
		script() {
			return script.getScript(this.scriptUrl);
		},
		
		user() {
			return this.$store.state._users.user;
		},
		
		scriptUrl() {
			return '//'+window.location.host + '/' + this.$store.state._sites.site.id + '/script.js';
		}
	},

	methods: {
		
		addLicenseKey(e) {
			this.$refs.addLicenseKeys.open();
		},
		
		updateSite(e) {
			let site = JSON.parse(JSON.stringify(this.site));
			site.url = $('.site-url').val();
			this.$store.dispatch('updateSite', site)
				.catch(err => {
					Flash.setError(err.response.data);
					this.turnOn(e);
				});

			this.turnOn(e);
		},

		deleteSite(e) {
			if (confirm('Are you sure you want to delete this site?')) {
				let data = {id: this.site.id};
				gamePreview.clearGlobalVariables(this.games);
				this.$store.dispatch('deleteSite', data);
				this.$router.push({path: '/sites'});
			}
		},

		changeTab(e) {
			if(e.target.className === 'install') {
				this.installTab = true;
				this.generalTab = false;
			} else if(e.target.className === 'general') {
				this.installTab = false;
				this.generalTab = true;
			}
		},

		turnOn(e) {
			this.disabledInput = !this.disabledInput;

			if (this.disabledInput === false) {
				$(e.target).blur();
			} else {
				$('.site-url').focus();
			}
		},
		
		doCopy(e) {
			clipboard.doCopy.apply(this, e);
		},
		
		isLifeTimeDealPlan() {
			return subscriber.getCurrentPlanName(this.user, 'otherSubscription') === 'Life time access';
		}

	}
}
</script>
