<template>
	<div class="container fixed-width no-padding">
		<h1 class="games-header integrations-header">Integrations to email services</h1>
		<p class="integrations-sub-header">Automatically push WooHoo collected emails to the selected services</p>
		<div class="integrations" v-if="servicesStateCounter">
			<div class="integration" v-for="(service, index) in services" v-if="index !== 'recart' || (user.app_id > 0 && index === 'recart')">
				<div :class="index + ' icon-wrapper'">
					<span class="icon"></span>
				</div>
				<div class="information" :class="index === 'recart' ? 'detail' : ''">
					<span class="name">{{ index === 'klaviyo' ? index.toUpperCase() : upperFirst(index) }} </span>
					<span class="status" v-if="index !== 'recart'">{{ getConnected(index) }}</span>
					<p class="detail" v-if="detail[index]" style="width: 528px">{{ detail[index] }}</p>
				</div>
				<div class="btn-group connection" v-if="index !== 'recart'" :style="{visibility: service ? 'visible' : 'hidden'}">
					<span class="label-list">Choose a list </span>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" :id="index" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span>{{ selectedListName[index] }}</span>
							<span class="caret" style="margin-left: 29px;"></span>
						</button>
						<ul class="dropdown-menu" :data-service="index" :aria-labelledby="index">
							<li v-for="(list, indexList) in getList(index)" @click="selectList" :data-id="list.id" :data-name="list.name">
								<a href="javascript:void(0)">{{ list.name }}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="control">
					<button v-if="isNewShopifyFreePlan()"
							class="btn btn-default new-games-button integrations-connect upgrade-for-connect"
							@click="redirectToUpgrade()"
					>Upgrade to connect</button>
					<button v-else
							:class="getButtonClass(service)"
							:data-service="index"
							@click="connectToService"
					>{{ getTextButton(index) }}</button>
				</div>
			</div>
		</div>
		<div class="integrations" v-else>Loading...</div>
		<integration
                ref="integration"
                v-bind:integrationParameters="integrationParameters"
        ></integration>
	</div>
</template>
<script>
import Flash from '../../helpers/flash';

import integration from '../Templates/integrations/integration.vue';

import subscriber from '../../helpers/subscriber';

export default {
	
	components: {
		integration
	},
	
	data() {
		return {
            integrationParameters: {
                'apiUrl': false,
                'apiKey': true
            },
			services: {
				mailchimp: false,
				klaviyo: false,
				recart: false,
                activecampaign: false,
				omnisend: false
			},
			selectedListName: {
				mailchimp: false,
				klaviyo: false,
				recart: false,
                activecampaign: false,
				omnisend: false
			},
			authForm:{
				mailchimp: false,
				klaviyo: false,
				recart: false,
				omnisend: false
			},
			detail: {
				recart: 'To use this feature Recart must be installed on your store. Once installed go to your game settings turn on collect messenger leads.'
			},
			windowHidden: 'hidden',
			visibilityChange: 0,
			lastServiceName: false,
			disconnectedService: false
		};
	},
	
	created() {
		this.servicesStateCounter = 0;
		let id = parseInt(this.$route.params.site_id);
		if (this.site.id) {
			this.$store.dispatch('getServicesData')
				.then(this.handleIntegrations.bind(this))
				.catch(Flash.setAjaxError.bind(Flash));
		}

		// this.setServiceActive('mailchimp');
		// this.setServiceActive('klavi_yo');
		// this.setServiceActive('activecampaign');
		
		this.setServiceActive('mailchimp');
		this.setServiceActive('klaviyo');
		this.setServiceActive('omnisend');
		this.setServiceActive('activecampaign');

		this.$store.commit('currentSite', id);
		this.onPageActive();
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		site() {
			return this.$store.state._sites.site;
		},
		
		siteId() {
			return this.site.id;
		},
		
		servicesStateCounter: {
			get() {
				return this.$store.state._integrations.servicesStateCounter;
			},
			set(value) {
				this.$store.state._integrations.servicesStateCounter = value;
			}
		},
		
		mailchimp: {
			get() {
				return this.$store.state._integrations.mailchimp;
			},
			set(value) {
				this.$store.state._integrations.mailchimp = value;
			}
		},
		
		mailchimpCurrentSite: {
			get() {
				return this.$store.state._integrations.mailchimpCurrentSite;
			},
			set(value) {
				this.$store.state._integrations.mailchimpCurrentSite = value;
			}
		},
		
		klaviyo: {
			get() {
				return this.$store.state._integrations.klaviyo;
			},
			set(value) {
				this.$store.state._integrations.klaviyo = value;
			}
		},
		
		klaviyoCurrentSite: {
			get() {
				return this.$store.state._integrations.klaviyoCurrentSite;
			},
			set(value) {
				this.$store.state._integrations.klaviyoCurrentSite = value;
			}
		},

        activecampaign: {
            get() {
                return this.$store.state._integrations.activecampaign;
            },
            set(value) {
                this.$store.state._integrations.activecampaign = value;
            }
        },

        activecampaignCurrentSite: {
            get() {
                return this.$store.state._integrations.activecampaignCurrentSite;
            },
            set(value) {
                this.$store.state._integrations.activecampaignCurrentSite = value;
            }
        },

		omnisend: {
			get() {
				return this.$store.state._integrations.omnisend;
			},
			set(value) {
				this.$store.state._integrations.omnisend = value;
			}
		},
		
		omnisendCurrentSite: {
			get() {
				return this.$store.state._integrations.omnisendCurrentSite;
			},
			set(value) {
				this.$store.state._integrations.omnisendCurrentSite = value;
			}
		}
	},
	
	watch: {
		site(value) {
			if (value.id) {
				this.$store.dispatch('getServicesData')
					.then(this.handleIntegrations.bind(this))
					.catch(Flash.setAjaxError.bind(Flash));
			}
		},
		
		mailchimpCurrentSite(value) {
			if (value && value.active) {
				this.setServiceActive('mailchimp');
				this.selectedListName['mailchimp'] = this.getCurrentListName('mailchimp');
			}
		},
		
		klaviyoCurrentSite(value) {
			if (value && value.active) {
				this.setServiceActive('klaviyo');
				this.selectedListName['klaviyo'] = this.getCurrentListName('klaviyo');
			}
		},

        activecampaignCurrentSite(value) {
            if (value && value.active) {
                this.setServiceActive('activecampaign');
                this.selectedListName['activecampaign'] = this.getCurrentListName('activecampaign');
            }
		},

		omnisendCurrentSite(value) {
			if (value && value.active) {
				this.setServiceActive('omnisend');
				this.selectedListName['omnisend'] = this.getCurrentListName('omnisend');
			}
		},
		
		servicesStateCounter(value) {
			if (value > 0) {
				let siteId = this.$store.state._sites.site.id;

				if (this.mailchimp.hasOwnProperty(siteId)) {
					this.$store.state._integrations.mailchimpCurrentSite = this.mailchimp[siteId];
				}

				if (this.klaviyo.hasOwnProperty(siteId)) {
					this.$store.state._integrations.klaviyoCurrentSite = this.klaviyo[siteId];
				}

                if (this.activecampaign.hasOwnProperty(siteId)) {
                    this.$store.state._integrations.activecampaignCurrentSite = this.activecampaign[siteId];
                }
                
				if (this.omnisend.hasOwnProperty(siteId)) {
					this.$store.state._integrations.omnisendCurrentSite = this.omnisend[siteId];
				}
			}
		}
	},
	
	methods: {
		
		onPageActive: function () {
			// page visibility detector
			// Standards:
			if (this.windowHidden in document)
				document.addEventListener('visibilitychange', this.windowFocus);
			else if ((this.windowHidden = 'mozHidden') in document)
				document.addEventListener('mozvisibilitychange', this.windowFocus);
			else if ((this.windowHidden = 'webkitHidden') in document)
				document.addEventListener('webkitvisibilitychange', this.windowFocus);
			else if ((this.windowHidden = 'msHidden') in document)
				document.addEventListener('msvisibilitychange', this.windowFocus);
			// IE 9 and lower:
			else if ('onfocusin' in document)
				document.onfocusin = document.onfocusout = this.windowFocus;
			// All others:
			else
				window.onpageshow = window.onpagehide
					= window.onfocus = window.onblur = this.windowFocus;
			// set the initial state (but only if browser supports the Page Visibility API)
			if (document[this.windowHidden] !== undefined)
				this.windowFocus({type: document[this.windowHidden] ? 'blur' : 'focus'});
		},
		
		handleIntegrations: function (response) {
			let data = response.data;
			this.setServiceData(data, 'klavi_yo');
			this.setServiceData(data, 'mail_chimp');
            this.setServiceData(data, 'active_campaign');
			this.setServiceData(data, 'omni_send');
			this.$store.state._integrations.servicesStateCounter++;
		},
		
		setServiceData: function (data, service) {

			if (this.isServiceConnected(data, service)) {
				let serviceName = service.replace('_', '');
				this.$store.state._integrations[serviceName] = data[service];
                this.$store.commit('currentIntegrations', this.site.id);
				this.setServiceActive(serviceName);
			}
		},
		
		isServiceConnected: function (data, service) {
			return typeof data[service] !== 'undefined'
				&& !Array.isArray(data[service]);
		},
		
		isServiceLoaded(serviceCode) {
			return this[serviceCode + 'CurrentSite']
				&& this[serviceCode + 'CurrentSite'].hasOwnProperty('lists')
				&& this[serviceCode + 'CurrentSite'].active;
		},
		
		setServiceActive(serviceCode) {
            if (this.isServiceLoaded(serviceCode)) {
				this.services[serviceCode] = true;
			}
		},
		
		getConnected(service) {
			return this.services[service] ? '(Connected)' : '(Not Connected)'
		},
		
		getTextButton(service) {
			let connect = (service === 'recart') ? 'Go to site' : 'Connect';
			return !this.services[service] ? connect : 'Disconnect';
		},
		
		connectToService(e) {
			let target = e.target,
				service = target.dataset.service,
				isConnected = this.services[service];
			if ( ! isConnected) {
				this.connectService(target);
			} else {
				this.disconnectService(service);
			}
		
		},
		
		disconnectService(service) {
			this.disconnectedService = service;
			this.$store.dispatch('updateService', {service: service, site_id: this.site.id, active: 0})
				.then(this.handleDisconnect.bind(this))
				.catch(Flash.setAjaxError.bind(Flash));
		},
		
		handleDisconnect(response) {
			if (this.updateServiceResponse(response)) {
				this.disableService(this.disconnectedService);
				this.services[this.disconnectedService] = false;
				this.disconnectedService = false;
			}
		},
		
		updateServiceResponse: function (response) {
			return response.hasOwnProperty('data')
				&& response.data.hasOwnProperty('service')
				&& response.data.service === 1;
		},
		
		disableService(disconnectedService) {
			if (this[disconnectedService + 'CurrentSite']) {
				this[disconnectedService + 'CurrentSite'].active = 0;
				this.services[disconnectedService] = false;
			}
		},
		
		connectService: function (target) {
			let service = target.dataset.service;
			switch (service) {
				case 'activecampaign':
				case 'omnisend':
				case 'klaviyo': this.showServiceFormData(service); break;
				case 'mailchimp': this.redirectOAuth(service); break;
				case 'recart': this.redirectRecart(); break;
				 this.showServiceFormData(service); break;
				default: break;
			}
		},
		
		showServiceFormData(service) {
			this.integrationParameters.apiUrl = false;
			let text = '';
			switch (service) {
				case 'activecampaign':
					this.integrationParameters.apiUrl = true;
					this.$forceUpdate();
					text = 'To get your API key, log in to ActiveCampaign and go to account....'; break;
				case 'klaviyo': text = 'To get your API key, log in to Klaviyo and go to Account > Settings > API ' +
					'Keys. Click Create API Key and generate a new Private API Key.'; break;
				case 'omnisend': text = 'To get your API key, log in to Omnisend and got to ' +
					'https://app.omnisend.com/#/my-account/integrations/api-keys and click button CREATE API KEY. ' +
					'Minimum permissions you have to give for that api key is Lists and Contacts.'; break;
				default: text = 'Something goes wrong. Please send email to support with yours set of actions.';
			}
			this.authForm[service] = true;
			this.lastServiceName = service;
			this.$refs.integration.open({
				text: text,
				saveButtonHandler: this.saveServiceAppData.bind(this)
			});
		},
		
		saveServiceAppData: function(result) {
            let inputStuck = result.inputStack;
			if (this.lastServiceName) {
				let data = {
					active: 1,
					service: this.lastServiceName,
					site_id: this.site.id
				};
				if (
					data.service === 'omnisend'
					|| data.service === 'klaviyo'
				) {
					inputStuck[0].style.borderColor = 'initial';
					if (result.formData.apiKey) {
						data.private_key = result.formData.apiKey;
					} else {
						inputStuck[0].style.borderColor = 'red';
						this.lastServiceName = data.service;
						return false;
					}
				}

				if (data.service === 'activecampaign') {
                    data.private_key = result.formData.apiKey;
                    data.api_url = result.formData.apiUrl;
                }

				this.$store.dispatch('setServiceData', data)
					.then(this.handleUpdateServiceInformation.bind(this))
					.catch(Flash.setAjaxError.bind(Flash));

				return true;
			}
		},
		
		redirectOAuth: function (service) {
			this.lastServiceName = service;
			let href = '/integrations/get-auth-url?service=' + service + '&site_id=' + this.site.id;
			this.clickLink(href);
		},
		
		redirectRecart() {
			this.clickLink('https://recart.com');
		},
		
		clickLink: function (href) {
			let link = document.createElement('a');
			link.href = href;
			link.target = '_blank';
			document.body.appendChild(link);
			link.click();
			link.remove();
		},
		
		upperFirst(index) {
			return index.charAt(0).toUpperCase() + index.slice(1);
		},
		
		windowFocus(event) {
			let v = 'visible', h = 'hidden',
				eventMap = {
					focus:v, focusin:v, pageshow:v, blur:h, focusout:h, pagehide:h
				};
			event = event || window.event;
			if (event.type in eventMap) {
				document.body.className = eventMap[event.type];
			} else {
				this.visibilityChange++;
				if (this.visibilityChange === 2) {
					this.updateServiceInformation();
					this.visibilityChange = 0;
				}
				document.body.className = this[this.windowHidden] ? 'hidden' : 'visible';
			}
		},
		
		updateServiceInformation: function () {
			if (this.isRefreshService()) {
				this.$store.dispatch('getServiceInformation', {service: this.lastServiceName, site_id: this.site.id})
					.then(this.handleUpdateServiceInformation.bind(this))
					.catch(Flash.setAjaxError.bind(Flash));
			}
		},
		
		isRefreshService: function () {
			return this.lastServiceName && this.lastServiceName === 'mailchimp';
		},
		
		handleUpdateServiceInformation(response) {
			if (this.isValidServiceData(response)) {
				if (typeof response.data.service.lists === 'string') {
					Flash.setError(response.data.service.lists);
					response.data.service.lists = [];
				} else {
					let serviceData = response.data.service;
					this[this.lastServiceName][this.siteId] = serviceData;
					this[this.lastServiceName + 'CurrentSite'] = serviceData;
					this.services[this.lastServiceName] = !!serviceData.active;
					this.lastServiceName = false;
				}
			}
		},
		
		isValidServiceData: function (response) {
			return response.hasOwnProperty('data')
				&& response.data.hasOwnProperty('service')
				&& response.data.service.hasOwnProperty('active')
				&& this.lastServiceName;
		},
		
		getFirstListName(index) {
			let list = this.getList(index),
				element = list.hasOwnProperty('0') ? list[0] : undefined;
			if (element && element.hasOwnProperty('name')) {
				return element.name;
			}
			return '';
		},
		
		getButtonClass(service) {
			return 'btn btn-default new-games-button integrations-connect' + (service ? ' disconnected' : '');
		},
		
		getList(index) {
			let list = [];
			if (this[index + 'CurrentSite']) {
				if (this.isServiceLoaded(index)) {
					if (this[index + 'CurrentSite'].hasOwnProperty('lists')) {
						list = this[index + 'CurrentSite'].lists;
					}
				}
			}
			return list;
		},
		
		selectList(e) {
			let target = e.currentTarget,
				service = target.parentNode.dataset.service.toLowerCase(),
				listId = target.dataset.id,
				payload = {
					active: 1,
					service: service,
					site_id: this.siteId,
					selected_list_id: listId
				};
			this.$store.dispatch('updateService', payload)
				.then(this.handleUpdateList.bind(this))
				.catch(Flash.setAjaxError.bind(Flash));
		},
		
		handleUpdateList(response) {
			if (this.updateServiceResponse(response)) {
				let updated = response.data.updated,
					selectedListId = updated.selected_list_id;
				this[updated.service + 'CurrentSite'].selected_list_id = selectedListId;
				this[updated.service][this.siteId].selected_list_id = selectedListId;
				this.selectedListName[updated.service] = this.getCurrentListName(updated.service);
			}
		},
		
		getCurrentListName(serviceName) {
			let serviceCurrentSite = serviceName + 'CurrentSite',
				listId = this[serviceCurrentSite]
						? this[serviceCurrentSite].selected_list_id
						: false;
			if (listId) {
				for(let list of this[serviceCurrentSite].lists) {
					if (list.id === listId) {
						return list.name;
					}
				}
			}
			return 'select list name';
		},
		
		isNumeric(n) {
			return !isNaN(parseFloat(n)) && isFinite(n);
		},
		
		redirectToUpgrade() {
			this.$router.push({path: '/upgrade'});
		},
		
		isNewShopifyFreePlan() {
			return subscriber.isNewShopifyFreePlan(this.user);
		}
		
	}
}
</script>