<template>
	<div class="container site-settings-list">
		<!-- Sites list -->
		<div class="panel panel-default site-panel">
			<div class="panel-heading no-padding">
				<div class="collapse navbar-collapse no-left-padding">
					<p class="navbar-text navbar-left">Sites</p>
				</div>
			</div>
			<div class="panel-body" v-if="userHasAccess()">
				<label class="input-label">Manage sites</label>
				<div class="row">
					<div class="col-md-12">
						<div v-if="sites" v-for="site in sites" class="site-manage">
							<div class="col-md-8 no-left-padding">
								<ul class="list-inline site">
									<li class="no-left-padding">
										<div class="btn-group site-tumbler">
											<button type="button"
											        class="btn btn-default dropdown-toggle tumbler"
											        v-bind:class="{off: !site.active}"
											        aria-haspopup="true"
											        aria-expanded="false"
											        data-toggle="dropdown">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="activate" :id="site.id" v-on:click.prevent="updateActive" href="#">Active</a></li>
												<li><a class="deactivate" :id="site.id" v-on:click.prevent="updateActive" href="#">Deactivate</a></li>
											</ul>
										</div>
									</li>
									<li>
										<router-link :to="{path: '/site/' + site.id}">{{ site.url }}</router-link>
									</li>
									<li><a :href="site.url" class="new-window" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
									<li><!-- <span>No active games</span>--></li>
								</ul>
							</div>
							<div class="col-md-4">
								<ul class="list-inline">
									<li><router-link class="btn btn-default" :to="{path: '/site/' + site.id}">Site settings</router-link></li>
									<li><button :id="site.id" v-on:click.prevent="deleteSite" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Button trigger modal -->
				<button v-if="!isJvzooPremium()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				  Add new site
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button v-on:click="clearForm" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">New site</h4>
							</div>
							<div class="modal-body">
								<form action="">
									<div class="form-input" v-bind:class="{ 'has-error': isFormHasErrors }">
										<label>Site url</label>
										<input type="text" class="form-control" v-model="url"  v-on:keypress.enter.prevent="addSite"/>
										<span v-for="formError in formErrors">{{ formError[0] }}</span>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="clearForm">Cancel</button>
								<button type="button" class="btn btn-primary" v-on:click="addSite">Add site</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="panel-body" v-else>
				<h3>Your subscription expired <router-link to="/upgrade">Upgrade now</router-link></h3>
			</div>
		</div><!-- Sites list -->
	</div>
</template>

<script type="text/javascript">
	
import { get, update, del, add } from '../../helpers/api.js';

import Flash from '../../helpers/flash.js'

import modal from '../Templates/modal';

import subscriber from '../../helpers/subscriber';

import sitesHelper from '../../helpers/sites';

import gamePreview from '../../helpers/game-preview';

export default {

	components: {
		'modal': modal
	},
	
	data() {
		return {
			url: ''
		}
	},
	
	created() {
		if(this.loaded) {
			this.sites = [];
			this.$store.dispatch('getAllSites')
				.then(sitesHelper.getAllSitesSuccess.bind(this))
				.catch(sitesHelper.getAllSitesError.bind(this));
		}
	},
	
	mounted() {
		if (this.user.app_id) {
		
		}
	},
	
	watch: {
		site(value){
			this.$store.state._games.games = [];
		}
	},
	
	computed: {

		loaded() {
			return this.$store.state._sites.loaded;
		},
		
		user() {
			return this.$store.state._users.user;
		},
		
		sites: {
			get() {
				return this.$store.state._sites.sites;
			},
			set(value) {
				this.$store.state._sites.sites = value;
			}
		},

		games() {
			return this.$store.state._games.games;
		},
		
		site() {
			return this.$store.state._sites.site;
		},
		
		isFormHasErrors() {
			return Object.keys(this.formErrors || {}).length !== 0
		},

		newSiteUrl() {
			return this.$store.state._sites.newSiteUrl;
		},

		formErrors() {
			return this.$store.state._sites.formErrors;
		}

	},

	methods: {
		
		isJvzooPremium() {
			return subscriber.hasJvzooSub(this.user, 'JVZoo Premium') && this.sites.length > 0;
		},
		
		addSite(e) {
			if (subscriber.hasSiteCreateAccess(this.user, this.sites.length)) {
				let data = {
					url: this.url,
					active: 1
				};
				this.clearForm();
				this.$store.dispatch('createSite', data)
					.catch(err => {
						if(typeof err['response'] !== 'undefined') {
							this.url = data.url;
							this.$store.commit('setFormErrors', err.response.data);
						}
					});
			} else {
				let message = 'You can\'t create more sites.';
				if (this.user.isracardSubscription) {
					message = message + ' Please upgrade to Premium Pro plan.';
				}
				this.$store.commit('setFormErrors', message);
			}
			
		},

		clearForm() {
			this.url = ''; 
			this.$store.commit('setFormErrors', {})
		},

		deleteSite(e) {
			if (confirm('Are you sure you want to delete this site?')) {
				let target = this.getTarget(e),
					data = { id: parseInt(target.id) },
					result = false;
					result = this.$store.dispatch('deleteSite', data);
					gamePreview.clearGlobalVariables(this.games);
				if (result !== false) {
					result.catch(err => {
						Flash.setError(err.response.data);
					});
				}
			}
		},

		updateActive(e) {
			let target = e.target,
				id = parseInt(target.id),
				site = this.$store.getters.getSiteById(id),
				data = {
					id: id, 
					active: (target.className === 'activate') ? 1 : 0,
					url: site.url
				};
			if( ! this.$store.getters.isSameActive(data)) {
				this.$store.dispatch('updateSite', data);
			}
		},

		getTarget(e) {
			return (e.target.tagName === 'SPAN') ? e.target.parentNode : e.target;
		},
		
		userHasAccess() {
			return subscriber.hasTrialOrSub(this.user);
		}
		
	}

};

</script>