<template xmlns:v-bind="" xmlns:v-on="">
	<div :class="getPlanContainerClass()">
		<p v-if="!user.app_id" class="plan-header">Choose a plan</p>
		<div v-else>
			<p class="plan-header text-center">Straightforward, affordable pricing</p>
			<p class="text-center">Choose the right plan to match your needs</p>
		</div>

		<div class="row plans-wrapper"
			 v-on:mouseover="hoverPlans">
			<div v-if="user.app_id"
				 v-bind:class="{'plan-popular-tag': true, 'hot': isHotPlan(plan)}"
				 v-for="(plan, index) in plans"
				 v-bind:style="{opacity: !isHotPlan(plan) ? 0 : 1}">
				<i class="em">🔥&nbsp;</i>
				<span>&nbsp;Most popular</span>
				<div v-bind:class="{'plan-close-shadow': true, 'hot': isHotPlan(plan)}"></div>
			</div>
			<div v-bind:class="getPlanClass(plan)"
				 v-if="plans.length && plan.name !== 'Starter'"
				 v-for="plan in plans"
				 @click="redirectToUpgradePage"
				 :data-plan-id="plan.id">
				<div class="plan-padding">
					<p v-if="user.app_id === 0" class="plan-name">{{ plan.name }} </p>
					<p class="plan-price" v-if="plan.amount !== '0.00'">
						<span class="currency">{{ getCurrencySign(plan.currency) }}{{ parseFloat(plan.amount) }}</span>
						<span class="period">/{{ plan.period }}</span>
					</p>
					<p class="plan-price" v-else>
						<span class="currency">Free</span>
					</p>
					<a v-if="user.app_id !== 0"
					   :class="getButtonClass()"
					   :disabled="isCurrentPlan(plan.id) || isDisabled"
					   href="javascript:void(0)">
						{{ getButtonText(plan.id) }}
					</a>
					<p v-if="user.app_id !== 0" class="plan-name">{{ plan.name }}</p>
					<ul class="plan-list">
						<li class="bold">{{ getPlanSelection(plan) }}</li>
						<li class="bold" v-if="isPlanWithBenefits(plan)">No Powered-by branding</li>
						<li class="bold" v-if="isPlanWithBenefits(plan)">Recart Messenger Integration</li>
						<li class="bold" v-if="isPlanWithBenefits(plan)">MailChimp Integration</li>
						<li class="bold" v-if="isPlanWithBenefits(plan)">Klaviyo Integration</li>
						<li>Game selection</li>
						<li>Smart triggers</li>
						<li>Real-time statistics</li>
						<li>Set coupons</li>
						<li>Image Upload</li>
						<li>Real-time statistics</li>
					</ul>
					<router-link v-if="user.app_id === 0"
								 :disabled="!userHasPlan(plan)"
								 :to="{ path: !userHasPlan(plan) ? null : 'upgrade/' + plan.id }"
								 :class="getButtonClass()"
								 :data-plan-id="plan.id">
						{{ !userHasPlan(plan) ? 'Current (in use)' : 'Select plan' }}
					</router-link>
				</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">

import Flash from '../../helpers/flash';

import {getParent} from '../../helpers/selector';

import {setCookie} from '../../helpers/cookies';

import {get} from '../../helpers/api';

export default {
	
	data() {
		return {
			isDisabled: false
		};
	},
	
	created() {
		this.plans = [];
		this.$store.state._subscriptions.subscription = false;
		if (typeof this.user.app_id !== 'undefined') {
			this.$store.dispatch('getPlans', this.user.app_id);
		}
	},
	
	computed: {
		
		site() {
			return this.$store.state._sites.site;
		},
		
		games() {
			return this.$store.state._games.games;
		},
		
		user() {
			return this.$store.state._users.user;
		},
		
		plans: {
			get() {
				return this.$store.state._plans.plans;
			},
			set(value) {
				this.$store.state._plans.plans = value;
			}
		},
		
		shopifySubscriber: {
			get() {
				return this.user.shopifySubscription;
			},
			set(value) {
				this.user.shopifySubscription = value;
			}
		}
		
	},
	
	watch: {
		user(value) {
			if(typeof value.app_id !== 'undefined' && this.plans.length === 0) {
				this.$store.dispatch('getPlans', value.app_id);
			}
		}
	},
	
	methods: {
		
		getCurrencySign(currencyName) {
			switch (currencyName) {
				case 'USD': return '$';
				case 'EUR': return '€';
				case 'ISL': return '₪';
			}
		},
		
		getPlanSelection(plan) {
			switch (plan.name) {
				case 'Premium': return '1 site';
				case 'Premium Plus': return '3 sites';
				case 'Starter': return 'Up to 100 impressions';
				case 'Basic': return 'Up to 1,000 impressions';
				case 'Advanced': return 'Up to 5,000 impressions';
				case 'Pro': return 'Up to 30,000 impressions';
				case 'Unlimited': return 'unlimited impressions';
				default: return '';
			}
		},
		
		userHasPlan(plan) {
			let currentSub = this.user.isracardSubscription;
			if (!currentSub) {
				return true;
			} else if(currentSub.description === plan.name && currentSub.isracard_status === 2) {
				return false;
			}
			return true;
		},
		
		getPlanContainerClass() {
			let shopify = '';
			if(this.user.app_id) {
				shopify = ' shopify';
			}
			return 'container fixed-width no-padding' + shopify;
		},
		
		getButtonClass() {
			let className = ' plan-button';
			if(this.user.app_id > 0) className = ' button-plan';
			return 'btn btn-default new-games-button' + className;
		},
		
		handlePlanChange: function (response) {
			let data = response.data,
				redirectUrl = this.games.length > 0 ? '/#/site/' + this.site.id + '/games' : '/';
			if (data.plans.url !== 'free') {
				setCookie('redirectUrl', redirectUrl);
				get('/').then(function() {
					window.location = data.plans.url;
				});
			} else {
				this.isDisabled = false;
				this.shopifySubscriber.plan_id = data.plans.id;
				window.location = redirectUrl;
			}
		},
		
		redirectToUpgradePage(e) {
			let planId,
				$element = $(e.target);
				if(!$element.hasClass('plan')) {
					planId = parseInt($element.parents('.plan')[0].dataset.planId);
				} else {
					planId = parseInt(e.target.dataset.planId);
				}
			if (!this.isCurrentPlan(planId)) {
				this.isDisabled = true;
				let data = {
					app_id: this.user.app_id,
					plan_id: parseInt(planId)
				};
				this.$store.dispatch('getNewPlanLink', data)
					.then(this.handlePlanChange)
					.catch(Flash.setAjaxError.bind(Flash));
			}
		},
		
		getButtonText(planId) {
			return this.isCurrentPlan(planId) ? 'Current plan' : 'Choose plan';
		},
		
		isCurrentPlan: function (planId) {
			return this.shopifySubscriber.plan_id === planId;
		},
		
		isHotPlan(plan) {
			return plan.name === 'Pro';
		},
		
		hoverPlans(e) {
			let color = 'transparent';
			if ($(e.target).parents('.plan').hasClass('tagged')) {
				color = '#06B0FF';
			}
			$('.plan-popular-tag.hot').css(this.getSideBorder(color, true));
		},
		
		getSideBorder: function (color, top = false) {
			let object = {
				'border-left-color': color,
				'border-right-color': color
			};
			if (top) {
				object['border-top-color'] = color;
			}
			return object;
		},
		
		getPlanClass(plan) {
			return 'plan' +
					(this.isHotPlan(plan) ? ' tagged' : '') +
					(plan.name === 'Starter' ? ' free-plan' : '');
		},
		
		isPlanWithBenefits(plan) {
			return ['Starter', 'Basic'].indexOf(plan.name) === -1;
		}
		
	}
	
};

</script>