<template>
	<ul class="design">
		<li @click="selectTab" v-bind:class="{'tab': true, 'active':isActivePresent()}" data-tab="present">
			<label class="input-label">
				PRESENT DESIGN
			</label>
		</li><!--
		--><li @click="selectTab" v-bind:class="{'tab': true, 'active':isActiveCustom()}" data-tab="custom">
		<label class="input-label">
			CUSTOM DESIGN
		</label>
	</li>
		<li class="line present" v-if="isActivePresent()">
			<ul class="design">
				<li @click="selectPresent" v-for="(colors, key) in present.schema"
					v-bind:data-index="key"
					v-bind:class="{'present': true, 'active': isActive(key, present.active)}"
				>
					<div v-for="(val, k) in colors" class="color-line" v-bind:style="{ 'background-color': val }"></div>
				</li>
			</ul>
		</li>
		<li class="line custom" v-if="isActiveCustom()">
			<ul class="list-inline color" style="display: flex;">
				<li v-for="(color, slice) in custom.schema">
					<popover :name="slice + '-color'" :closeOnContentClick="false">
						<div slot="face">
							<button v-on:click="setColorType" :data-name="slice" class="btn btn-default color-wrapper">
								<div class="color" v-bind:style="{ 'background-color': custom.schema[slice].hex }"></div>
							</button>
						</div>
						<div slot="content">
							<sketch-picker v-model="custom.schema[slice]" @change-color="onChangeColor"></sketch-picker>
						</div>
					</popover>
				</li>
			</ul>
		</li>
		<li class="line">
			<div class="col-md-12 no-right-padding" style="padding-left: 0">
				<div class="col-md-8 no-left-padding">
					<label class="switch-wrapper gpdr-wrapper">
						<div class="switch">
							<input id="cmn-toggle-4"
								   type="checkbox"
								   class="cmn-toggle cmn-toggle-round-flat"
								   v-bind:true-value="'1'"
								   v-bind:false-value="'0'"
								   v-bind:checked="colorize.active === '1'"
								   v-model="colorize.active"
								   v-on:change="selectColorize"
							/>
							<label for="cmn-toggle-4" style="display: inline-block"></label>
						</div>
						<span>Colorize Wheel</span>
					</label>
				</div>
				<div class="col-md-4 no-padding">
					<popover :name="'colorize-color'"
							 :closeOnContentClick="false"
							 style="width: 30px; margin: -1px 0 0 81px;"
					>
						<div slot="face">
							<button v-on:click="setColorType" data-name="colorize" class="btn btn-default color-wrapper">
								<div class="color" v-bind:style="{ 'background-color': colorize.schema.hex }"></div>
							</button>
						</div>
						<div slot="content">
							<sketch-picker v-model="colorize.schema" @change-color="onChangeColor"></sketch-picker>
						</div>
					</popover>
				</div>
			</div>
		</li>
	</ul>
</template>
<script>
import popover from 'vue-popover';

import { Sketch } from 'vue-color';

import hook from '../../../../helpers/game-hook.js';

import colorHelper from '../../../../helpers/color-helper.js';

import wheelColorSchema from '../../../../lucky-coupon/games/commands/get-wheel-color-schema';

export default {
	
	components: {
		'sketch-picker': Sketch,
		popover: popover,
	},
	
	data() {
		return {
			colorTypeName: '',
			customChanged: false,
			customClicked: false
		};
	},
	
	mounted() {
		hook.game_id = this.game.id;
		hook.vue_state = this;
	},
	
	computed: {
		game() {
			return this.$store.state._games.game;
		},
		settings: {
			get() {
				if (this.$store.state._settings.settings.colors.design.custom.active === '1') {
					this.customChanged = true;
				}
				return this.$store.state._settings.settings;
			},
			set(value){
				this.$store.state._settings.settings = value;
			}
		},
		present: {
			set(value) {
				this.$store.state._settings.settings.colors.design.present = value;
			},
			get() {
				return this.$store.state._settings.settings.colors.design.present;
			}
		},
		custom: {
			get() {
				return this.$store.state._settings.settings.colors.design.custom;
			},
			set(value) {
				this.$store.state._settings.settings.colors.design.custom = value;
			}
		},
		colorize: {
			get() {
				return this.$store.state._settings.settings.colors.design.colorize;
			},
			set(value) {
				this.$store.state._settings.settings.colors.design.colorize = value;
			}
		}
	},
	
	methods: {
		
		updateFrame(e) {
			hook.updateFrame(e);
		},
		
		isActivePresent() {
			return this.present && parseInt(this.present.active) > 0;
		},
		
		isActiveCustom() {
			var customActive = this.custom && parseInt(this.custom.active) > 0;
			if (customActive && !this.customClicked) {
				this.customChanged = true;
			}
			return customActive;
		},
		
		isActiveColorize() {
			return this.colorize && parseInt(this.colorize.active) > 0;
		},
		
		isActive(key, active) {
			return key === (parseInt(active) - 1);
		},
		
		setColorType(e) {
			let node = $(e.target).parents('.popover')[0],
				type = node.className.replace('popover ', '').replace('-color', '');
			if(type.indexOf('polygon') > -1 && this.isActiveColorize()){
				this.colorize.active = '0';
				let schema = wheelColorSchema.getSlicesColors(this.custom.schema);
				this.updateFrame({'target': 'svg', 'schema': schema});
			}
			this.target = type;
			this.setZIndex(e);
			this.colorTypeName = this.getColorVarName(type);
		},
		
		getColorVarName(rawName) {
			return rawName.replace(/-([a-z])/g, (g) => {
				return g[1].toUpperCase();
			});
		},
		
		setZIndex(e) {
			$('.popover').css('z-index', 0);
			$(e.target).parents('.popover').css('z-index', 2000);
		},
		
		onChangeColor(val) {
			let target = this.target,
				sliceName = this.colorTypeName,
				colors = this.getColorsArray(target, val.hex);
			if (this.isColorize(sliceName)) {
				this.colorize.schema = val;
				if (this.isActiveColorize()) {
					this.applyGeneratedToCustom(colors);
				}
			} else {
				this.customChanged = true;
				this.custom.schema[sliceName] = val;
			}
			if (this.isColorizeAndActive(sliceName)
				|| (!this.isColorize(sliceName) && this.isActiveCustom())
			) {
				this.updateFrame({'target': 'svg', 'schema': colors});
			}
		},
		
		isColorizeAndActive(sliceName) {
			return this.isColorize(sliceName) && this.isActiveColorize();
		},
		
		isColorize(name) {
			return name === 'colorize'
		},
		
		getColorsArray(target, hex) {
			let colors = [];
			if (target !== 'colorize') {
				colors = [{'name': target, 'hex': hex}];
			} else {
				colors = colorHelper.generateColors(hex);
			}
			return colors;
		},
		
		selectTab(event) {
			let design = $(event.target).parents('.design'),
				tabsHeader = design.find('.tab'),
				currentTab = (event.target.tagName === 'LI')
					? $(event.target)
					: $(event.target).parents('.tab'),
				tabName = currentTab.data('tab'), colors;
			tabsHeader.removeClass('active');
			currentTab.addClass('active');
			if (tabName === 'custom') {
				this.customClicked = true;
				let index = parseInt(this.present.active) !== 0 ? parseInt(this.present.active) - 1 : 0;
				if (
					this.colorize.active === '0' && !this.customChanged
				) {
					this.custom.schema = JSON.parse(JSON.stringify(this.present.schema[index]));
				}
			}
			this.present.active = '0';
			this.custom.active = '0';
			this[tabName].active = '1';
			colors = this[tabName].schema;
			if (
				!this.isActiveColorize()
				&& (!this.customChanged && tabName === 'present')
			) {
				let schema = wheelColorSchema.getSlicesColors(tabName === 'present' ? colors[0] : colors);
				this.updateFrame({'target': 'svg', 'schema': schema});
			}
		},
		
		selectPresent(e) {
			this.customChanged = false;
			let li = e.target.tagName === 'LI' ? $(e.target) : $(e.target).parent();
			this.present.active = (parseInt(li.data('index')) + 1) + '';
			if (this.isActiveColorize()) {
				this.colorize.active = '0';
			}
			let schema = wheelColorSchema.getSlicesColors(this.present.schema[li.data('index')]);
			this.updateFrame({'target': 'svg', 'schema': schema});
		},
		
		selectColorize(e) {
			this.customChanged = false;
			let colors = [], schema = {};
			if (this.isActiveColorize()) {
				schema = colorHelper.generateColors(this.colorize.schema.hex);
				this.applyGeneratedToCustom(schema);
			} else {
				let design = $(e.target).parents('.design'),
					tabName = design.find('.tab.active').data('tab');
					colors = this.getColorsByName(tabName);
				schema = wheelColorSchema.getSlicesColors(colors);
			}
			this.updateFrame({'target': 'svg', 'schema': schema});
		},
		
		getColorsByName(tabName) {
			let colors = this[tabName].schema;
			return (tabName === 'custom') ? colors : colors[parseInt(this[tabName].active) - 1];
		},
		
		applyGeneratedToCustom: function (colors) {
			for (let color of colors) {
				this.custom.schema[color.name].hex = color.hex;
			}
		}
	
	}
}
</script>