<template>
	<div v-if="showFeedback" class="row games-gap">
		<div class="container" style="min-height: 145px">
			
			<div v-if="screens.enjoy" class="feedback-interactive">
				<div class="row text-center">
					<h1>Do you enjoy using WooHoo?</h1>
				</div>
				<div class="row text-center" style="margin-top: 17px">
					<button @click="showFeedbackBadge" class="btn btn-default new-games-button cancel">Not really</button>
					<button @click="showRateBadge" class="btn btn-default new-games-button">Yes</button>
				</div>
			</div>
			
			<div v-if="screens.rate" class="feedback-interactive">
				<div class="row text-center">
					<h1>That is Great! How about to rate us on the Shopify App Store then?</h1>
				</div>
				<div class="row text-center" style="margin-top: 17px">
					<button @click="remove" class="btn btn-default new-games-button cancel">No, Thanks</button>
					<button @click="rateUs" class="btn btn-default new-games-button">Ok, Sure</button>
				</div>
			</div>
			
			<div v-if="screens.feedback" class="feedback-interactive">
				<div class="row text-center">
					<h1>Sorry to hear that, would you mind giving us some feedback?</h1>
				</div>
				<div class="row text-center" style="margin-top: 17px">
					<button @click="remove" class="btn btn-default new-games-button cancel">No, Thanks</button>
					<button @click="giveFeedback" class="btn btn-default new-games-button">Ok, Sure</button>
				</div>
			</div>
			
		</div>
	</div>
</template>
<script>
import feedback from '../../../lucky-coupon/popup/feedback';

export default {
	data() {
		return {
			screens: {
				enjoy: true,
				rate: false,
				feedback: false
			},
			loader: 0
		};
	},
	
	created(){
		feedback.vue = this;
		this.showFeedback = false;
	},
	
	computed: {
		user() {
			return this.$store.state._users.user;
		},
		games() {
			return this.$store.state._games.games;
		},
		showFeedback: {
			get() {
				return this.$store.state._games.showFeedback;
			},
			set(value) {
				this.$store.state._games.showFeedback = value;
			}
		}
	},
	
	watch: {
		user(value) {
			if (value.id) {
				this.loader = this.loader + 1;
			}
		},
		games(value) {
			if(value.length) {
				this.loader = this.loader + 1;
			}
		},
		loader(triggersCount) {
			if(this.isFeedbackAvailable(triggersCount)) {
				this.showFeedback = true;
				feedback.handle();
			} else {
				this.showFeedback = false;
			}
		}
	},
	
	methods: {
		
		isFeedbackAvailable(triggersCount){
			return this.isTriggered(triggersCount)
				&& this.isDataAvailable();
		},
		
		isTriggered(triggersCount) {
			return triggersCount > 1 || this.isUserLoaded(triggersCount);
		},
		
		isUserLoaded(triggersCount) {
			return 'is_first_time' in this.user && this.user.app_id > 0 && triggersCount > 0;
		},
		
		isDataAvailable() {
			return this.user.is_first_time && this.user.app_id > 0 && this.games.length > 0;
		},
		
		showFeedbackBadge() {
			this.hideBadges();
			this.screens.feedback = true;
		},
		
		showRateBadge() {
			this.hideBadges();
			this.screens.rate = true;
		},
		
		hideBadges() {
			for (let screenName in this.screens) {
				this.screens[screenName] = false;
			}
		},
		
		remove() {
			this.showFeedback = false;
		},
		
		rateUs() {
			this.remove();
			window.open('https://apps.shopify.com/woohoo?reveal_new_review=true', '_blank');
		},
		
		giveFeedback() {
			this.remove();
			if (window.hasOwnProperty('_gscq')) {
				window['_gscq'].push(['show', 222985]);
			}
		}
		
	}
}
</script>