<template>
	<div class="row games-gap">
		<div class="col-md-12 games">
			<div v-if="games.length > 0" class="container">
				<div class="row game" v-for="game in games" v-if="game.is_created" v-bind:key="game.id" :id="game.id">
					<div class="inner-game">
						<div class="col-md-3" style="position: relative;">
							<div class="game-frame-wrapper">
								<iframe class='screen-preview' src="about:blank" frameborder="0"></iframe>
							</div>
						</div>
						<div class="col-md-9">
							<div class="col-md-12 no-padding header">
								<div v-on:click="updateName" class="col-md-6 no-padding change-name">
									<span class="name-holder" style="margin-left: 10px;">
										{{ game.name }}
										<span class="edit-name icon-Edit" style="margin-left: 10px;"></span>
									</span>
								</div>
								<div class="col-md-8 left-padding change-name-form" style="margin-left:6px; display: none;">
									<form class="form form-inline">
										<input @keypress.prevent.enter="saveUpdateName" @keydown.esc="cancelUpdateName" class="form-control btn-height" type="text" style="width: 250px;" v-model="tempName"/>
										<button @click.prevent="saveUpdateName" class="btn-default btn btn-height">Save</button>
										<button @click.prevent="cancelUpdateName" class="btn-default btn btn-height">Cancel</button>
									</form>
								</div>
								<div class="col-md-1 no-padding active-name-form">
									<div class="btn-group site-tumbler">
										<button type="button" class="btn btn-default dropdown-toggle tumbler" v-bind:class="{off: !game.active}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a class="activate" :id="game.id" v-on:click.prevent="updateActive" href="#">Active</a></li>
											<li><a class="deactivate" :id="game.id" v-on:click.prevent="updateActive" href="#">Deactivate</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-12 no-padding body">
								<div class="col-md-6 no-padding">
									<table class="game-statistic">
										<tr class="values">
											<td>{{ getImpressions(game) }}</td>
											<td>{{ getHits(game) }}</td>
											<td>{{ getCtr(game) }}</td>
											<td>{{ parseDate(game.created_at) }}</td>
										</tr>
										<tr class="captions">
											<td>impr.</td>
											<td>hits</td>
											<td>ctr %</td>
											<td>days</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="col-md-12 no-padding footer">
								<div class="col-md-10 no-padding">
									<a
										@click.prevent="showImpressions"
										:data-game_id="game.id"
										class="btn btn-default btn-sm edit-game"
										:disabled="frameDataLoaded < 3"
									>Edit</a>
									<a :disabled="frameDataLoaded < 3"
									   class="btn btn-default btn-sm preview-game"
									   @click.prevent="runGamePreview"
									>Preview</a>
									<button @click.prevent="downloadSubscribers"
											class="btn btn-default btn-sm download-subscribers"
									>Download subscribers</button>
								</div>
								<div class="col-md-2 text-right">
									<button style="top: -2px;" class="btn btn-default btn-sm delete-game" @click="deleteGame">
										<span class="icon-Delete" aria-hidden="true"></span> 
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<modal ref="modal"></modal>
			<rate-us ref="rateUs"></rate-us>
		</div>
	</div>
</template>
<script>

import { getParent } from '../../../helpers/selector.js';

import { downloadFile } from '../../../helpers/download.js';

import gamePreview from '../../../helpers/game-preview.js';

import modal from '../../Templates/modal';

import rateUs from '../../Templates/rate-us.vue';

import {outImpressions} from '../../../lucky-coupon/popup/out-impressions';

import {getData} from '../../../helpers/data';

export default {
	
	components: {
		modal,
		'rate-us': rateUs
	},
	
	data() {
		return {
			list: [],
			tempName: '',
			loaded: 0,
			defaultLoaded: 3,
			gameObject: {}
		};
	},
	
	computed: {
		user() {
			return this.$store.state._users.user;
		},
		site() {
			return this.$store.state._sites.site;
		},
		games() {
			return this.$store.state._games.games;
		},
		frameDataLoaded() {
			return this.$store.state._games.frameDataLoaded;
		},
		settings() {
			return this.$store.state._settings.settings;
		},
		coupons() {
			return this.$store.state._coupons.coupons;
		},
		integrations() {
			return this.$store.state._integrations.integrations;
		},
		sLoaded() {
			return this.$store.state._settings.loaded;
		},
		cLoaded() {
			return this.$store.state._coupons.loaded;
		},
		iLoaded() {
			return this.$store.state._integrations.loaded;
		},
		shopify_app() {
			return this.$store.state._shopifyApps.shopifyApp;
		},
		maxImpressionsPopup: {
			get() {
				return this.$store.state._games.impressionsMaxPopup;
			},
			set(value) {
				this.$store.state._games.impressionsMaxPopup = value;
			}
		}
	},
	
	watch: {
		
		sLoaded(value) {
			if (value > 0 &&  ( ! this.$store.state._settings.settings.hasOwnProperty('position'))) {
				let defaultSettings = JSON.parse(JSON.stringify(this.$store.state._settings.defaultSettings));
				this.$store.commit('setSettings', defaultSettings);
			}
			this.loaded = this.loaded + value;
		},
		
		cLoaded(value) {
			if (value > 0 && this.$store.state._coupons.coupons.length === 0) {
				let defaultCoupons = JSON.parse(JSON.stringify(this.$store.state._coupons.defaultCoupons));
				this.$store.commit('setCoupons', defaultCoupons);
			}
			this.loaded = this.loaded + value;
		},
		
		iLoaded(value) {
			this.loaded = this.loaded + value;
		},
		
		loaded(value) {
			if (value === this.defaultLoaded) {
				gamePreview.clearGlobalVariables(this.games);
				this.setPoweredBy();
				let script = gamePreview.getGameScript(this.settings, this.coupons,
					this.site.id, this.gameObject, this.integrations);
				document.body.appendChild(script);
			}
		},
		
		games(value) {
			if (value.length) {
				gamePreview.clearGlobalVariables(value);
			}
		}
		
	},
	
	methods: {
		
		setPoweredBy: function(id) {
			if(this.isLtdUser()) {
				this.settings.behavior.isPoweredByVisible = '0';
			}
		},
		
		isLtdUser: function() {
			return getData(this.user, 'license_keys.0.id', false);
		},
		
		downloadSubscribers(e) {
			var id = getParent(e.target, 'row game').id;
			this.$store.dispatch('getSettings', id);
			this.$store.dispatch('getSubscribers', id)
				.then(response => {
					let text = response.data,
						filename = 'subscribers-game-' + id + '.csv';
					this.getSubscribers(text, filename, id);
				});
		},
		
		getSubscribers (text, filename, id) {
			if (text !== '') {
				downloadFile(filename, text);
				let game = this.$store.getters.getGameById(parseInt(id));
				if (this.isRatedApp(game)) {
					this.showRateUs();
				}
			} else {
				let message = 'You have no subscribers for this game.';
				if (this.settings.behavior.collectEmailWithRecart === '1') {
					message = 'You are running a Recart Facebook Messenger campaign - The data is sent and stored on Your Recart app account.';
				}
				this.showModal(null, message);
			}
		},
		
		showModal(title, text) {
			this.$refs.modal.open({
				title: title ? title : null,
				text: text
			});
		},
		
		showRateUs() {
			this.shopify_app.showed_rate_modal = 1;
			setTimeout(this.rateModal.bind(this), 1000);
		},
		
		isRatedApp(game) {
			return this.user.app_id && !this.shopify_app.showed_rate_modal && game.hits > 14;
		},
		
		rateModal() {
			this.$store.dispatch('updateModalFlag', {id: this.user.app_id, showed_rate_modal: 1});
			this.$refs.rateUs.open({
				doneButtonHandler: function () {
					window.open('https://apps.shopify.com/woohoo', '_blank');
				}.bind(this)
			});
		},
		
		updateActive(e) {
			let target = e.target,
				id = parseInt(target.id),
				game = this.$store.getters.getGameById(id),
				data = JSON.parse(JSON.stringify(game));
			data.active = (target.className === 'activate') ? 1 : 0;
			if ( game.active !== data.active ) {
				this.$store.dispatch('updateGame', data);
			}
		},
		
		updateName(e) {
			let node = e.target.className.indexOf('change-name') !== -1
					? e.target.querySelector('.name-holder')
					: getParent(e.target, 'name-holder'),
				changeNameForm = getParent(node, 'header').querySelector('.change-name-form');
			this.tempName = node.firstChild.nodeValue.trim();
			getParent(node, 'change-name').style.display = 'none';
			changeNameForm.style.display = 'block';
			changeNameForm.querySelector('input').focus();
		},
		
		cancelUpdateName(e) {
			this.tempName = '';
			let form = getParent(e.target, 'change-name-form');
			form.style.display = 'none';
			getParent(form, 'header').querySelector('.change-name').style.display = 'block';
		},
		
		saveUpdateName(e) {
			let gameId = parseInt(getParent(e.target, 'row game').id),
				game = this.$store.getters.getGameById(gameId),
				data = JSON.parse(JSON.stringify(game));
			data.name = this.tempName;
			if ( game.name !== data.name ) {
				this.$store.dispatch('updateGame', data);
				this.tempName = '';
			}
			this.cancelUpdateName(e);
		},
		
		getGameUrl(gameId) {
			return '/site/' + this.site.id + '/game/' + gameId;
		},
		
		deleteGame(e) {
			if(confirm('Are you sure you want to delete this game?')) {
				let gameId = parseInt(getParent(e.target, 'row game').id),
					game = this.$store.getters.getGameById(gameId);
				if(game.id) {
					this.$store.dispatch('deleteGame', {id: game.id, site_id: game.site_id});
				}
			}
		},
		
		runGamePreview(e) {
			this.dropToEmpty();
			let node = getParent(e.target, 'row game'),
				game = this.$store.getters.getGameById(parseInt(node.id)),
				id = parseInt(game.id);
				this.gameObject = game;
			if(id) {
				//@todo: make one call for all
				this.$store.dispatch('getSettings', id);
				this.$store.dispatch('getCoupons', id);
				this.$store.dispatch('getIntegrations', id);
			}
		},
		
		dropToEmpty() {
			this.gameObject = {};
			this.$store.state._coupons.loaded = 0;
			this.$store.state._settings.loaded = 0;
			this.$store.state._integrations.loaded = 0;
			this.loaded = 0;
			this.$store.commit('clearGame');
			this.$store.commit('clearSettings');
			this.$store.state._coupons.coupons = [];
			this.$store.state._settings.settings = {};
			this.$store.state._integrations.integrations = {};
		},
		
		parseDate(str) {
			let oneDay = 24 * 60 * 60 * 1000,
				today = new Date(),
				parsedDate = Math.round(Math.abs((Date.parse(str) - today.getTime())/oneDay));
			return parsedDate || 0;
		},
		
		getImpressions(game) {
			let impressions = 0,
				deviceImpressions = 0;
			if (game.impressions) {
				impressions = game.impressions;
			}
			if (game.device_impressions) {
				deviceImpressions = game.device_impressions;
			}
			return impressions + deviceImpressions;
		},
		
		getHits(game) {
			let hits = 0,
				deviceHits = 0;
			if (game.hits) {
				hits = game.hits;
			}
			if (game.device_hits) {
				deviceHits = game.device_hits;
			}
			return hits + deviceHits;
		},
		
		getCtr(game) {
			let hits = this.getHits(game),
				impressions = this.getImpressions(game);
			return hits === 0 || ! hits
				? 0
				: parseFloat(parseFloat(hits / impressions * 100).toFixed(2));
		},
		
		showImpressions(e) {
			outImpressions.init(this, this.user, this.maxImpressionsPopup);
			outImpressions.showIfOutImpressions();
			if(!outImpressions.isUserOutOfImpressions()) {
				if (this.frameDataLoaded > 2) {
					this.$router.push({path: this.getGameUrl(getParent(e.target, 'edit-game').dataset.game_id)});
				}
			}
		}
	}
	
};
</script>