<template>
	<div class="container fixed-width no-padding">
		<statistics></statistics>
		<div class="row">
			<div class="col-md-6">
				<span class="games-header">My Games ({{ getCreated() }})</span>
			</div>
			<div class="col-md-6">
				<a
					@click="showImpressions"
					class="btn btn-default new-games-button pull-right"
				>+ New Game</a>
			</div>
		</div>
		<games v-if="games.length > 0"></games>
		<no-games v-if="showNoGames"></no-games>
		<feedback-interactive></feedback-interactive>
	</div>
</template>
<script>

import games from './Games.vue';

import noGames from './NoGames.vue';

import { frameDataLoader } from '../../../helpers/frame-data-loader';

import gamePreview from '../../../helpers/game-preview.js';

import {getCookie, deleteCookie} from '../../../helpers/cookies';

import {get} from '../../../helpers/api';

import {outImpressions} from '../../../lucky-coupon/popup/out-impressions';

import feedbackInteractive from './FeedbackInteractive.vue';

import statistics from './Statistics/List.vue';

import {getData} from '../../../helpers/data';

export default {
	
	components: {
		noGames,
		games,
		feedbackInteractive,
		statistics
	},
	
	data() {
		return {
			showNoGames: false,
			entitiesName: ['totalImpressions', 'totalCapturedEmails', 'totalCtr', 'revenueFromCoupons']
		};
	},
	
	created() {
		this.frameDataLoaded = 0;
		let siteId = parseInt(this.$route.params.site_id);
		this.dropToEmpty();
		if (this.games.length === 0) {
			this.$store.dispatch('getGames', siteId);
		}
	},
	
	mounted() {
		this.frameDataLoaded = 0;
		if (this.user.app_id === 0) {
			this.entities.revenueFromCoupons.setShow(false);
			this.entitiesName.map(function (el) {
				this.entities[el].setMainSubClass('regular');
			}.bind(this));
		}
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		games() {
			return this.$store.state._games.games;
		},
		
		frameDataLoaded: {
			get(){
				return this.$store.state._games.frameDataLoaded;
			},
			set(value){
				this.$store.state._games.frameDataLoaded = value;
			}
		},
		
		gamesLoaded() {
			return this.$store.state._games.loaded;
		},
		
		settingsFrameData() {
			return this.$store.state._settings.frameData;
		},
		
		couponsFrameData() {
			return this.$store.state._coupons.frameData;
		},
		
		integrationsFrameData() {
			return this.$store.state._integrations.frameData;
		},
		
		deleteGame() {
			return this.$store.state._games.deleteGame;
		},
		
		maxImpressionsPopup: {
			get() {
				return this.$store.state._games.impressionsMaxPopup;
			},
			set(value) {
				this.$store.state._games.impressionsMaxPopup = value;
			}
		},
		
		entities: {
			get() {
				return this.$store.state._games.entities;
			},
			set(values) {
				this.$store.state._games.entities = values;
			}
		},
		
		entitiesName: {
			get() {
				return this.$store.state._games.entitiesName;
			},
			set(values) {
				this.$store.state._games.entitiesName = values;
			}
		}
	},
	
	watch: {
		
		games(value) {
			if (value.length) {
				let gamesId = value.map(function(game){
					return game.id;
				});
				if (gamesId.length > 0) {
					frameDataLoader.handle(this, gamesId, function(){
						this.frameDataLoaded = this.frameDataLoaded + 1;
					}.bind(this));
				}
			}
		},
		
		deleteGame(value) {
			if (this.isEmptyObject(this.games)) {
				this.showNoGames = true;
			} else {
				this.showNoGames = false;
			}
		},
		
		gamesLoaded(value) {
			if (value === 1) {
				if (this.isEmptyObject(this.games)) {
					this.showNoGames = true;
				} else {
					this.showNoGames = false;
				}
			}
		},
		
		settingsFrameData(value) {
			if(value.length !== 0) {
				this.frameDataLoaded = this.frameDataLoaded + 1;
			}
		},
		
		couponsFrameData(value) {
			if(value.length !== 0) {
				this.frameDataLoaded = this.frameDataLoaded + 1;
			}
		},
		
		frameDataLoaded(value) {
			if(value%3 === 0) {
				gamePreview.clearAllGlobalVariables();
				this.$store.state._games.games.map(function(el) {
					if (!el.is_created) {
						this.$store.dispatch('deleteGame', el);
					} else {
						this.setPoweredBy(el.id);
						let frame = $('#'+el.id+'.row.game').find('.game-frame-wrapper iframe'),
							script = gamePreview.getGameScript(
								this.settingsFrameData[el.id],
								this.couponsFrameData[el.id],
								this.$store.state._sites.site.id,
								el);
						gamePreview.insertScript(frame, script, el.id);
					}
				}.bind(this));
			}
		}
	},
	
	methods: {
		
		setPoweredBy: function(id) {
			if(this.isLtdUser()) {
				this.settingsFrameData[id].behavior.isPoweredByVisible = '0';
			}
		},
		
		isLtdUser: function() {
			return getData(this.user, 'license_keys.0.id', false);
		},
		
		isEmptyObject(object) {
			return object.length === 0 || JSON.stringify(object) === JSON.stringify({})
		},
		
		dropToEmpty() {
			this.$store.state._coupons.loaded = 0;
			this.$store.state._settings.loaded = 0;
			this.loaded = 0;
			this.$store.commit('clearGame');
			this.$store.commit('clearSettings');
			this.$store.state._games.games = [];
			this.$store.state._coupons.coupons = [];
			this.$store.state._settings.settings = {};
			this.frameDataLoaded = 0;
			this.$store.state._settings.frameData = [];
			this.$store.state._coupons.frameData = [];
			if (getCookie('redirectUrl')) {
				deleteCookie('redirectUrl');
				get('/');
			}
		},
		
		getCreated() {
			let count = 0;
			if (this.games.length) {
				for(let game of this.games) {
					if (game.is_created) {
						count++;
					}
				}
			}
			return count;
		},
		
		showImpressions() {
			outImpressions.init(this, this.user, this.maxImpressionsPopup);
			outImpressions.showIfOutImpressions();
			if(!outImpressions.isUserOutOfImpressions()) {
				this.$router.push({path: '/site/game/add'});
			}
		}
	}
}

</script>