<template>
	<div class="row">
		<div class="col-md-12">
			<div class="new-games-area">
				<div class="inner">
						<span class="cube">
						</span>
				</div>
				<p class="no-games-header">No games yet...</p>
				<p class="hint text-center desktop">To create your first game click on the <span class="highlighted">+ new game</span> button</p>
				<p class="hint text-center mobile">To create your first game open WooHoo game editor on your <b>desktop PC</b></p>
			</div>
		</div>
	</div>
</template>