<template>
	<ul class="user-account-dropdown nav navbar-nav navbar-right nav-right-center"
		v-if="isAdminExitAvailable()"
	>
		<li>
			<a href="javascript:void(0)" @click="setIsFirstTime()">{{ getReloadText() }}</a>
		</li>
		<li>
			<a href="/admin">Exit to admin area</a>
		</li>
	</ul>
</template>
<script>

import {getCookie} from '../../helpers/cookies';

export default {
	data() {
		return {
		
		};
	},
	
	computed: {
		user() {
			return this.$store.state._users.user;
		},
		showFeedback: {
			get() {
				return this.$store.state._games.showFeedback;
			},
			set(value) {
				this.$store.state._games.showFeedback = value;
			}
		}
	},
	
	methods: {
		isAdminExitAvailable() {
			return getCookie('adminArea') !== '' && !this.user.is_admin;
		},
		setIsFirstTime() {
			this.$store.dispatch('saveUserProfileData', {
				id: this.user.id,
				is_first_time: 1,
				name: this.user.name,
				email: this.user.email,
				partly: true,
				handler: function() {
					this.user.is_first_time = 1;
					this.showFeedback = true;
				}.bind(this)
			});
		},
		getReloadText() {
			return !this.user.is_first_time ? 'Reload feedback' : 'Feedback reloaded';
		}
	}
}
</script>