<template>
	<div class="modal fade" id="lucky-coupon-confirm-global-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content confirm">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body">{{ options.text }}</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="cancelButtonHandler">Discard changes</button>
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">{{ options.centerButtonText }}</button>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			options: {
				title: 'Unsaved Changes',
				text: 'You made some changes in the game. What would you like to do?',
				centerButtonText: 'Save Changes',
				saveButtonHandler: function(){},
				cancelButtonHandler: function(){},
				updateGameCommand: {}
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#lucky-coupon-confirm-global-modal');
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		doneButtonHandler: function(e) {
			this.options.saveButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		cancelButtonHandler: function(e) {
			this.options.cancelButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						this.modal.find('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		}
	}
}
</script>