<template>
	<div class="modal fade" id="lucky-coupon-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content congratulation">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body"></div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">{{ options.centerButtonText }}</button>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			options: {
				title: 'Lucky coupon action',
				text: 'Just text.',
				centerButtonText: 'Done',
				saveButtonHandler: function(){},
				cancelButtonHandler: function(){}
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#lucky-coupon-modal');
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
			this.options.cancelButtonHandler.call(this);
		},
		
		doneButtonHandler: function(e) {
			this.options.doneButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						$('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		}
	}
}
</script>