<template xmlns:v-clipboard="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="modal fade" id="embedded-code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content congratulation embedded">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body">
					<p class="embedded-text">To install the game on your site Paste this code into your website</p>
					<p class="embedded-text">Paste this code into every page you want to display widgets on right before the &lt;/body&gt; tag</p>
					<div class="input-group fake-textarea">
						<textarea id="copy-textarea" class="embedded-textarea form-control custom-control" rows="5" cols="125" title=""
								  v-model="script" readonly></textarea>
						<button id="copy-code" class="btn btn-default btn-sm pull-right clipboard"
								   @click="doCopy">Copy to clipboard</button>
					</div>
					<p class="embedded-text" style="line-height: 0;">The code is safe and loads asynchronously, so it will not slow down your website. If you need help installing the code email us at
						<a href="mailto:team@getwoohoo.com">team@getwoohoo.com</a>.</p>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">{{ options.buttonText }}</button>
				</div>
			
			</div>
		</div>
	</div>
</template>
<script>
import	{clipboard} from '../../helpers/clipboard';

import {script} from '../../helpers/embedded-script';

export default {
	data() {
		return {
			options: {
				title: 'Woohoo! You created your first game!',
				buttonText: 'Done',
				url: '',
				saveButtonHandler: function() {},
				cancelButtonHandler: function() {}
			},
			title: 'Static text',
			modal: {},
			opened: false
		}
	},
	
	computed: {
		script() {
			return script.getScript(this.getUrl());
		}
	},
	
	mounted() {
		this.modal = $('#embedded-code');
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
			this.options.cancelButtonHandler.call(this);
			this.opened = false;
		},
		
		doneButtonHandler: function(e) {
			this.options.saveButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.modal.find('textarea');
			this.setModalOptions(options);
			this.modal.modal('show');
			this.opened = true;
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						$('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		},
		
		getUrl() {
			return this.options.hasOwnProperty('url') ? this.options.url : '';
		},
		
		doCopy(e) {
			clipboard.doCopy.apply(this, e);
		}
	}
}
</script>