<template>
	<div class="modal fade" id="upgrade-now-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content congratulation rate-us out-of-impressions">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title like-using-woo-hoo" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body"> {{ options.text }} </div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">{{ options.centerButtonText }}</button>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			options: {
				title: 'You max out your impressions',
				text: 'Wow, you\'re having a great month and you just passed your current plan limit. Which means we have stopped displaying the games on your site, upgrade now to continue collecting emails and boost your sales.',
				centerButtonText: 'Upgrade now',
				saveButtonHandler: function(){}
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#upgrade-now-modal');
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		doneButtonHandler: function(e) {
			this.options.saveButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						this.modal.find('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		}
	}
}
</script>