<template>
	<div class="modal fade" id="lucky-coupon-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body" style="max-width: 400px">
					{{ options.text }}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="leftButtonHandler">{{ options.leftButtonText }}</button>
					<button type="button" class="btn btn-primary" v-on:click="rightButtonHandler">{{ options.rightButtonText }}</button>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			options: {
				title: 'Lucky coupon action',
				text: 'Just text text',
				leftButtonText: 'Cancel',
				rightButtonText: 'Ok'
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#lucky-coupon-modal');
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		leftButtonHandler: function(e) {
			this.modal.modal('hide');
		},
		
		rightButtonHandler: function(e) {
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					this.options[attr] = options[attr];
				}
			}
		}
	}
}
</script>