<template>
	<div class="modal fade" id="t-shirt-modal" tabindex="-1" role="dialog" aria-labelledby="tshirt-modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content congratulation t-shirt">
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="text-center" id="tshirt-modal">{{ options.title }}</h4>
				</div>
				<div class="modal-body">
					<p class="tshirt-sub-title">{{ options.subtitle }}</p>
					<p style="margin: 22px 10px">{{ options.text }}</p>
					<p style="margin: -7px 0 10px 0">{{ options.text2 }}</p>
					<a class="btn btn-default vote" href="http://bit.ly/2PJdyOE" target="_blank">Review WooHoo On Shopify App Store!</a>
					<img class="picture" src="/img/tshirt/banner.png" alt="T-shirt giveaway" width="640" />
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				options: {
					title: 'Get a Free WooHoo T-Shirt!',
					subtitle: 'WooHoo is giving away 10 branded T-Shirt, One of them can be yours!',
					text: 'This October WooHoo is rolling 10 branded T-shirts among all our users.',
					text2: 'The winners will be announced at the end of this month.'
				},
				modal: {}
			}
		},
		
		mounted() {
			this.modal = $('#t-shirt-modal');
		},
		
		methods: {
			
			closeModal: function(e) {
				this.modal.modal('hide');
			},
			
			doneButtonHandler: function(e) {
				this.options.saveButtonHandler.call(this);
				this.modal.modal('hide');
			},
			
			open: function(options) {
				this.setModalOptions(options);
				this.modal.modal('show');
			},
			
			setModalOptions: function(options) {
				for(var attr in options) {
					if(options.hasOwnProperty(attr)) {
						if (attr === 'text') {
							this.modal.find('.modal-body').html(options[attr]);
						} else {
							this.options[attr] = options[attr];
						}
					}
				}
			}
		}
	}
</script>