<template>
	<div class="modal fade" id="lucky-coupon-modal-trial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content congratulation rate-us trial">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title like-using-woo-hoo" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body"> {{ options.text }} </div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">{{ options.centerButtonText }}</button>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			options: {
				title: 'Tour trial has ended',
				text: 'Your 7-Days trail as just finished, don\'t worry all your design is saved and are waiting for you once you will upgrade your plan.',
				centerButtonText: 'Upgrade Now',
				saveButtonHandler: function(){}
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#lucky-coupon-modal-trial');
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		doneButtonHandler: function(e) {
			this.options.saveButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						$('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		}
	}
}
</script>