/*<main-selector>*/ .animate-in {
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-moz-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-box-shadow: 5px 2px 60px 0px #000;
	-moz-box-shadow: 5px 2px 60px 0px #000;
	box-shadow: 5px 0px 60px 0px #000;
}

/*<main-selector>*/ .animate-left-out {
	-moz-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-moz-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1)
}

/*<main-selector>*/ .animate-right-out {
	-moz-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-moz-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-ms-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1)
}

/*<main-selector>*/ .animated, .animated {
	animation-duration: 1s;
	animation-fill-mode: both
}

/*<main-selector>*/ .animated.infinite {
	animation-iteration-count: infinite
}

/*<main-selector>*/ .animated.hinge {
	animation-duration: 2s
}

/*<main-selector>*/ .animated.bounceIn,
/*<main-selector>*/ .animated.bounceOut,
/*<main-selector>*/ .animated.flipOutX,
/*<main-selector>*/ .animated.flipOutY {
	animation-duration: .75s
}

@keyframes bounce {
	20%, 53%, 80%, from, to {
		animation-timing-function: cubic-bezier(.215, .61, .355, 1);
		transform: translate3d(0, 0, 0)
	}
	40%, 43% {
		animation-timing-function: cubic-bezier(.755, .050, .855, .060);
		transform: translate3d(0, -30px, 0)
	}
	70% {
		animation-timing-function: cubic-bezier(.755, .050, .855, .060);
		transform: translate3d(0, -15px, 0)
	}
	90% {
		transform: translate3d(0, -4px, 0)
	}
}

/*<main-selector>*/ .bounce {
	animation-name: bounce;
	transform-origin: center bottom
}

@keyframes flash {
	50%, from, to {
		opacity: 1
	}
	25%, 75% {
		opacity: 0
	}
}

/*<main-selector>*/ .flash {
	animation-name: flash
}

@keyframes pulse {
	from, to {
		transform: scale3d(1, 1, 1)
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05)
	}
}

/*<main-selector>*/ .pulse {
	animation-name: pulse
}

@keyframes rubberBand {
	from, to {
		transform: scale3d(1, 1, 1)
	}
	30% {
		transform: scale3d(1.25, .75, 1)
	}
	40% {
		transform: scale3d(.75, 1.25, 1)
	}
	50% {
		transform: scale3d(1.15, .85, 1)
	}
	65% {
		transform: scale3d(.95, 1.05, 1)
	}
	75% {
		transform: scale3d(1.05, .95, 1)
	}
}

/*<main-selector>*/ .rubberBand {
	animation-name: rubberBand
}

@keyframes shake {
	from, to {
		transform: translate3d(0, 0, 0)
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-10px, 0, 0)
	}
	20%, 40%, 60%, 80% {
		transform: translate3d(10px, 0, 0)
	}
}

@keyframes triggerShake {
	from, to {
		transform: translate(0, -50%);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translate(-10px, -50%);
	}
	20%, 40%, 60%, 80% {
		transform: translate(10px, -50%);
	}
}

/*<main-selector>*/ .shake, .shake {
	animation-name: shake
}

/*<main-selector>*/ .triggerShake, .triggerShake {
	animation-name: triggerShake
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

/*<main-selector>*/ .fadeIn {
	animation-name: fadeIn
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0)
	}
	to {
		opacity: 1;
		transform: none
	}
}

/*<main-selector>*/ .fadeInDown {
	animation-name: fadeInDown
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/*<main-selector>*/ .fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/*<main-selector>*/ .fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

/*<main-selector>*/ .fadeInRight {
	animation-name: fadeInRight;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: 0.3s;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		transform: none;
	}
	to {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
}

/*<main-selector>*/ .fadeOutUp {
	animation-name: fadeOutUp;
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(90deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(90deg); }
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(90deg);}
}

@-moz-keyframes spin-back {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(-90deg); }
}

@-webkit-keyframes spin-back {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(-90deg); }
}

@keyframes spin-back {
	from {transform:rotate(0deg);}
	to {transform:rotate(-90deg);}
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 1;
	}
}

/*<main-selector>*/ .zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

/*<main-selector>*/ .zoomInFast {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	animation-duration: 100ms;
}

@-webkit-keyframes zoomInDown {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@keyframes zoomInDown {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

/*<main-selector>*/ .zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
}

@-webkit-keyframes zoomInLeft {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@keyframes zoomInLeft {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

/*<main-selector>*/ .zoomInLeft {
	-webkit-animation-name: zoomInLeft;
	animation-name: zoomInLeft;
}

@-webkit-keyframes zoomInRight {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@keyframes zoomInRight {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

/*<main-selector>*/ .zoomInRight {
	-webkit-animation-name: zoomInRight;
	animation-name: zoomInRight;
}

@-webkit-keyframes zoomInUp {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

@keyframes zoomInUp {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

/*<main-selector>*/ .zoomInUp {
	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp;
}

@keyframes popup {
	from {
		opacity: 0;
		bottom: -15px;
	}
	
	15% {
		opacity: 0.75;
	}
	
	30% {
		opacity: 1;
	}
	
	60% {
		opacity: 1;
		bottom: 15px;
	}
	
	to {
		bottom: 0;
		opacity: 1;
	}
}

/*<main-selector>*/ .popup {
	animation-name: popup;
	animation-duration: 0.3s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.350);
}

@keyframes winnerGiftMobile {
	from {
		height: 32px;
		width: 35px;
		bottom: 0;
	}
	
	to {
		width: 52px;
		height: 48px;
		bottom: 148px;
	}
}

/*<main-selector>*/ .winnerGiftMobile {
	animation-name: winnerGiftMobile;
}

@keyframes winnerGift {
	from {
		height: 46px;
		width: 51px;
		bottom: 0;
	}
	
	to {
		width: 92px;
		height: 84px;
		bottom: 158px;
	}
}

/*<main-selector>*/ .winnerGift {
	animation-name: winnerGift;
}

@keyframes animateSecondScreen {
	from {
		height: 145px;
	}
	
	to {
		height: 171px;
	}
}

.animateSecondScreen {
	animation-name: animateSecondScreen;
}

/*<main-selector>*/ .css-fade-in .lucky-coupon-popup {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/*<main-selector>*/ .css-animate.css-fade-in .lucky-coupon-popup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*<main-selector>*/ .css-slide-bottom .lucky-coupon-popup {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/*<main-selector>*/ .css-animate.css-slide-bottom .lucky-coupon-popup {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}