.lucky-coupon-bar {
	width: 100% !important;
	min-height: 59px !important;
	position: relative !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	position: fixed !important;
	border: 4px solid %27 + this.button + %27 !important;
	color: #201d1d !important;
	font-size: 18px !important;
	font-weight: 300 !important;
	line-height: 36px !important;
	background: #fff !important;
	overflow: hidden !important;
	padding: 7px 0 !important;
	text-align: center !important;
	font-family: %27 + this.font + %27!important;
	box-sizing: border-box !important;
	z-index: 10000000000 !important;
}

@media (max-width: 600px) {
	div.lucky-coupon-bar {
		padding: 7px 15px !important;
		text-align: left !important;
	}
}

.lucky-coupon-bar .coupon-code-code {
	border: 1px dashed hsla(0, 0%, 100%, .5) !important;
	margin: 0 -2px !important;
	position: relative !important;
	top: 1px !important;
}

.lucky-coupon-bar .coupon-code-code #copy-coupon {
	position: relative !important;
	display: inline;
	top: 0px !important;
	font-size: 18px !important;
	width: auto;
	height:27px !important;
	text-align: center;
	color:#222 !important;
	background: #fff !important;
	font-weight: 700 !important;
	border: 1px dashed hsla(0, 0%, 100%, .5) !important;
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	cursor: text !important;
	background: transparent !important;
	color: #201d1d !important;
	text-indent: 0 !important;
	font-family: inherit !important;
}

.lucky-coupon-bar .coupon-code-time {
	margin-left: 2px !important;
}

.lucky-coupon-bar .coupon-code-time span {
	padding: 0px 1px !important;
	box-sizing: border-box !important;
}

.lucky-coupon-bar .fa-times-thin {
	position: absolute !important;
	right: 0 !important;
	top: 7px !important;
	padding: 4px 10px !important;
	-webkit-transition: opacity .2s, -webkit-transform .2s !important;
	transition: opacity .2s, -webkit-transform .2s !important;
	transition: transform .2s, opacity .2s !important;
	transition: transform .2s, opacity .2s, -webkit-transform .2s !important;
	-webkit-transform-origin: center center !important;
	-ms-transform-origin: center center !important;
	transform-origin: center center !important;
	font-size: 36px !important;
	color: #181818 !important;
	cursor: pointer !important;
	box-sizing: border-box !important;
}

.lucky-coupon-bar .copy-code {
	width: auto !important;
	height: auto !important;
	min-width: 96px !important;
	position: relative !important;
	top: -2px !important;
	color: #fff !important;
	margin-left: 10px !important;
	margin: 0;
	border: 1px solid %27 + this.button + %27 !important;
	background-color: %27 + this.button + %27 !important;
	box-shadow: none !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	outline: 0 !important;
	box-sizing: border-box !important;
	font: 14px %27 + this.font + %27!important;
}

.lucky-coupon-bar .copy-code:hover {
	opacity: 0.8 !important;
}

.lucky-coupon-bar .fa-times-thin:before {
	content: %22 %22 !important;
	display: block;
	width: 30px !important;
	height: 30px !important;
	background: url(%27 + this.hostUrl + %27/img/game/Close.svg) no-repeat center center !important;
}

.lucky-coupon-bar .fa-times-thin:hover {
	opacity: 1 !important;
	-webkit-transform: rotate(90deg) !important;
	-ms-transform: rotate(90deg) !important;
	transform: rotate(90deg) !important;
}

.lucky-coupon-bar .coupon-code-text,
.lucky-coupon-bar .coupon-code-reserved {
	display: inline-block;
}

.coupon-code-text[data-text=%22bar.your%22] {
	margin-right: 5px;
}

@media (max-width: 424px) {
	.coupon-code-reserved {
		display: inline-block;
		width: 150px;
	}
}

@media (max-width: 401px) {
	.coupon-code-reserved {
		display: inline-block;
		width: 120px;
	}
}

@media (max-width: 380px) {
	.coupon-code-reserved {
		display: inline-block;
		width: 127px;
	}
}