/*<main-selector>*/ .lucky-coupon-popup * {
	line-height: normal !important;
}

/*<main-selector>*/ .lucky-coupon-center {
	 position: fixed;
	 left: 50%;
	 top: 50%;
	 -webkit-transform: translate(-50%, -50%);
	 transform: translate(-50%, -50%);
	 border-radius: 18px;
}

/*<main-selector>*/ .lucky-coupon-center.en {
	 direction: ltr;
}

@media (max-width: 500px) {
	/*<main-selector>*/ .lucky-coupon-center.game-editor {
		transform: translateX(-50%) translateY(-50%) scale(1) !important;
	}
}

@media (max-width: 1700px) {
	/*<main-selector>*/ .lucky-coupon-center.game-editor {
		transform: translateX(-50%) translateY(-50%) scale(0.70) !important;
	}

	.mobile-preview-item /*<main-selector>*/ .lucky-coupon-center.game-editor {
		transform: none !important;
	}
}

@media (max-width: 1000px) {
	/*<main-selector>*/ .lucky-coupon-center.small-window.game-editor.mobile {
		transform: translateX(-50%) translateY(-50%) scale(1)!important;
	}
}

@media (min-width: 1001px) {
	/*<main-selector>*/ .lucky-coupon-center.game-editor {
		transform: translateX(-50%) translateY(-50%) scale(1) !important;
	}
}

/*<main-selector>*/ .lucky-coupon-center.game-editor.mobile {
	transform: none !important;
}

@media (min-width: 600px) and (max-width: 1400px) {
	/*<main-selector>*/ .lucky-coupon-center.game-editor {
		transform: translateX(-50%) translateY(-50%) scale(0.7) !important;
	}

	/*<main-selector>*/ .lucky-coupon-center.small-window.game-editor {
		transform: translateX(-50%) translateY(-50%) scale(1) !important;
	}
}

/*<main-selector>*/ .lucky-coupon-right,
/*<main-selector>*/ .lucky-coupon-left {
	position: fixed;
	top: 0;
	height: 100vh;
}

/*<main-selector>*/ .lucky-coupon-left {
	left: 0;
}

/*<main-selector>*/ .lucky-coupon-right {
	right: 0;
}

/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup,
/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup{
	height: 100vh;
}

/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup .text.small-message,
/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup .text.small-message {

}

/*<main-selector>*/ .lucky-coupon-popup {
	position: relative;
	margin: auto;
	height: auto;
	width: 780px;
	font-family: %27 + this.font + %27;
	font-weight: 300 !important;
	box-sizing: border-box !important;
	-webkit-font-smoothing: antialiased !important;
	color: %27 + this.coverText + %27!important;
}

/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.coupon-wrapper,
/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.coupon-wrapper {
	height: 65vh;
}

/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.background,
/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.background {
	height: 35vh;
	min-height: 280px;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper.position.finish-body {
	padding: 24px 17px 23.5px 17px;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.background.finish-text {
	background: url(%27 + this.assetUrl + %27confetti_desktop.png) %27 + this.background + %27 no-repeat center center;
}

@media (max-width: 600px) {
	/*<main-selector>*/ .lucky-coupon-popup-inner.background.finish-text {
		background: url(%27 + this.assetUrl + %27confetti_mobile.svg) %27 + this.background + %27 no-repeat top center;
		background-size: contain;
	}
}

/*<main-selector>*/ .powered-by-wrapper {
	text-align: center;
}

/*<main-selector>*/ .powered-by-image  {
	width: 142px;
	height: 25px;
	display: inline-block;
	margin-top: 15px;
	background: url(%27 + this.assetUrl + %27pb_sharp.svg) no-repeat;
	background-size: 100%;
}

@media (max-width: 600px) {
	/*<main-selector>*/ .powered-by-image {
		display:none;
	}
}

/*<main-selector>*/ .lucky-coupon-center .lucky-coupon-popup {
	overflow: hidden;
	border-radius: 18px;
	height: auto;
	box-shadow: 0 0 50px rgba(0,0,0,1);
}

/*<main-selector>*/ .lucky-coupon-popup-inner {
	padding: 22px;
	color: inherit;
	/*background-color: %27 + this.background + %27;*/
	background-color: #f0f0f0;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.hide {
	display: none !important;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.background {
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 32px 28px 25px 28px;
	background-color: %27 + this.background + %27;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.background .custom-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(%27 + this.hostUrl + this.image + %27) no-repeat top center;
	background-size: cover;
	opacity: %27 + this.opacity + %27;
	z-index: 1;
}

.lucky-coupon-trigger .close,
/*<main-selector>*/ .close {
	position: absolute;
	top: 21px;
	right: 21px;
	display: block;
    width: auto;
    padding: 0;
    float: none;
	background: transparent;
	line-height: 1;
	text-align: right;
	color: inherit;
	opacity: 1;
	z-index: 2;
}

.lucky-coupon-trigger .close:hover,
/*<main-selector>*/ .close:hover {
	background: transparent;
}

.lucky-coupon-trigger .close .inner,
/*<main-selector>*/ .close .inner {
	display: block;
	width: 31px;
	height: 31px;
	padding: 0;
	background: url(%27 + this.assetUrl + %27Close.svg) no-repeat center center;
	cursor: pointer;
	color: inherit;
	font-style: normal;
}

.lucky-coupon-trigger .close .inner:hover,
/*<main-selector>*/ .lucky-coupon-popup .close .inner:hover {
	animation-name: spin;
	animation-duration: 250ms;
}

.lucky-coupon-trigger .close .inner:not( :hover),
/*<main-selector>*/ .lucky-coupon-popup .close .inner:not( :hover ) {
	animation-name: spin-back;
	animation-duration: 250ms;
}

/*<main-selector>*/ .text {
	text-align: center;
	font-weight: 300;
}

/*<main-selector>*/ .big-text {
	position: relative;
	margin: 14px auto 31px auto;
	line-height: 36px!important;
	font-size: 31.68px;
	width: 90%;
	height: 70px;
	letter-spacing: 0.1px;
	text-align: center;
	color: inherit;
	z-index: 2;
}

/*<main-selector>*/ .lucky-coupon-center.no-emails .start-text .big-text {
	top: 50px;
}

/*<main-selector>*/ .lucky-coupon-center.small-window.no-emails .start-text .big-text {
	top: 25px;
}

/*<main-selector>*/ .fr .big-text {
	font-size: 27px;
}

/*<main-selector>*/ .big-text.congrats {
	margin-top: 48px;
	margin-bottom: 21px;
	letter-spacing: -0.9px;
	font-size: 55px;
	height: 39px;
}

/*<main-selector>*/ .lucky-coupon-right .big-text,
/*<main-selector>*/ .lucky-coupon-left .big-text {
	padding-top: 35px;
}

/*<main-selector>*/ .lucky-coupon-right .small-text,
/*<main-selector>*/ .lucky-coupon-left .small-text {
	margin-top: 55px;
}

/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.coupon-wrapper.start-body,
/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.coupon-wrapper.start-body {
	height: calc(100% - 280px) !important;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: block;
	-ms-flex-align: center !important;
	-webkit-align-items: center !important;
	-webkit-box-align: center !important;
	align-items: center !important;
	border-radius: 0;
}

/*<main-selector>*/ .big-text.middle-center {
	margin-top: 86px;
	margin-bottom: 33px;
	font-size: 37px;
}

/*<main-selector>*/ .small-text {
	position: relative;
	font-size: 16px;
	text-align: center;
	color: inherit;
	z-index: 2;
}

/*<main-selector>*/ .small-text.push-bottom {
	margin-bottom: 60px;
	padding-left: 11px;
}

/*<main-selector>*/ .input-wrapper {
	position: relative;
	text-align: center;
	z-index: 2;
	margin: 0;
	display: block;
}

/*<main-selector>*/ .input-wrapper .email-input,
/*<main-selector>*/ .input-wrapper .username-input {
	margin-top: 13px;
	margin-bottom: 0;
	font-size: 14px;
	height: 41px;
	padding: 9px 20px;
	width: 100%;
	max-width: 385px;
	border-radius: 6px;
	border: none;
	box-shadow: 0 3px 12px rgba(0,0,0,0.1);
	font-weight: 300;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	font-family: inherit;
	display: inline-block;
	background: #fff;
	opacity: 1;
	box-sizing: border-box;
	position: relative;
	left: auto;
	right: auto;
}


/*<main-selector>*/ .input-wrapper .email-input.name-case,
/*<main-selector>*/ .input-wrapper .username-input {
	width: 30%;
	display: inline-block;
}

/*<main-selector>*/ .input-wrapper .username-input {
	margin-right: 15px;
}

/*<main-selector>*/ .input-wrapper .email-input.error {
	border: 1px solid #f00;
}

.fake-fecebook-form {
	background: url(%27 + this.assetUrl + %27facebook-fake.png) no-repeat center center;
	background-size: cover;
	width: 280px;
	height: 70px;
	margin: 16px auto 0;
	border-radius: 6px;
}

/*<main-selector>*/ .recart-messenger-widget {
	padding: 0;
}

/*<main-selector>*/ .recart-messenger-widget span {
	background: #fff;
	margin: 16px auto 0;
	border-radius: 6px;
}

/*<main-selector>*/ .input-wrapper .exclamation {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: -8.5px;
	border-radius: 15px;
	background-color: #FF0000;
	color: white;
	font-weight: 500;
	line-height: 1.9!important;
	margin-left: -45px;
}

/*<main-selector>*/ .arrow-box-wrapper {
	position: absolute;
	right: 39px;
	top: -47px;
}

/*<main-selector>*/ .arrow-box {
	width: 171px;
	padding: 5px 10px;
	position: relative;
	background: #fff;
	border: 4px solid #fff;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	color: #f00;
	white-space: nowrap;
	-webkit-font-smoothing: subpixel-antialiased;
}

/*<main-selector>*/ .arrow-box:after,
/*<main-selector>*/ .arrow-box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: %22 %22;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/*<main-selector>*/ .arrow-box:after {
	border: 10px rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	margin-left: -10px;
}

/*<main-selector>*/ .arrow-box:before {
	border: 16px rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	margin-left: -16px;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper {
	overflow: hidden;
	height: 393px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	padding: 17.5px 17px 0 17px;
}

/*<main-selector>*/ .lucky-coupon-popup-inner.position {
	position: static;
}

/*<main-selector>*/ .coupon-center {
	margin: 0 auto;
}

/*<main-selector>*/ .coupon,
/*<main-selector>*/ .coupon-center {
	height: 289px;
	width: 446px;
}

/*<main-selector>*/ .coupon {
	background-color: #FFFFFF;
	box-shadow: 0 0 29px 0 rgba(0,0,0,0.09);
	position: relative;
	border-radius: 28px;
	text-align: center;
}

/*<main-selector>*/ .coupon-center .coupon {
	position: absolute;
	top: 185px;
	z-index: 2;
}

/*<main-selector>*/ .lucky-coupon-left .coupon-center .coupon,
/*<main-selector>*/ .lucky-coupon-right .coupon-center .coupon {
	top: 27vh;
}

/*<main-selector>*/ .right {
	border-bottom-right-radius: 90px;
	border-top-right-radius: 90px;
	left: -13px;
	box-shadow: inset -17px 0 10px rgba(0, 0, 0, 0.03);
}

/*<main-selector>*/ .left {
	border-bottom-left-radius: 90px;
	border-top-left-radius: 90px;
	right: -13px;
	box-shadow: inset 17px 0 10px rgba(0, 0, 0, 0.03);
}

/*<main-selector>*/ .right,
/*<main-selector>*/ .left {
	height: 65px;
	width: 53px;
	/*background: %27 + this.background + %27;*/
	background: #f0f0f0;
	display: inline-block;
	position: absolute;
	top: 110px;
	z-index: 1;
}

/*<main-selector>*/ .upper-text {
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px dashed #ebebeb;
	padding-bottom: 22px;
	color: inherit;
}

/*<main-selector>*/ .upper-text div:first-of-type {
	color: %27 + this.button + %27;
	font-size: 72px;
	font-weight: bold;
	margin: 7px auto 0 auto;
}

/*<main-selector>*/ .de .upper-text div:first-of-type {
	font-size: 47px;
}

/*<main-selector>*/ .ru .upper-text div:first-of-type {
	font-size: 52px;
}

/*<main-selector>*/ .upper-text div:last-of-type {
	color: #000;
	font-size: 16px;
	font-weight: 300;
	margin: -7px auto 0 auto;
}

/*<main-selector>*/ .lower-text {
	width: 75%;
	margin: 9px auto 0;
	color: inherit;
}

/*<main-selector>*/ .lower-text div:first-of-type {
	color: #000;
	font-size: 16px;
	font-weight: 300;
	margin-top: 34px;
}

/*<main-selector>*/ .lower-text div:last-of-type {
	color: #000;
	font-size: 36px;
	font-weight: 600;
	margin-top: 7px;
}

/*<main-selector>*/ .btn-push {
	color: #fff;
	position: relative;
	top: 0;
	text-decoration: none;
	text-align: center;
	background: #ED1C24;
	border: 1px solid #E31018;
	border-radius: 12px;
	text-shadow: 1px 1px 1px #fff;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
	outline: none;
}

/*<main-selector>*/ .es .continue-btn {
	font-size: 14px;
}

/*<main-selector>*/ .fr .continue-btn {
	font-size: 12px;
}

/*<main-selector>*/ .ru .continue-btn {
	font-size: 11px;
}

/*<main-selector>*/ .btn-push:active {
	position: relative;
	top: 5px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
}

/*<main-selector>*/ .btn-push.red {
	background: %27 + this.button + %27;
	border-radius: 10px;
	padding: 1px 1px;
	color: %27 + this.buttonText + %27;
	border: 1px solid %27 + this.button + %27;
	-webkit-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	-moz-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	-ms-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	-o-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	text-shadow: 1px 1px 1px %27 + this.button + %27;
	cursor: pointer;
}

/*<main-selector>*/ .btn-push.grey {
	background: #d1d1d1;
	border-radius: 10px;
	color: #fff;
	border: 1px solid #d1d1d1!important;
	-webkit-box-shadow: inset 0 -5px 0 #d1d1d1!important;
	-moz-box-shadow: inset 0 -5px 0 #d1d1d1!important;
	-ms-box-shadow: inset 0 -5px 0 #d1d1d1!important;
	-o-box-shadow: inset 0 -5px 0 #d1d1d1!important;
	box-shadow: inset 0 -5px 0 #d1d1d1!important;
	text-shadow: 1px 1px 1px #d1d1d1;
	cursor: default;
}

/*<main-selector>*/ .small-message {
	position: relative;
	margin: 17px auto;
	font-size: 12px;
	font-weight: 500;
	width: 100%;
	color: #818181;
	top: auto;
	text-shadow: none;
}

/*<main-selector>*/ .continue-btn {
	width: auto;
	display: block;
	margin: -45px auto 0 auto;
	padding: 0 20px;
	background-color: %27 + this.button + %27;
	border-radius: 10px;
	border: none;
	outline: none;
	color: #fff;
	min-width: 230px;
	height: 50px;
	font-size: 16px;
	letter-spacing: 0.2px;
	cursor: pointer;
	box-sizing: border-box;
}

/*<main-selector>*/ .es .continue-btn {
	font-size: 14px;
}

/*<main-selector>*/ .fr .continue-btn {
	font-size: 12px;
}

/*<main-selector>*/ .ru .continue-btn {
	font-size: 11px;
}

/*<main-selector>*/ .small-message.congratulation  {
	margin-top: 50px;
}

/*<main-selector>*/ .powered-by {

}

/*<main-selector>*/ .lucky-coupon-center.he {
	direction: rtl;
}

/*<main-selector>*/ .checkbox-container {
	display: inline-block;
	position: relative;
	padding-left: 22px;
	cursor: pointer;
	font-size: 22px;
	font-weight: 300;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
}

/*<main-selector>*/ .checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/*<main-selector>*/ .checkmark {
	position: absolute;
	top: 1px;
	left: 0;
	height: 13px;
	width: 13px;
	margin:0;
	background-color: #fff;
	border: 1px solid #000;
	box-sizing: content-box;
}

/*<main-selector>*/ .checkmark:hover {
	background-color: #BFFFC6;
}

/*<main-selector>*/ .checkmark.error {
	border: 1px solid #ED1C24;
}

/*<main-selector>*/ .checkbox-container input:checked ~ .checkmark {
	background-color: #00AE14;
}

/*<main-selector>*/ .checkmark:after {
	content: %22 %22;
	position: absolute;
	display: none;
}

/*<main-selector>*/ .checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/*<main-selector>*/ .checkbox-container .checkmark:after {
	left: 4px;
	top: 1px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-sizing: content-box;
}

/*<main-selector>*/ .small-message .agree-wrapper {
	max-width: 85%;
	display: inline-block !important;
	vertical-align: top;
	font-size: 13px;
	font-weight: 300;
	margin-top: -1px;
	margin-bottom: 0;
}

/*<main-selector>*/ ._rmp-type--woohoo .fb-messenger-checkbox span,
/*<main-selector>*/ ._rmp-type--woohoo .fb-messenger-checkbox span iframe {
	width: 280px !important;
	height:73px !important;
}

@media (max-width: 600px) {

	/*<main-selector>*/ {
		width: 100vw !important;
		height: auto !important;
		border-radius: 0;
		margin: 0;
	}
	
	/*<main-selector>*/ .lucky-coupon-right,
	/*<main-selector>*/ .lucky-coupon-left,
	/*<main-selector>*/ .lucky-coupon-center {
		width: 100vw !important;
		height: auto !important;
		border-radius: 0;
		position: absolute;
		left: 0;
		top: auto;
		bottom: 0;
		-webkit-transform: none;
		transform: none;
	}
	
	/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup,
	/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup,
	/*<main-selector>*/ .lucky-coupon-center .lucky-coupon-popup {
		overflow: auto;
		width: 100%;
		height: 100%;
		border-radius: 0;
		box-shadow: 0 0 50px rgba(0,0,0,1);
		overflow: visible;
	}
	
	/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.coupon-wrapper.start-body,
	/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.coupon-wrapper.start-body {
		height: auto;
		display: block;
	}
	
	/*<main-selector>*/ .lucky-coupon-popup,
	/*<main-selector>*/ .lucky-coupon-center {
		height: 100vh;
		width: 100vw;
	}

	/*<main-selector>*/ .lucky-coupon-center.small-window {
		position: fixed;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		border-radius: 18px;
	}

	/*<main-selector>*/ .big-text {
		width: auto;
	}
	
	/*<main-selector>*/ .coupon-center .coupon,
	/*<main-selector>*/ .coupon-center {
		height: 176px;
		width: 288px;
	}
	
	/*<main-selector>*/ .right,
	/*<main-selector>*/ .left {
		height: 43px;
		width: 24px;
		top: 79px;
	}
	
	/*<main-selector>*/ .upper-text div:first-of-type {
		font-size: 50px;
	}
	
	/*<main-selector>*/ .upper-text {
		padding-bottom: 8px;
	}
	
	/*<main-selector>*/ .lucky-coupon-right .big-text,
	/*<main-selector>*/ .lucky-coupon-left .big-text {
		padding-top: 0;
	}
	
	/*<main-selector>*/ .lucky-coupon-left .lucky-coupon-popup-inner.background,
	/*<main-selector>*/ .lucky-coupon-right .lucky-coupon-popup-inner.background {
		height: auto;
		min-height: auto;
	}
	
	/*<main-selector>*/ .lucky-coupon-left .coupon-center .coupon,
	/*<main-selector>*/ .lucky-coupon-right .coupon-center .coupon {
		top: 25vh;
	}
	
	/*<main-selector>*/ div.lower-text div:first-of-type,
	/*<main-selector>*/ div.lower-text div:last-of-type {
		margin-top: 0;
	}
	
	/*<main-selector>*/ .continue-btn {
		margin-top: -30px;
	}

	/*<main-selector>*/ .start-text .small-text {
		display: none !important;
		font-size: 12px;
		max-width: 250px;
		margin:13px auto 5px auto;
	}
	
	/*<main-selector>*/ .small-text {
		font-size: 17.06px;
		margin-bottom: 18px;
	}
	
	/*<main-selector>*/ .big-text {
		width: auto;
		line-height: 28px!important;
		margin-bottom: 19px;
		font-size: 26px;
	}

	/*<main-selector>*/ .lucky-coupon-center.no-emails .start-text .big-text {
		top: 25px;
	}
	
	/*<main-selector>*/ .close {
		top: -50px;
		left: 50%;
		right: auto;
		transform: translate(-50%, 0);
		background: #fff;
		border-radius: 50%;
	}
	
	/*<main-selector>*/ .close .inner {
		width: 38px;
		height: 38px;
		background-size: 100%;
		border-radius: 50%;
		box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.23);
	}
	
	/*<main-selector>*/ .lucky-coupon-popup-inner.background {
		padding: 25px 20px 20px 20px;
	}
	
	/*<main-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper {
		height: auto;
		border-radius: 0;
		padding-top:0;
	}
	
	/*<main-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper.position.finish-body {
		padding: 6px;
	}
	
	/*<main-selector>*/ .input-wrapper .email-input {
		padding-left: 24px;
		padding-top: 11px;
	}

	/*<main-selector>*/ .input-wrapper .email-input.name-case,
	/*<main-selector>*/ .input-wrapper .username-input {
		width: 45%;
		display: inline-block;
	}
	
	/*<main-selector>*/ .big-text,
	/*<wheel-selector>*/ .big-text[data-name=title] {
		width: auto;
		height: 48px;
		line-height: 23px !important;
		margin: 0 auto 0 auto;
		font-size: 18px;
		letter-spacing: -0.05px;
		max-width: 90%;
	}
	
	/*<main-selector>*/ .fr .big-text {
		font-size: 15px;
	}
	
	/*<main-selector>*/ .small-text {
		font-size: 16px !important;
		margin-bottom: 5px;
		margin-top: 13px;
	}
	
	/*<main-selector>*/ .small-message {
		position: relative;
		width: 100%;
		height: auto;
		margin: 20px auto 0;
		font-size: 12px;
		bottom:10px;
	}

	/*<main-selector>*/ .small-message .agree-wrapper {
		margin-top: 1px;
	}

	/*<main-selector>*/ .checkmark {
		position: absolute;
		top: 3px;
	}
	
	/*<main-selector>*/ .big-text.congrats {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 32px;
		height: 32px;
	}
	
	/*<main-selector>*/ .small-text.push-bottom {
		margin-bottom: 41px;
		padding-left: 0;
		margin-top: 7px;
	}
	
	/*<main-selector>*/ .coupon-center .coupon {
		top: 97px;
	}

	/*<main-selector>*/ .lucky-coupon-right .coupon-center .coupon,
	/*<main-selector>*/ .lucky-coupon-left .coupon-center .coupon {
		top: 97px;
	}
	
	/*<main-selector>*/ .right,
	/*<main-selector>*/ .left {
		height: 43px;
		width: 34px;
		top: 71px;
	}
	
	/*<main-selector>*/ .right {
		left: -13px;
		box-shadow: inset -10px 0 12px rgba(0, 0, 0, 0.03);
	}
	
	/*<main-selector>*/ .left {
		right: -13px;
		box-shadow: inset 10px 0 12px rgba(0, 0, 0, 0.03);
	}
	
	/*<main-selector>*/ .upper-text div:first-of-type {
		font-size: 48px;
		letter-spacing: -1px;
		margin-top: 3px;
	}
	
	/*<main-selector>*/ .upper-text div:last-of-type {
		font-size: 16px;
		margin: -5px 0 0 0;
		letter-spacing: -0.3px;
	}
	
	/*<main-selector>*/ .upper-text {
		width: 75%;
		padding-bottom: 7px;
	}
	
	/*<main-selector>*/ .lower-text {
		margin-top: 13px;
	}
	
	/*<main-selector>*/ .lower-text div:first-of-type {
		font-size: 13px;
		letter-spacing: -0.3px;
	}
	
	/*<main-selector>*/ .lower-text div:last-of-type {
		margin-top: 4px;
		font-size: 24px;
		letter-spacing: -0.5px;
	}
	
	/*<main-selector>*/ .continue-btn {
		margin: -28px auto 0;
		border-radius: 3px;
		height:40px;
		width:90%;
	}
	
	/*<main-selector>*/ .big-text.middle-center {
		font-size: 25px;
		margin-top: 27px;
		margin-bottom: 27px;
	}
	
	/*<main-selector>*/ .arrow-box-wrapper {
		right: -19px;
	}

	/*<main-selector>*/ .powered-by {
		margin-top: -1px;
		z-index: 1;
		position: relative;
		display: none;
	}

	/*<main-selector>*/ .powered-by-image {
		width: 100%;
		background-position: center;
	}

}

@media (max-width: 320px) {
	
	/*<main-selector>*/ .small-message {
		width: 224px;
	}
	
	/*<main-selector>*/ .small-message.final-message {
		width: 204px;
	}

	/*<main-selector>*/ .big-text {
		font-size:16px;
	}

	/*<main-selector>*/ .lucky-coupon-popup-inner.background {
		min-height: 0;
		padding: 17px 20px 12px 20px;
		margin-bottom: 7px;
	}

	/*<main-selector>*/ .close {
		top: -45px;
	}

	/*<main-selector>*/ .powered-by-image  {
		display:none;
	}
}