.lucky-coupon-trigger {
	position: fixed!important;
	top: 50%!important;
	right: 0!important;
	width: 70px;
	min-height: 39px;
	color: #000;
	background: #fff!important;
	border-top-left-radius: 10px!important;
	border-bottom-left-radius: 10px!important;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2)!important;
	cursor: pointer!important;
	font-family: %27 + this.font + %27!important;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(0%, -50%);
}

.lucky-coupon-trigger .close {
	background: #fff;
	top: -15px;
	left: -15px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.lucky-coupon-trigger .close:hover {
	background: #fff;
}

.lucky-coupon-trigger .trigger-text {
	position: relative;
	overflow: hidden;
	min-height: 0;
	max-height: 300px;
	max-width: 22px;
	-webkit-writing-mode: vertical-lr;
	writing-mode: tb;
	transform: rotate(180deg);
	text-align: center;
	margin: 15px 25px;
	font-size: 18px;
	font-family: inherit!important;
	line-height: 21px;
}

.lucky-coupon-trigger .trigger-text:empty {
	margin: 0 auto;
}

.lucky-coupon-trigger .gift-image {
	margin: 15px 15px;
	height: 37px;
	width: 41px;
	background: url(%27 + this.assetUrl + %27gifts/%27 + this.giftImage + %27.png);
	background-size: cover;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (max-width: 800px) {
	.lucky-coupon-trigger {
		width: auto;
		min-height: 30px;
		max-height: 330px;
		padding: 7px 7px;
	}

	.lucky-coupon-trigger .trigger-text {
		max-width: 22px;
		font-size: 17px;
		margin: 10px auto 15px auto;
	}

	.lucky-coupon-trigger .gift-image {
		height: 24px;
		width: 27px;
		margin: 0 auto;
	}
}