<template>
	<div class="statistics-list">
		<total-impressions ref="totalImpressions"></total-impressions>
		<total-captured-emails ref="totalCapturedEmails"></total-captured-emails>
		<total-ctr ref="totalCtr"></total-ctr>
		<revenue-from-coupons ref="revenueFromCoupons"></revenue-from-coupons>
		<orders-list v-if="user.app_id > 0" ref="ordersList"></orders-list>
	</div>
</template>
<script>
import totalImpressions from './Statistic.vue'

import totalCapturedEmails from './Statistic.vue'

import totalCtr from './Statistic.vue'

import revenueFromCoupons from './Statistic.vue'

import ordersList from './OrdersList.vue';

import string from '../../../../helpers/string.js';

export default {
	
	components: {
		totalImpressions,
		totalCapturedEmails,
		totalCtr,
		revenueFromCoupons,
		ordersList
	},
	
	data() {
		return {
			gamesLoaded: 0
		};
	},
	
	created() {
	
	},
	
	mounted() {
		if (this.user) {
			this.setUserConnectedStats();
		}
	},
	
	computed: {
		entities: {
			get() {
				return this.$store.state._games.entities;
			},
			set(values) {
				this.$store.state._games.entities = values;
			}
		},
		entitiesName: {
			get() {
				return this.$store.state._games.entitiesName;
			},
			set(values) {
				this.$store.state._games.entitiesName = values;
			}
		},
		games() {
			return this.$store.state._games.games;
		},
		user() {
			return this.$store.state._users.user;
		},
		shopifyOrders() {
			return this.$store.state._shopifyAppOrders.orders;
		},
		ordersLoaded() {
			return this.$store.state._shopifyAppOrders.loaded;
		}
	},
	
	watch: {
		
		user(value) {
			if (value) {
				this.setUserConnectedStats();
				if (!value.app_id) {
					this.applyRegularUserStatistics();
				}
			}
		},
		
		games(value) {
			if (value && value.length > 0) {
				this.gamesLoaded = this.gamesLoaded + 1;
			}
		},
		
		gamesLoaded(value) {
			if (value === 1) {
				this.setGameTotalStats();
				if (!this.user.app_id) {
					this.applyRegularUserStatistics();
				}
			}
		},
		
		ordersLoaded(value) {
			let className = '';
			if (value) {
				className = 'revenue-from-coupons';
			} else {
				className = 'revenue-from-coupons disabled';
			}
			this.entities.revenueFromCoupons.setMainSubClass(className);
		},
		
		shopifyOrders(value) {
			this.$refs.ordersList.open();
		}
	},
	
	methods: {
		
		applyRegularUserStatistics: function () {
			if (
				!this.entities.hasOwnProperty('revenueFromCoupons') &&
				!this.entities.revenueFromCoupons.hasOwnProperty('setShow')
			) return false;
			this.entities.revenueFromCoupons.setShow(false);
			this.entitiesName.map(function (el) {
				this.entities[el].setMainSubClass('regular');
			}.bind(this));
		},
		
		setGameTotalStats() {
			let impressions = 0,
				hits = 0;
			this.games.map(function(el) {
				impressions += el.impressions + el.device_impressions;
				hits += el.hits + el.device_hits;
			}.bind(this));
			this.entities.totalImpressions.setValue(impressions);
			let totalCtr = hits / impressions * 100;
			this.entities.totalCtr.setValue(totalCtr ? Number(totalCtr.toFixed(1)) + '%' : 0);
		},
		
		setUserConnectedStats: function () {
			this.entitiesName.map(function(name){
				this.entities[name] = this.$refs[name];
				this.entities[name].setText(string.makeHeader(name));
			}.bind(this));
			this.entities.totalCapturedEmails.setValue(this.user.shopify_hits);
			if (this.user.app_id > 0) {
				this.setRevenueFromCoupons();
			}
		},
		
		setRevenueFromCoupons() {
			if (!this.entities.revenueFromCoupons) return false;
			let val = typeof this.user.revenue_from_coupons === 'undefined' ? 0 : this.user.revenue_from_coupons,
				totalRevenue = val > 1000 ? '$' + Number((val / 1000).toFixed(1)) + 'k' : '$' + val;
			this.entities.revenueFromCoupons.setValue(totalRevenue);
			this.entities.revenueFromCoupons.setMainSubClass('revenue-from-coupons');
			this.entities.revenueFromCoupons.setOnClickHandler(function(e) {
				if (this.$store.state._shopifyAppOrders.loaded) {
					this.$store.dispatch('getShopifyOrders');
				}
			});
		}
	}
	
}
</script>