<template>
	<div class="modal fade" id="lucky-coupon-shop-orders" tabindex="-1" role="dialog" aria-labelledby="shopOrders">
		<div class="modal-dialog" role="document">
			<div class="modal-content confirm">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="inner"></span>
					</button>
					<h4 class="modal-title" id="shopOrders">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body">
					<div class="inner-body">
						<table class="table table-striped" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<td class="col-md-3 no-right-padding">DATE</td>
									<td class="col-md-2 no-left-padding">TYPE</td>
									<td class="col-md-2" style="padding-left: 30px;">VALUE</td>
									<td style="letter-spacing: -0.4px;" class="col-md-3">COUPON CODE</td>
									<td class="col-md-2 no-left-padding">TOTAL SALE</td>
								</tr>
							</thead>
							<tbody>
								<tr v-for="order in shopifyOrders">
									<td>{{ getDate(order.payload) }}</td>
									<td>{{ order.type === 'type' ? decodeURI(order.value) : order.type }}</td>
									<td>{{ order.type === 'type' ? '' : order.value }}</td>
									<td>{{ order.code }}</td>
									<td class="items-image">
										<b>${{ Number(order.order_total_price/100) }}</b>
										<span class="items" v-on:mouseover="showItems" v-on:mouseleave="hideItems">
											({{ getItemsCount(order.payload) }} items)
											<div class="items-detail" style="display: none">
												<div class="triangle"></div>
												<div class="items-wrapper">
													<div class="container">
														<div v-for="item in getItems(order.payload)" class="row">
															<div class="col-md-4 no-padding item-image">
																<img :src="'/shopify/picture/' + item.product_id + '.jpg'" alt="" width="42" height="42" />
															</div>
															<div class="col-md-6 no-padding item-name">{{ item.name }}</div>
															<div class="col-md-2 no-right-padding item-coast">{{ getItemCoast(item) }}</div>
														</div>
													</div>
												</div>
											</div>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="no-orders" v-if="shopifyOrders.length === 0">
							<div class="image"></div>
							<div class="text">
								<h3>{{ options.textTitle }}</h3>
								<span>{{ options.text }}</span>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</template>
<script>

import moment from 'moment';

export default {
	data() {
		return {
			options: {
				title: 'Coupons Summary',
				textTitle: 'No Coupons Used',
				text: 'Here you will see a list of winning coupon codes used by your visitors'
			},
			modal: {},
			payload: {}
		}
	},
	
	mounted() {
		this.modal = $('#lucky-coupon-shop-orders');
	},
	
	computed: {
		
		shopifyOrders() {
			return this.$store.state._shopifyAppOrders.orders;
		}
		
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						this.modal.find('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		},
		
		getDate(payload) {
			return moment(JSON.parse(payload).created_at).format('D MMM YYYY, (h:mm)');
		},
		
		getItems(payload) {
			return JSON.parse(payload).line_items;
		},
		
		getItemsCount(payload) {
			return this.getItems(payload).length;
		},
		
		showItems(e) {
			$(e.target).find('.items-detail').show();
		},
		
		hideItems(e) {
			$(e.target).find('.items-detail').hide();
		},
		
		getItemCoast(item) {
			let price = Number(item.price),
				tax = item.tax_lines && item.tax_lines.length > 0 ?
					item.tax_lines.map(el => Number(el.price)).reduce((total, sum) => total + sum) :
					0,
				quantity = Number(item.quantity);
			return Number((price * quantity + tax).toFixed(2));
		}
	}
}
</script>