<template>
	<div v-if="show" class="statistic-item" :class="mainSubClass" @click="clickHandler">
		<div class="total-data">
			<h1 class="number">{{ typeof value === 'undefined' ? 0 : value }}</h1>
		</div>
		<div class="text-data">{{ text }}</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				value: 0,
				text: '',
				show: true,
				mainSubClass: '',
				clickFunction: function() {}
			};
		},
		
		calculated: {
			
			value: {
				set(value){
					this.value = value;
				},
				get(){
					return this.value;
				}
			}
			
		},
		
		methods: {
		
			setValue(value) {
				this.value = value;
			},
			
			getValue() {
				return this.value;
			},
			
			setText(text) {
				this.text = text;
			},
			
			setMainSubClass(subClass) {
				this.mainSubClass = subClass;
			},
			
			setOnClickHandler(handler) {
				this.clickFunction = handler.bind(this);
			},
			
			clickHandler(e) {
				this.clickFunction.call(e);
			},
			
			setShow(isShown) {
				this.show = isShown;
			}
		}
	}
</script>