@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800);
/* small-selector comment equal to #lucky-coupon-%27 + id + %27.game-%27 + this.gameId + %27 .small-window */
/* dont use any quotes in templates styles or connected to it files*/

/*<small-selector>*/.lucky-coupon-center.small-window .lucky-coupon-popup {
	width: 440px;
	min-height: 364px;
	border-radius: 4px;
	overflow: visible;
	direction: ltr;
}

/*<small-selector>*/.lucky-coupon-center.small-window.he .lucky-coupon-popup {
	direction: rtl;
}

/*<small-selector>*/.lucky-coupon-center .lucky-coupon-popup {
	height: auto;
}

/*<small-selector>*/ .lucky-coupon-popup-inner.background {
	padding: 25px 35px 0 35px;
	height: 100%;
	min-height: 364px;
}

/*<small-selector>*/ .lucky-coupon-popup-inner.background .custom-image {
	max-height: 148px;
}

/*<small-selector>*/ .big-text {
	width: 100%;
	margin: auto;
	line-height: 32px !important;
	font-size: 25px;
	height: auto;
	letter-spacing: -1px;
}

/*<small-selector>*/ .input-wrapper {
	margin: auto;
}

/*<small-selector>*/ .close {
	border-radius: 15px;
	background-color: #E91E47;
}

/*<small-selector>*/ .close {
	top: -16px;
	left: auto;
	right: 18px;
	width: auto;
	float: none;
	padding: 0;
}

/*<small-selector>*/ .close:hover {
	background-color: #E91E47;
}

/*<small-selector>*/ .close .inner {
	background: url(%27 + this.assetUrl + %27Close2.svg) no-repeat center center;
	background-size: 13px;
}

/*<small-selector>*/ .input-wrapper .email-input {
	margin-top: 20px;
	margin-right: 18px;
	height: 40px;
	padding: 9px 14px;
	width: 67%;
	vertical-align: unset;
}

/*<small-selector>*/.he .input-wrapper .email-input {
	margin-left: 18px;
}

/*<small-selector>*/ .btn-push.gift-button {
	width: 94px;
	height: 40px;
	border-radius: 4px;
	border-top: none;
	border-left: none;
	border-right: none;
	vertical-align: unset;
}

/*<small-selector>*/.he .btn-push.gift-button {
	vertical-align: top;
}

/*<small-selector>*/ .gifts {
	position: relative;
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*<small-selector>*/ .gifts .gift {
	position: relative;
	bottom: 0;
	display: block;
	margin: auto;
	padding: 0;
	height: 46px;
	width: 51px;
	background: transparent url(%27 + this.assetUrl + %27gifts/%27 + this.giftImage + %27.png);
	background-size: cover;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*<small-selector>*/ .gifts.bigger .gift:hover {
	transform: scale(1.1);
}

/*<small-selector>*/ .gifts .gift:active,
/*<small-selector>*/ .gifts .gift:focus {
	outline: 0 !important;
}

/*<small-selector>*/ .gifts .gift:first-child {
	margin-left: 0;
}

/*<small-selector>*/ .gifts .gift:last-child {
	margin-right: 0;
}

/*<small-selector>*/.he .gifts .gift:first-child {
	margin-left: auto;
	margin-right: 0;
}

/*<small-selector>*/.he .gifts .gift:last-child {
	margin-right: auto;
	margin-left: 0;
}

/*<small-selector>*/ .small-message {
	position: relative;
	top: -1px;
	margin: 55px 15px 0;
	text-align: center;
	font-size: 13px;
	line-height: 18px !important;
	font-weight: 300;
	width: auto;
	height: auto;
	color: #9B9B9B;
	z-index: 2;
}

/*<small-selector>*/ .upper-text {
	margin: 0;
	width: auto;
	text-align: center;
	color: %27 + this.coverText + %27!important;
}

/*<small-selector>*/ .upper-text div:first-of-type,
/*<small-selector>*/ .upper-text div:last-child {
	color: inherit;
}

/*<small-selector>*/.de .upper-text div:first-of-type,
/*<small-selector>*/.ru .upper-text div:first-of-type {
	font-size: inherit!important;
}

/*<small-selector>*/ .lower-text {
	width: auto;
	margin: 0;
	text-align: center;
	color: %27 + this.coverText + %27!important;
}

/*<small-selector>*/ .lower-text div:first-child,
/*<small-selector>*/ .lower-text div:last-child {
	color: inherit;
}

/*<small-selector>*/ .continue-btn {
	position: relative;
	margin: 10px auto;
	width: auto;
	height: auto;
	border-radius: 4px;
	padding: 10px 30px;
	font-size: 14px;
	font-weight: bold;
	background: %27 + this.button + %27;
	border-bottom: 1px solid %27 + this.button + %27;
	-webkit-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	-moz-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	-ms-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	-o-box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	box-shadow: inset 0 -5px 0 %27 + this.button + %27;
	text-shadow: 1px 1px 1px %27 + this.button + %27;
	cursor: pointer;
	z-index: 2;
}

/*<small-selector>*/ .small-message {
	color: %27 + this.noteText + %27;
}
	
/*<small-selector>*/ .small-message.text-message {
	z-index: 2;
	opacity: 1;
	margin: 0;
	top: inherit;
	bottom: inherit;
}

/*<small-selector>*/ .powered-by {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	display: block;
}

/*<small-selector>*/ .powered-by-wrapper a {
	width: 129px;
	height: 42px;
	display: block;
	margin: 0 auto;
	background-size: cover;
	filter: hue-rotate(180deg) saturate(100%) contrast(0);
	background: url(%27 + this.assetUrl + %27pb_sharp.svg) no-repeat;
	background-size: 100% 100%;
}

/*<small-selector>*/ .gift-final-header {
	text-align: center;
	line-height: 1.35 !important;
	font-size: 17px;
	position: relative;
	top: 5px;
}

/*<small-selector>*/ .small-text {
	font-size: inherit;
	line-height: inherit !important;
	border: 0;
}

/*<small-selector>*/ .upper-text {
	padding: 0;
	font-size: inherit;
	line-height: inherit !important;
}

/*<small-selector>*/ .upper-text div:first-child {
	display: inline;
	font-size: inherit;
	line-height: inherit!important;
}

/*<small-selector>*/ .upper-text div:last-child {
	display: inline-block;
	font-size: inherit;
	line-height: inherit!important;
}

/*<small-selector>*/ .lower-text {
	position: relative;
	z-index: 2;
}

/*<small-selector>*/ .lower-text div:first-child {
	font-size: 16px;
	margin-top: 21px;
}

/*<small-selector>*/ .lower-text div:last-child {
	margin-top: 10px;
	font-size: 32px;
	font-weight: bold;
}

/*<small-selector>*/ .final-message {
	top: auto;
	margin-top: 41px;
}

/*<small-selector>*/ .input-wrapper .exclamation {
	margin-left: -45px;
	left: -105px;
}

/*<small-selector>*/ .arrow-box-wrapper {
	right: -72px;
}

@media (max-width: 600px) {

	/*<small-selector>*/.lucky-coupon-center.small-window .lucky-coupon-popup {
	    width: 100% !important;
		min-height: 310px;
	}
	
	/*<small-selector>*/.lucky-coupon-center.small-window .lucky-coupon-popup-inner.background {
		min-height: 310px;
		padding: 17px 17px 0 17px;
	}

	/*<small-selector>*/ .big-text {
		width: auto;
		height: auto;
		margin: 12px auto 0 auto;
		letter-spacing: 0;
		line-height: 24px !important;
		font-size: 19px;
	}
	
	/*<small-selector>*/ .input-wrapper {
		margin: 0;
	}
	/*<small-selector>*/ .lucky-coupon-popup {
		max-width: calc(100% - 40px) !important;
	}
	
	/*<small-selector>*/ .close {
		border-radius: 19px;
	}
	
	/*<small-selector>*/ .close .inner {
		line-height: 37px !important;
	}

	/*<small-selector>*/ .lucky-coupon-popup-inner.background .custom-image {
		max-height: 155px;
	}
	
	/*<small-selector>*/ .input-wrapper .email-input {
		width: 67%;
		margin-top: 22px;
		padding: 9px 11px;
	}

	/*<small-selector>*/ .input-wrapper .email-input.name-case,
	/*<small-selector>*/ .input-wrapper .username-input {
		width: 30%;
		margin-top: 22px;
		padding: 9px 11px;
	}
	
	/*<small-selector>*/ .gifts {
		position: relative;
		margin-top: 28px;
		display: flex;
		flex-wrap: wrap;
		z-index: 2;
	}
	
	/*<small-selector>*/ .gifts .gift {
		height: 36px;
		width: 40px;
	}

	/*<small-selector>*/ .btn-push.gift-button {
	    width:25%;
		vertical-align: top;
		margin-top: 22px;
	}
	
	/*<small-selector>*/ .small-message {
		margin: 20px auto 0 auto;
		font-size: 11px;
		line-height: 14px !important;
	}
	
	/*<small-selector>*/ .gift-final-header {
		top: -5px;
	}
	
	/*<small-selector>*/ .lower-text div:first-child {
		font-size: 15px;
		margin-top: 9px;
	}
	
	/*<small-selector>*/ .small-message {
		margin-top: 35px;
		font-size: 12px;
	}
	
	/*<small-selector>*/ .close {
		left: auto;
		right: 5px;
	}

	/*<small-selector>*/ .upper-text {
		border: 0;
		font-size: 18px;
	}

	/*<small-selector>*/  .powered-by {
		 margin-top: 5px;
	}
}