<template xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="vue-app woohoo-wrapper">
		<!-- Top menu -->
		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<!-- Collapsed Hamburger -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<!-- Branding Image -->
					<router-link class="icon-White_Logo1 navbar-brand" :to="site.id ? '/site/' + site.id + '/games' : '/sites'"></router-link>
				</div>

				<div class="collapse navbar-collapse" id="app-navbar-collapse">
					<form v-if="user.app_id === 0" class="navbar-form pull-left">
						<div v-if="user.app_id === 0" class="dropdown" style="margin-left: 7px;">
							<button class="btn btn-default dropdown-toggle btn-dropdown-lk" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<div id="togle-name" class="col-md-11 col-xs-11 text-left no-padding">{{ site.url || 'No sites' }}</div>
								<div v-if="isSetSites" class="col-md-1 col-xs-1 no-padding">
									<span class="caret"></span>
								</div>
							</button>
							<ul v-if="isSetSites" class="dropdown-menu dropdown-top-lk site-navigation" aria-labelledby="dropdownMenu1">
								<li v-on:click.prevent="setCurrentSite" v-for="siteRow in sites" :key="siteRow.id">
									<a :class="{ element: true, selected: siteRow.id === site.id }" v-on:click.prevent :href="siteRow.id">{{ siteRow.url }}</a>
								</li>
								<li v-if="!isJvzooPremium() && isJvzooPremPlus()" v-on:click="addNewSite">
									<a class="element" href="javascript:void(0)">+ Add New Site</a>
								</li>
							</ul>
						</div>
					</form>
					<div class="col-md-3 col-xs-4 no-padding woohoo-dropdown-menu">
						<div class="col-md-6 col-xs-6 site-container text-center">
							<a href="javascript:void(0)" v-on:click="redirectSiteSettings">Site Settings</a>
						</div>
						<div class="col-md-4 col-xs-6 site-container text-center">
							<a href="javascript:void(0)" v-on:click="redirectMyGames">My Games</a>
						</div>
					</div>
					<!-- Left Side Of Navbar -->
					<user-menu ref="userMenu"></user-menu>

				</div>
			</div>
		</div><!-- End top menu -->    

		<div v-on:click="closeHelp" class="container help-wrapper">
			<div v-if="flash.success" class="alert alert-success alert-dismissible" role="alert">
				<span class="close" aria-label="Close" v-on:click="closeHelp">&times;</span>
				{{ flash.success }}
			</div>
			<div v-if="flash.string">
				<div v-for="error in flash.error" class="alert alert-danger alert-dismissible" role="alert">
					<span class="close" aria-label="Close" v-on:click="closeHelp">&#10006;</span>
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					{{ error[0] }}
				</div>
			</div>
			<div v-else-if="flash.error" class="alert alert-danger" role="alert">
				<span class="close" aria-label="Close" v-on:click="closeHelp">&times;</span>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				{{ flash.error }}
			</div>
		</div>
		
		<router-view></router-view>
		
		<trial ref="trial"></trial>
		
		<messengers ref="messengers"></messengers>
		
		<messengers-data ref="messengersData"></messengers-data>
		
		<impressions-modal-max ref="impressionsModalMax"></impressions-modal-max>
		
		<!-- Confirm popup /resources/assets/js/views/Templates/confirm.vue -->
		<confirm-global ref="confirmGlobal"></confirm-global>
		<!-- End of Confirm popup -->
		
		<tshirt ref="tshirt"></tshirt>
		
	</div>

</template>

<script type="text/javascript">

import subscriber from './helpers/subscriber';

import Flash from './helpers/flash';

import { getLink } from './helpers/selector';

import sitesHelper from './helpers/sites';

import trial from './views/Templates/trial-ended';

import messengersIntegrations from './views/Templates/integrations/messengers-services.vue'

import messengersIntegrationsPopup from './views/Templates/integrations/messengers-popup.vue';

import impressionsModalMax from './views/Templates/impressions-max-out.vue';

import tshirt from './views/Templates/t-shirt.vue';

import confirmGlobal from './views/Templates/confirmGlobal';

import updateGameCommand from './lucky-coupon/games/commands/update-game';

import menu from './views/App/Menu.vue';

export default {
	
	components: {
		trial,
		messengers: messengersIntegrations,
		'messengers-data': messengersIntegrationsPopup,
		'impressions-modal-max': impressionsModalMax,
		confirmGlobal,
		userMenu: menu,
		tshirt
	},
	
	data() {
		return {
			init: 0,
			hits: 0,
			shopifyApp: 0,
			selectedSiteId: 0,
			showSiteSettingsLink: false,
			redirect: 0,
			flash: Flash.state,
			trialEndShowed: false
		}
	},

	mounted() {
		this.init = 1;
		this.messengersPopup = this.$refs.messengers;
		this.messengersGetData = this.$refs.messengersData;
		this.tshirtPopup = this.$refs.tshirt;
		updateGameCommand.vue = this;
	},
	
	created() {
		this.shopifyApp = 0;
		this.$store.dispatch('getUser');
		this.selectedSiteId = this.$route.params.site_id || 0;
		this.$store.dispatch('getAllSites')
			.then(sitesHelper.getAllSitesSuccess.bind(this))
			.catch(sitesHelper.getAllSitesError.bind(this));
		if (typeof this.site.id === 'undefined') {
			this.$store.commit('currentSite', parseInt(this.selectedSiteId));
		}
		updateGameCommand.vue = this;
	},

	watch: {
		
		'$route' (to, from) {
			if (to.path === '/site/undefined/games' || to.path === '/site/undefined') {
				this.$router.push({path: '/site/game/add'});
			}
			if (this.$store.state._users.subPageAttended) {
				this.$store.state._users.subPageAttended = false;
				this.$store.dispatch('getUser');
			}
			if (this.shopifyUserRestrictions(to)) {
				this.$router.push({path: '/site/' + this.site.id + '/integrations'});
			}
		},
		
		sitesLoaded(value) {
			this.maxImpressionsPopup = this.$refs.impressionsModalMax;
			if(this.sites.length !== 0) {
				this.redirect++;
				if (typeof this.sites[0].id !== 'undefined') {
					this.$store.dispatch('getGames', this.sites[0].id);
				}
			} else {
				if (this.$route.path !== '/game/create') {
					this.$router.push('/site/game/add');
				}
				this.init = 0;
			}
		},
		
		userLoaded(value) {
			if(value) {
				this.redirect++;
			}
		},
		
		redirectDetector(value) {
			if (value === 3) {
				if (this.isNewShopifyUser()) {
					this.$router.push('/site/game/add');
					this.init = 0;
				} else if (this.redirectConditions()) {
					this.$router.push('/site/' + this.sites[0].id + '/games');
					this.init = 0;
				}
			}
		},
		
		site(value) {
			this.showSiteSettingsLink = (typeof value.id !== 'undefined');
		},
		
		sites(value) {
			if (value.length > 0) {
				if (typeof this.site.id === 'undefined') {
					let newSite = {};
					for (let prop in value[0]) {
						if (value[0].hasOwnProperty(prop)) {
							newSite[prop] = value[0][prop];
						}
					}
					this.site = newSite;
				}
			}
		},
		
		user(val) {
			if (!this.trialEndShowed
				&& !this.user.app_id
				&& !subscriber.hasTrialOrSub(this.user)
			) {
				this.trialEndShowed = true;
				this.$refs.trial.open({
					doneButtonHandler: this.redirectUpgrade.bind(this)
				});
			}
			if (val.app_id) {
				this.$store.dispatch('getShopifyApp', this.user.app_id);
				if (this.isPlanRichMaxImpr(val)) {
					this.$refs.impressionsModalMax.open({
						saveButtonHandler: this.redirectUpgrade.bind(this)
					});
				}
			}
		},
		
		gamesLoaded(val) {
			if (val) {
				this.redirect++;
			}
		}
		
	},
	
	computed: {
		
		messengersPopup: {
			get() {
				return this.$store.state._app.popup.messengers;
			},
			set(value) {
				this.$store.state._app.popup.messengers = value;
			}
		},
		
		messengersGetData: {
			get() {
				return this.$store.state._app.popup.messengersData;
			},
			set(value) {
				this.$store.state._app.popup.messengersData = value;
			}
		},
		
		tshirtPopup: {
			get() {
				return this.$store.state._app.popup.tshirt;
			},
			set(value) {
				this.$store.state._app.popup.tshirt = value;
			}
		},
		
		redirectDetector() {
			return this.redirect;
		},
		
		sitesLoaded() {
			return this.$store.state._sites.loaded;
		},
		
		gamesLoaded() {
			return this.$store.state._games.loaded;
		},
		
		userLoaded: {
			get() {
				return this.$store.state._users.userLoaded;
			},
			set(value) {
				this.$store.state._users.userLoaded = value;
			}
		},
		
		sites() {
			return this.$store.state._sites.sites;
		},

		site: {
			get() {
				return this.$store.state._sites.site;
			},
			set(value) {
				this.$store.state._sites.site = value;
			}
		},

		isSetSites() {
			return this.sites.length > 0;
		},

		user() {
			return this.$store.state._users.user;
		},

		games() {
			return this.$store.state._games.games;
		},
		
		game() {
			return this.$store.state._games.game;
		},
		
		shopify_app: {
			get() {
				return this.$store.state._shopifyApps.shopifyApp;
			},
			set(value) {
				this.$store.state._shopifyApps.shopifyApp = value;
			}
		},
		
		shopifySubscriber() {
			return this.user.shopifySubscription;
		},
		
		plans() {
			return this.user.plans;
		},
		
		maxImpressionsPopup: {
			get() {
				return this.$store.state._games.impressionsMaxPopup;
			},
			set(value) {
				this.$store.state._games.impressionsMaxPopup = value;
			}
		}
	},

	methods: {
		
		redirectUpgrade() {
			this.$router.push({path: '/upgrade'});
		},
		
		shopifyUserRestrictions: function (to) {
			return this.user.app_id
				&& (to.path === '/site'
				|| to.path === '/site/'
				|| to.path === '/site/' + this.site.id
				|| to.path === '/site/' + this.site.id + '/'
				|| to.path === '/sites'
				|| to.path === '/sites/');
		},
		
		redirectConditions() {
			return typeof this.sites[0].id !== 'undefined'
				&& this.init === 1 && this.$route.path === '/';
		},
		
		isNewShopifyUser() {
			return this.user.app_id
				&& this.games.length === 0
				&& this.$route.fullPath === '/';
		},
		
		isNewUser() {
			let datetime = this.user.created_at.split(' '),
				date = this.getIntArray(datetime[0], '-'),
				time = this.getIntArray(datetime[1], ':'),
				userCreated = +new Date(Date.UTC(date[0], date[1]-1, date[2], time[0], time[1], time[2])),
				now = Date.parse(new Date().toUTCString());
			return (now-userCreated)/60000 <= 20;
		},
		
		getIntArray(string, delimiter) {
			return string.split(delimiter).map(item => parseInt(item));
		},

		setCurrentSite(e) {
			const target = getLink(e.target),
				id = parseInt(target.pathname.replace('/', ''));
			if (id !== this.site.id) {
				this.$router.push('/site/' + id + '/games');
				this.$store.commit('clearGames');
				this.$store.commit('clearGamesDataCounter');
				this.$store.commit('currentSite', id);
				this.$store.commit('currentIntegrations', id);
				this.$store.dispatch('getGames', id);
			}
		},
		
		closeHelp(e) {
			if (e.target.className === 'container') {
				e.target.style.display = 'none';
			} else {
				Flash.clearTimeout();
				Flash.clearMessages();
			}
		},
		
		addNewSite(e) {
			if (subscriber.hasSiteCreateAccess(this.user, this.sites.length)) {
				this.$router.push({path: '/sites'});
			} else {
				this.$router.push({path: '/upgrade'});
			}
		},
		
		showShopifyRateUs() {
			//@todo: add user date created condition
			if (this.isModalShowed()) {
			
			}
		},
		
		isModalShowed() {
			let createdAt = this.user.created_at.split(' ')[0].split('-').map(x => parseInt(x)),
				oneDay = 24*60*60*1000,
				created = new Date(createdAt[0], createdAt[1]-1, createdAt[2]),
				now = new Date(),
				daysPast = Math.round(Math.abs((now.getTime() - created.getTime())/(oneDay)));
			return this.hits >= 15
				&& daysPast <= 2
				&& this.user.app_id
				&& !this.shopify_app.rated_us
				&& !this.shopify_app.showed_rate_modal;
		},
		
		getAllHits() {
			for (let game of this.games) {
				this.hits += game.hits;
			}
		},
		
		isJvzooPremium() {
			return subscriber.hasJvzooSub(this.user, 'JVZoo Premium');
		},
		
		isJvzooPremPlus() {
			return subscriber.hasJvzooSub(this.user, 'JVZoo Premium Plus') && this.sites.length < 3
		},
		
		gameEditRedirectHandle: function (mainLink, cancelLink) {
			if (this.$route.path === '/site/' + this.site.id + '/game/' + this.game.id && this.$store.state._settings.changes) {
				let link = typeof cancelLink === 'undefined' ? mainLink : cancelLink;
				this.$refs.confirmGlobal.open({
					saveButtonHandler: updateGameCommand.handle.bind(updateGameCommand, mainLink),
					cancelButtonHandler: function (link) {
						this.$store.state._settings.changes = false;
						this.$router.push(link);
					}.bind(this, link)
				});
			} else {
				this.$router.push(mainLink);
			}
		},
		
		redirectMyGames(e) {
			this.gameEditRedirectHandle(
				this.getMyGamesLink(),
				'/site/' + this.$store.state._sites.site.id + '/games'
			);
		},
		
		getMyGamesLink() {
			return this.site.id
				? '/site/' + this.site.id + '/games'
				: (
					this.$route.path === '/site/game/add'
					? '/site/game/add'
					: (
						this.$route.path === '/game/create'
						? '/game/create' : '/site/game/add'
					)
				);
		},
		
		redirectSiteSettings() {
			this.gameEditRedirectHandle(
				this.getSiteSettingsLink()
			);
		},
		
		getSiteSettingsLink() {
			return this.user.app_id
				? '/site/' + this.site.id + '/integrations'
				: '/site/' + this.site.id
		},
		
		isPlanRichMaxImpr(user) {
			return subscriber.isPlanRichMaxImpr(
				user,
				this.copyObject(this.plans),
				this.copyObject(this.shopifySubscriber)
			);
		},
		
		copyObject (object) {
			return JSON.parse(JSON.stringify(object));
		},
	}

}

</script>