<template>
	<div class="container fixed-width no-padding affiliate">
		<div class="row" style="margin-top: 3px;">
			<div class="col-md-4"><span class="games-header">Affiliate</span></div>
			<div class="col-md-8">
				<div class="col-md-9" style="padding-right: 22px;">
					<a href="https://www.dropbox.com/sh/5gbqokf3jn1u4rl/AAA6QGcMA4udE9f6JQ6cHaeaa?dl=0"
					   target="_blank" :class="getButtonClass() + ' materials'">Download affiliate materials</a>
				</div>
				<div class="col-md-3 no-padding">
					<a href="javascript:void(0)" :class="getSaveAffiliateClass()" @click="saveAffiliateInfo">Save changes</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="profile-page" style="padding-left: 25px; padding-right:0">
				<div class="col-md-12 no-padding">
					Earn 30% commissions on every friend you refer to our service, <b>forever</b>!
				</div>
				<form class="col-md-5 no-padding ref-form" style="margin-top: 28px;padding: 0 4px;">
					<div class="form-group form-group-lg">
						<label for="paypal_email" class="label">PAYPAL EMAIL</label>
						<input :style="{ 'border-color': validateEmail(paypalEmail) ? 'rgb(204, 208, 210)' : 'red'}"
								type="email" class="form-control" v-model="paypalEmail"
							   id="paypal_email" placeholder="Enter your paypal email here">
					</div>
					<div class="form-group form-group-lg" style="position: relative;">
						<label for="referral" class="label">YOUR REFERRAL LINK</label>
						<input type="email" class="form-control"
							   id="referral" style="margin-top: 5px;background: #fff"
							   :value="getReference()" disabled="disabled">
						<a @click="copyToClipBoard" class="copy-to-clipboard" href="javascript:void(0)">Copy</a>
					</div>
				</form>
				<div class="col-md-12 no-padding">
					<div class="col-md-12 no-padding" style="background:#EEEEEE; margin-top: 19px;"></div>
					<div class="col-md-5 no-padding">
						<h3 style="padding-left: 4px;" class="table-header">Referred users</h3>
					</div>
					<div class="col-md-7 no-padding" style="padding-left: 46px;">
						<h3 class="table-header">Total Balance: <b>${{ getAffiliatePayAmount() }}</b> (Next payout: {{ getNextPayDate() }})</h3>
					</div>
				</div>
				<div class="col-md-12 no-padding">
					<table class="table table-striped" style="margin-top: 19px;">
						<thead>
							<tr style="font-size: 12px;">
								<th style="padding-left:17px">NAME</th>
								<th width="230px">EMAIL</th>
								<th width="185px">SIGNED UP</th>
								<th width="195px">AMOUNT PAID</th>
								<th width="165px">COMMISSIONS</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="affiliate in affiliates">
								<td>{{ affiliate.referral[0].name }}</td>
								<td>{{ affiliate.referral[0].email }}</td>
								<td>{{ affiliate.referral[0].created_at }}</td>
								<td>{{ getMoney(affiliate.amount_paid) }}</td>
								<td>{{ getCommission(affiliate.amount_paid) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-12" style="margin-bottom: 50px;">
				<a class="affiliate-terms"
				   href="https://getwoohoo.com/affiliate-terms.html"
				   target="_blank">Terms & Conditions</a>
			</div>
		</div>
	</div>
</template>
<script>
import copy from 'copy-to-clipboard';

import Flash from '../../helpers/flash';

import { validateEmail } from '../../helpers/validators';

export default {
	data() {
		return {
			updateAffiliate: true,
			commission: 30
		};
	},
	
	mounted() {
		this.$store.dispatch('getAffiliatesData');
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		affiliates() {
			return this.$store.state._affiliates.affiliates;
		},
		
		paypalEmail: {
			get() {
				if (this.user.hasOwnProperty('affiliate_owner')) {
					return this.user.affiliate_owner.paypal_email;
				}
			},
			set(value) {
				this.user.affiliate_owner.paypal_email = value;
			}
		},
		
	},
	
	methods: {
		
		getAffiliatePayAmount: function() {
			let result = 0;
			for(let index in this.affiliates) {
				result += this.calculateCommission(this.affiliates[index].amount_paid);
			}
			return result/100;
		},
		
		getReference: function() {
			let result = '';
			if(this.user.hasOwnProperty('affiliate_owner')) {
				result = window.location.origin.replace('app.', '').replace('dev-app.', '') + '/?ref=' + this.user.affiliate_owner.reference;
			}
			return result;
		},
		
		getMonthNames: function () {
			return [
				'Jan', 'Feb', 'Mar', 'Apr',
				'May', 'Jun', 'Jul', 'Aug',
				'Sep', 'Oct', 'Nov', 'Dec'
			];
		},
		
		getNextPayDate: function() {
			let monthNames = this.getMonthNames(),
				now = new Date(),
				current;
			if (now.getMonth() === 11) {
				current = new Date(now.getFullYear() + 1, 0, 5);
			} else {
				current = new Date(now.getFullYear(), now.getMonth() + 1, 5);
			}
			return monthNames[current.getMonth()] + ' ' +
					current.getDate() + ', ' +
					current.getFullYear();
		},
		
		saveAffiliateInfo: function(e) {
			if(validateEmail(this.paypalEmail)) {
				this.$store.dispatch('savePaypalEmail', this.paypalEmail);
			} else {
				document.body.querySelector('#paypal_email').style.borderColor = 'red';
			}
		},
		
		getButtonClass: function() {
			return 'btn btn-default new-games-button affiliate-button pull-right';
		},
		
		getSaveAffiliateClass: function() {
			let className = this.getButtonClass();
			return this.updateAffiliate ? className : className + ' inactive';
		},
		
		copyToClipBoard: function(e) {
			copy(this.getReference());
			Flash.setSuccess('Copied to clipboard.')
		},
		
		getMoney(money) {
			if (money !== 0) {
				return (money/100) + '$';
			}
			return '-';
		},
		
		getCommission(money) {
			if (money) {
				return this.calculateCommission(money) / 100 + '$';
			}
			return '-';
		},
		
		calculateCommission(money) {
			return money/100 * this.commission
		},
		
		validateEmail(email) {
			if (email) {
				return validateEmail(email);
			}
			return true;
		}
		
	}
}
</script>