<template>
	<div class="col-md-12 gap">
		<div class="row">
			<div class="checkbox-wrapper" style="padding-left: 0">
				<div class="checkbox">
					<label style="font-size: 14px; vertical-align: 3px">
						<input type="checkbox" name="afterTheUserPerformsTheAction"
						       v-bind:true-value="'1'"
						       v-bind:false-value="'0'"
						       v-bind:checked="continueUseDiscount.value === '1'"
						       v-model="continueUseDiscount.value"
						/>
						<span class="custom-input custom-checkbox bigger-input"></span>
						LINK "CONTINUE & USE DISCOUNT" BUTTON TO A DIFFERENT URL
					</label>
				</div>
			</div>
		</div>
		<div class="row" v-if="settings.behavior.continueUseDiscount.value == '1'">
			<form class="form">
				<div class="form-group col-md-9 no-padding">
					<input
							placeholder="http://example.com"
							type="text"
							title=""
							class="form-control url-input"
							:style="{'border-color': color}"
							v-model="url" />
				</div>
			</form>
		</div>
		<div class="row" v-if="settings.behavior.continueUseDiscount.value == '1'">
			<div class="checkbox-wrapper" style="padding-left: 0">
				<div class="checkbox">
					<label style="font-size: 14px; vertical-align: 3px">
						<input type="checkbox" name="afterTheUserPerformsTheAction"
						       v-bind:true-value="'1'"
						       v-bind:false-value="'0'"
						       v-bind:checked="settings.behavior.continueUseDiscount.target === '1'"
						       v-model="settings.behavior.continueUseDiscount.target"
						/>
						<span class="custom-input custom-checkbox bigger-input"></span>
						Open link in a new tab
					</label>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			color: '#ccd0d2'
		};
	},
	
	computed: {
		
		settings: {
			get() {
				return this.$store.state._settings.settings;
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		},
		
		continueUseDiscount: {
			get() {
				if(typeof this.$store.state._settings.settings.behavior.continueUseDiscount.value === 'object') {
					this.$store.state._settings.settings.behavior.continueUseDiscount.value = '0';
				}
				return this.$store.state._settings.settings.behavior.continueUseDiscount;
			},
			set(value) {
				this.$store.state._settings.settings.behavior.continueUseDiscount = value;
			}
		},
		
		url: {
			get() {
				return this.settings.behavior.continueUseDiscount.url;
			},
			set(value) {
				this.settings.behavior.continueUseDiscount.url = value;
			}
		}
	},
	
	watch: {
		
		continueUseDiscount(value) {},
		
		url(value) {
			if (!value.match(new RegExp(/(http|https):\/\/([a-z0-9\-_.]+)\.([a-z0-9\-_.]+)/g))) {
				this.color = 'red';
			} else {
				this.color = '#ccd0d2';
			}
		}
	}
}
</script>