<template>
	<div class="modal fade" id="lucky-coupon-edit-email-template" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content edit-email-template">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>

				
				<div class="modal-body">
					
					<form class="col-md-4" style="overflow: auto; height: 500px;">
						<div v-if="couponRecieveEmailText" v-for="(value, settingsName, elIndex) in couponRecieveEmailText" class="wrapper">
							<div v-if="typeof value === 'string'" class="form-group">
								<label class="input-label" style="font-weight: 300">{{ makeHeader(settingsName) }}</label>
								<input v-model="settings.behavior.couponReceiveEmailText[settingsName]"
									   class="form-control"
									   type="text"
								/>
							</div>
						</div>
					</form>
					
					<div class="col-md-8 no-padding example-picture-wrapper">
						<h5 class="text-center" style="">EXAMPLE</h5>
						<img style="display: block; margin: 0 auto;" src="/img/game/example_mail.png" alt="">
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>

import string from '../../../../helpers/string';

export default {
	data() {
		return {
			options: {
				title: 'Edit Email Template'
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#lucky-coupon-edit-email-template');
	},
	
	computed: {
		settings:{
			get() {
				return this.$store.state._settings.settings;
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		},
		
		couponRecieveEmailText() {
			let behavior = this.settings.behavior;
			return behavior ? behavior.couponReceiveEmailText : false;
		}
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		makeHeader(property, isCapital) {
			property = property === 'from' ? property + ' (Store Email)' : property;
			return string.makeHeader(property, isCapital);
		},
		
		doneButtonHandler: function(e) {
			this.options.saveButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		cancelButtonHandler: function(e) {
			this.options.cancelButtonHandler.call(this);
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						this.modal.find('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		}
	}
}
</script>