<template xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="row">
		<!-- Coupons -->
		<div class="col-md-12">
			<form action="">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>#</th>
						<th>Type</th>
						<th v-if="!isGameWithType()">Value</th>
						<th>Coupon Code</th>
						<th>Gravity / Chance</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(coupon, index) in coupons">
						<td>{{ index + 1 }}</td>
						<td v-if="!isGameWithType()">
							<form class="update-form" style="width: 145px;">
								<div class="form-group" style="margin-bottom: 11px;">
									<select @change="updateCouponValue" data-field="type" :data-id="coupon.id" :data-temp_id="coupon.temp_id" class="form-control input-sm" >
										<option v-model="coupon.type" value="discount" :selected="coupon.type === 'discount'">Discount</option>
										<option v-model="coupon.type" value="cash" :selected="coupon.type === 'cash'">Cash</option>
										<option v-model="coupon.type" value="free shipping" :selected="coupon.type === 'free shipping'">Free shipping</option>
										<option v-if="game.type === 'coupon'" v-model="coupon.type" value="free product" :selected="coupon.type === 'free product'">Free product</option>
									</select>
								</div>
							</form>
						</td>
						<td>
							<form class="update-form" v-if="!isFreeType(coupon)" v-bind:style="{width: !isGameWithType() ? '50px' : 'auto'}">
								<div class="form-group" style="margin-bottom: 11px;">
									<input @keyup="updateCouponValue" data-field="value" :data-id="coupon.id" :data-temp_id="coupon.temp_id" class="form-control input-sm" type="text" v-model="coupon.value" />
								</div>
							</form>
						</td>
						<td>
							<form class="update-form" style="width: 165px;">
								<div class="form-group" style="margin-bottom: 11px;">
									<input @keyup="updateCouponValue" data-field="code" :data-id="coupon.id" :data-temp_id="coupon.temp_id" class="form-control input-sm" type="text" placeholder="Type Coupon Code" v-model="coupon.code" />
								</div>
							</form>
						</td>
						<td>
							<form class="update-form form-inline">
								<table>
									<tr>
										<td style="width: 50%;">
											<select @change="updateCouponValue" v-model="coupon.gravity" data-field="chance" :data-id="coupon.id" :data-temp_id="coupon.temp_id" class="form-control input-sm">
												<option>0</option>
												<option v-for="n in 100" v-if="n%10 === 0" :selected="{selected: n === coupon.gravity}"> {{ parseInt(n) }}</option>
											</select>
										</td>
										<td style="width: 50%;position: relative;left: 13px;">{{ parseFloat(coupon.chance) }}%</td>
									</tr>
								</table>
							</form>
						</td>
					</tr>
					</tbody>
				</table>
			</form>
		</div><!-- End coupons -->
		<div class="coupons-explain-wrapper">
			<h2>Creating Coupons</h2>
			<div v-if="user && user.app_id === 0" class="coupons-explain-text">Make sure the Coupons codes are properly set up and match your store coupons</div>
			<div v-if="user && user.app_id > 0" class="coupons-explain-text">Make sure your coupons codes are properly set up in your Shopify discount area. Once you created a coupon there, just paste it into the coupon code field.</div>
			<div v-if="user && user.app_id > 0" class="coupons-explain-link">To learn how to create Shopify coupon codes <a href="https://help.shopify.com/manual/promoting-marketing/discount-codes/create-discount-codes" target="_blank">Click here</a></div>
		</div>
	</div>
</template>
<script>
import Flash from '../../../helpers/flash';

import hook from '../../../helpers/game-hook.js';

import getCouponsUpdateEvent from '../../../lucky-coupon/games/commands/get-coupons-update-event';

export default {
	data() {
		return {
			couponBuffer: '',
			couponInput: '',
			couponSelect: null
		}
	},
	
	computed: {
		
		game() {
			return this.$store.state._games.game;
		},
		
		site() {
			return this.$store.state._sites.site;
		},
		
		coupons() {
			return this.$store.state._coupons.coupons;
		},
		
		user() {
			return this.$store.state._users.user;
		},
		
		desktop() {
			return this.$store.state._settings.desktop;
		},
		
		settings() {
			return this.$store.state._settings.settings;
		}
		
	},
	
	methods: {
		
		updateFrame(e) {
			hook.game_id = this.game.id;
			hook.vue_state = this;
			hook.updateFrame(e);
		},
		
		isShipping(couponType) {
			return couponType === 'free shipping';
		},
		
		displayShipping(couponType) {
			return this.isShipping(couponType) ? 'none' : ''
		},
		
		changeCouponValue(e) {
			let td = $(e.target).parents('td'),
				update = $(e.target).hasClass('update') ? e.target : $(e.target).parents('ul')[0],
				value = $(update).find('li')[0].innerHTML,
				changeForm = $(update).siblings()[0];
			this.couponBuffer = value;
			this.openFastUpdate(td);
			if($(update).hasClass('list')) {
				this.couponSelect = value;
				$(changeForm).find('select').focus();
			} else {
				this.couponInput = value;
				$(changeForm).find('input').focus();
			}
		},
		
		//@todo: refactor this monster method
		updateCouponValue(e) {
			let target = e.target,
				$target = $(target),
				td = $target.parents('td'),
				value = target.value || $target.find(':selected').val() || '',
				field = $target.data('field'),
				couponUpd = this.getCouponEventData($target);
			if (value !== '' && (typeof value !== 'undefined')) {
				if (field === 'code') {
					window['frameCodes'][this.site.id][this.game.id][couponUpd.id] = value;
				}
				if (value !== this.couponBuffer) {
					this.updateFrame(this.getCouponEvent(couponUpd, field, value));
					this.updateFrame({'target': 'trigger', 'value': this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
					if(typeof couponUpd.chance !== 'undefined') {
						this.$store.dispatch('reCalculateChance', couponUpd);
					}
				}
			}
		},
		
		getCouponEventData($target) {
			let id = $target.data('id'),
				tempId = $target.data('temp_id'),
				field = $target.data('field'),
				couponUpd = {id: parseInt(id), temp_id: parseInt(tempId),
				game_id: parseInt(this.$route.params.game_id)
			};
			couponUpd[field] = $target[0].value || $target.find(':selected').val() || '';
			let getId = couponUpd.id || couponUpd.temp_id,
				couponFind = this.$store.getters.getCouponById(getId);
			if (field !== 'value') {
				couponUpd['value'] = this.isGameWithType() ? couponFind.value : parseFloat(couponFind.value);
			}
			if (field !== 'type') {
				couponUpd['type'] = couponFind.type;
			}
			if (field !== 'chance') {
				couponUpd['chance'] = couponFind.chance;
			}
			return couponUpd;
		},
		
		getCouponEvent: function (couponUpd, field, value) {
			let getId = couponUpd.id || couponUpd.temp_id;
			this.$store.commit('setCoupon', couponUpd);
			let event = {'target': 'coupon', 'value': couponUpd};
			if (this.game.type === 'wheel') {
				let type = field === 'value' ? 'text' : 'code';
				event = {'target': 'svg', 'coupon': {'index': this.getCouponIndex(getId)}};
				event.coupon[type] = value;
			} else if (this.game.type === 'coupon') {
				event = {target: 'coupon', value: getCouponsUpdateEvent.handle(this.coupons, this.settings.text)}
			}
			return event;
		},
		
		getCouponIndex(id) {
			for (var index in this.coupons) {
				if (this.coupons[index].id === id) {
					return parseInt(index);
				}
			}
		},
		
		updateCoupon(couponUpd, td) {
			this.$store.dispatch('updateCoupon', couponUpd)
				.catch(err => {
					if(typeof err.response !== 'undefined') {
						if (err.response.status !== 200) {
							this.couponInput = this.couponBuffer;
							Flash.setError(err.response.data);
							this.openFastUpdate(td);
						} else if (err.response.status === 200) {
							this.$store.commit('setCoupon', couponUpd);
							this.clearBuffer();
							this.closeFastUpdate(td);
						}
					}
				});
		},
		
		cancelCouponValueUpdate(e) {
			this.couponInput = this.couponBuffer;
			this.closeFastUpdate($(e.target).parents('td'));
		},
		
		openFastUpdate(td) {
			$(td).find('.update-form').css('display', 'block');
			$(td).find('.update').css('display', 'none');
		},
		
		closeFastUpdate(td) {
			$(td).find('.update-form').css('display', 'none');
			$(td).find('.update').css('display', 'block');
		},
		
		clearBuffer() {
			this.couponBuffer = '';
			this.couponInput = '';
		},
		
		isGameWithType() {
			return this.game.type === 'gift' || this.game.type === 'wheel';
		},
		
		isFreeType(coupon){
			return coupon.type.indexOf('free ') > -1;
		}
	}
}
</script>