<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<div>
		<position v-if="!isGift()"></position>
		<div class="color-picker-wrapper">
			<ul class="list-inline color">
				<li v-for="(value, colorName) in settings.colors" v-if="colorName === 'background'">
					<popover :name="colorName + '-color'" :closeOnContentClick="false">
						<div slot="face">
							<button v-on:click="setColorType" :data-name="colorName" class="btn btn-default color-wrapper">
								<span class="color-name">{{ getDisplayName(colorName) }}</span>
								<div class="color pull-right" v-bind:style="{ 'background-color': settings.colors[colorName].hex }"></div>
							</button>
						</div>
						<div slot="content">
							<sketch-picker v-model="settings.colors[colorName]" @change-color="onChangeColor"></sketch-picker>
						</div>
					</popover>
				</li>
			</ul>
			<div v-if="showImageLoader">
				<form class="background-image" action="">
					<div v-show="!image" class="face-wrapper">
						<div class="cloud-icon"></div>
						<span class="btn btn-default btn-file">
							Upload image <input type="file" @change="backgroundChange" name="background" accept="image/jpeg,image/png" />
						</span>
						<div class="text recommended">{{ game.type !== 'gift' ? '780x250px' : '280x260px' }} recommended</div>
					</div>
					<div v-show="image" class="image-wrapper">
						<img class="image" :src="image" @click="clickBrowse" alt="" />
						<div class="control">
							<div class="new" @click="clickBrowse"><span v-bind:class="{glyphicon: true, 'glyphicon-refresh': true, rotating: loadingData}" aria-hidden="true"></span></div>
							<div class="delete" @click="deleteImage"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
						</div>
						<div class="slider-wrapper">
							<div class="row" style="position: relative; width: 165px;">
								<vue-slider v-model="tempOpacity" @callback="trackOpacity" @drag-end="opacityChange"></vue-slider>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div v-if="isWheel()" style="position: relative; overflow: hidden; display:none;">
				<div class="list-inline-border"></div>
				<label class="input-label">Your logo</label>
				<load-image ref="wheelLoadLogo"></load-image>
			</div>
			
			<div class="list-inline-border"></div>
			<ul class="list-inline color">
				<label class="input-label">Colors</label>
				<li v-for="(value, colorName) in settings.colors" v-if="showColors(colorName)">
					<popover :name="colorName + '-color'" :closeOnContentClick="false">
						<div slot="face">
							<button v-on:click="setColorType" :data-name="colorName" class="btn btn-default color-wrapper">
								<span class="color-name">{{ getDisplayName(colorName) }}</span>
								<div class="color pull-right" v-bind:style="{ 'background-color': settings.colors[colorName].hex }"></div>
							</button>
						</div>
						<div slot="content">
							<sketch-picker v-model="settings.colors[colorName]" @change-color="onChangeColor"></sketch-picker>
						</div>
					</popover>
				</li>
			</ul>
			<wheel-color-schema v-if="game.type === 'wheel'"></wheel-color-schema>
			<form action="" style="overflow:hidden">
				<div class="form-group col-md-12 no-left-padding select-font">
					<label class="input-label">Font</label>
					<select v-on:change="onChangeSelect" v-model="settings.font" name="font" class="form-control">
						<option selected="selected" value='"Open Sans", Helvetica, Arial, sans-serif'>Open Sans, Helvetica, Arial, sans-serif</option>
						<option value='Georgia, "Times New Roman", Times, serif'>Georgia, Times New Roman, Times, serif</option>
						<option>Inherit</option>
					</select>
				</div>
				<div v-if="settings.position === 'center'" class="form-group col-md-12 no-left-padding select-animation">
					<label class="input-label">Animation</label>
					<select v-on:change="onChangeSelect" v-model="settings.animation" name="animation" class="form-control">
						<option>None</option>
						<option value="fadeIn">Fade in</option>
						<option value="fadeInUp">Fade in up</option>
						<option value="fadeInDown">Fade in down</option>
						<option value="fadeInRight">Fade in right</option>
						<option value="fadeInLeft">Fade in left</option>
					</select>
				</div>
			</form>
			
			<div v-if="showGiftDesign(game)" class="gifts-design">
				<label class="input-label">Gift Icon</label>
				<div v-for="(isActive, giftDesign) in giftsDesign"
					 class="gift-design"
					 v-bind:data-design="giftDesign"
					 v-bind:class="{active: isActive}"
					 v-bind:style="{'background-image': 'url(img/game/gifts/' + giftDesign + '.png)'}"
					 @click="selectGiftDesign"
				></div>
			</div>
			
		</div>
	</div>
</template>
<script>
import { add, get, post, update, del } from '../../../helpers/api';

import sendBackground from '../../../lucky-coupon/games/commands/send-background';

import { defaultColors, defaultGameSettings } from '../../../helpers/templates/default/settings';

import { Sketch } from 'vue-color';

import { getParent } from '../../../helpers/selector';

import popover from 'vue-popover';

import Position from './Position.vue';

import vueSlider from 'vue-slider-component';

import hook from '../../../helpers/game-hook.js';

import Flash from '../../../helpers/flash';

import wheelColorSchema from './DesignTab/WheelColorSchema.vue';

import loadImage from './LoadImage.vue';

export default {
	components: {
		'sketch-picker': Sketch,
		popover: popover,
		position: Position,
		vueSlider,
		wheelColorSchema,
		loadImage
	},
	
	data() {
		return {
			initOpacityValue: null,
			colorTypeName: '',
			colors: defaultColors,
			target: {},
			image: '',
			opacity: false,
			showImageLoader: false,
			loadingData: false,
			intervalId: 1,
			tempOpacity: 50,
			giftsDesign: {
				'gift': false, 'gift1': false, 'gift2': false,
				'gift3': false, 'gift4': false, 'gift5': false,
				'gift7': false, 'gift8': false, 'gift9': false, 'gift10': false
			}
		}
	},
	
	mounted() {
		let settingsStore = this.$store.state._settings,
			opacity = false,
			image = '';
		settingsStore.newFile = false;
		this.initOpacityValue = true;
		if (settingsStore.settings.hasOwnProperty('backgroundImage')) {
			opacity = settingsStore.settings.backgroundImage.opacity;
			image = settingsStore.settings.backgroundImage.image;
			this.colorSliderBackground(settingsStore.settings.colors.background.hex);
		} else if(settingsStore.defaultSettings.hasOwnProperty('backgroundImage')) {
			opacity = settingsStore.defaultSettings.backgroundImage.opacity;
			image = settingsStore.defaultSettings.backgroundImage.image;
		}
		this.opacity = (typeof opacity === 'string' ? Math.round(opacity * 100) : opacity);
		this.image = image === '' ? '' : this.getTempUrl(image);
		if(settingsStore.loaded > 0) {
			this.showImageLoader = true;
		}
		this.wheelLoadLogo = this.$refs.wheelLoadLogo;
	},
	
	computed: {
		
		wheelLoadLogo: {
			get() {
				return this.$store.state._settings.modules.wheelLoadLogo;
			},
			set(value) {
				this.$store.state._settings.modules.wheelLoadLogo = value;
			}
		},
		
		game() {
			return this.$store.state._games.game;
		},
		
		settings: {
			get() {
				let store = this.$store.state._settings;
				return this.getSettings(store);
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		}
	},
	
	watch: {
		
		settings(value) {
			if (value.hasOwnProperty('backgroundImage')) {
				let opacity = value.backgroundImage.opacity,
					image = value.backgroundImage.image;
				if (typeof image === 'string') {
					this.image = image === '' ? '' : this.getTempUrl(image);
				}
				if (typeof this.opacity === 'string') {
					this.opacity = opacity*100;
				}
				this.showImageLoader = true;
			}
			if (value.hasOwnProperty('colors')) {
				this.colorSliderBackground(value.colors.background.hex);
			}
		},
		
		opacity(value) {
			if (this.settings.hasOwnProperty('backgroundImage')) {
				if (this.settings.backgroundImage.image !== '') {
					let parsedValue = parseFloat(value),
						calculated = isNaN(parsedValue) ? 0 : (parsedValue < 0.9999 ? parsedValue : (parsedValue === 100 ? 100 : parsedValue / 100 )),
						settingsStore = this.$store.state._settings;
					if (settingsStore.settings.hasOwnProperty('backgroundImage')) {
						settingsStore.settings.backgroundImage.opacity = calculated;
					} else if(settingsStore.settings.hasOwnProperty('backgroundImage')) {
						settingsStore.defaultSettings.backgroundImage.opacity = calculated;
					}
					if (this.initOpacityValue === false) {
						this.updateFrame({target: 'opacity', value: calculated});
					}
					this.tempOpacity = parsedValue;
					clearTimeout(this.intervalId);
					if (this.initOpacityValue === false) {
						this.intervalId = setTimeout(function() {
							sendBackground.sendImage.bind(this).call();
						}.bind(this), 1000);
					}
				}
			}
		},
		
		wheelLoadLogo(value){
			if (value && value.hasOwnProperty('setType')) {
				value.setType('wheelLogoImage');
			}
		}
	},
	
	methods: {
		
		updateFrame(e) {
			hook.game_id = this.game.id;
			hook.vue_state = this;
			hook.updateFrame(e);
		},
		
		getSettings(store) {
			if (store.settings.length === 0) {
				if (store.defaultSettings.font) {
					store.defaultSettings.font = store.defaultSettings.font.replace(/%27/g, '"');
				}
				if (store.defaultSettings.hasOwnProperty('giftImage')) {
					this.giftsDesign[store.defaultSettings.giftImage] = true;
				}
				return store.defaultSettings;
			} else {
				this.$store.commit('modifyColors');
				if (store.settings.font) {
					store.settings.font = store.settings.font.replace(/%27/g, '"');
				}
				if (store.settings.hasOwnProperty('colors')) {
					this.colorSliderBackground(store.settings.colors.background.hex);
				}
				if (store.settings.hasOwnProperty('giftImage')) {
					this.giftsDesign[store.settings.giftImage] = true;
				}
				return store.settings;
			}
		},
		
		colorSliderBackground(hex) {
			setTimeout(function(){
				let rgba = this.convertHex(hex);
				this.addGradients(rgba);
			}.bind(this), 100);
		},
		
		convertHex(hex){
			hex = hex.replace('#','');
			if (hex.length === 3) {
				hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
			}
			let r = parseInt(hex.substring(0,2), 16),
				g = parseInt(hex.substring(2,4), 16),
				b = parseInt(hex.substring(4,6), 16);
			return {r: r, g: g, b: b, a: 100};
		},
		
		onChangeSelect(e) {
			this.updateFrame({
				'target': $(e.target).attr('name'),
				'value': $(e.target).find(':selected').val()
			});
		},
		
		onChangeColor(val) {
			let target = this.target;
			var event = {'target': target, 'color': val.hex};
			if (this.game.type === 'wheel' && target === 'couponText') {
				event = {'target': 'svg', 'color': {'name': target, 'hex': val.hex}};
			}
			this.updateFrame(event);
			this.settings.colors[this.colorTypeName] = val;
			if (this.colorTypeName === 'background') {
				this.addGradients(val.rgba);
			}
		},
		
		addGradients(val) {
			this.addLinearGradient('-moz-', val);
			this.addLinearGradient('-webkit-', val);
			this.addLinearGradient('', val);
		},
		
		addLinearGradient(prefix, rgba) {
			let $slider = $('.slider-wrapper')[0];
			if ($slider) {
				$slider.style.background = prefix + this.getLinearGradient(rgba);
			}
		},
		
		getLinearGradient(rgbaObject) {
			return 'linear-gradient(left, rgba(' +
				rgbaObject.r + ',' +
				rgbaObject.g + ',' +
				rgbaObject.b + ',' +
				rgbaObject.a + ') 0%,rgba(255,255,255,0) 100%)';
		},
		
		setColorType(e) {
			let node = $(e.target).parents('.popover')[0],
				type = node.className.replace('popover ', '').replace('-color', '');
			this.target = type;
			this.setZIndex(e);
			this.colorTypeName = this.getColorVarName(type);
		},
		
		setZIndex(e) {
			$('.popover').css('z-index', 1000);
			$(e.target).parents('.popover').css('z-index', 2000);
		},
		
		getColorVarName(rawName) {
			return rawName.replace(/-([a-z])/g, (g) => {
				return g[1].toUpperCase();
			});
		},
		
		getDisplayName(text) {
			return this.splitCamelCase(text, ' ')
				.replace(/^./, (str) => {
					return str.toUpperCase();
				})
		},
		
		splitCamelCase(text, split) {
			return text.replace(/([A-Z])/g, split + '$1');
		},
		
		clickBrowse(e) {
			let input = getParent(e.target, 'background-image').querySelector('input'),
				event = new MouseEvent("click", {
					view: window,
					bubbles: true,
					cancelable: true
				});
			input.dispatchEvent(event);
		},
		
		backgroundChange(e) {
			let files = e.target.files || e.dataTransfer.files;
			if (!files.length) return;
			this.$store.state._settings.settings.backgroundImage.opacity = this.opacity / 100;
			sendBackground.handle.bind(sendBackground, files[0], this).call();
		},
		
		deleteImage(e) {
			this.image = '';
			this.updateFrame({target: 'image', file: ''});
			this.$store.state._settings.settings.backgroundImage.opacity = 0.9;
			this.$store.state._settings.settings.backgroundImage.image = '';
			this.$store.dispatch('deleteBackgroundImage', this.$store.state._games.game.id);
		},
		
		inputNumbers(e) {
			e.preventDefault();
			let value = e.target.value,
				calculated = value + e.key;
			if(calculated < 1) {
				this.opacity = 1;
			} else if (value.length < 3 && calculated >= 1 && calculated <= 100) {
				this.opacity = value + e.key;
			}
			if (e.keyCode === 8) {
				this.opacity = value.slice(0, -1);
			}
		},
		
		getTempUrl(file) {
			return file + '?' + new Date().getTime()
		},
		
		opacityChange: function(e) {
			this.initOpacityValue = false;
			this.opacity = parseInt(e.$el.innerText);
		},
		
		trackOpacity(value) {
			this.initOpacityValue = false;
			this.opacity = parseInt(value);
		},
		
		showColors(colorName) {
			let exclude = ['background'];
			if (exclude.indexOf(colorName) > -1) {
				return false;
			} else if (this.isWheel() && colorName === 'design') {
				return false;
			} else {
				if(this.game.type === 'slot') {
					return colorName !== 'couponText';
				}
			}
			return true;
		},
	
		isWheel() {
			return this.game.type === 'wheel';
		},
		
		isGift() {
			return this.game.type === 'gift';
		},
		
		selectGiftDesign(event) {
			for (let index in this.giftsDesign) {
				this.giftsDesign[index] = false;
			}
			let value = event.target.dataset.design;
			this.giftsDesign[value] = true;
			this.settings.giftImage = encodeURI(value);
			this.updateFrame({target: 'giftImage', value: value});
		},
		
		showGiftDesign(game) {
			return game.type === 'gift'
				? true
				: (
					this.settings.behavior
					&& this.settings.behavior.hasOwnProperty('showPlayGameTrigger')
					&& this.settings.behavior.showPlayGameTrigger.yes === '1'
				);
		}
	}
};
</script>