<template xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="no-padding">
		<div class="col-md-4 text-center frame-control">
			<ul class="layout-list list-inline">
				<li @click="selectDeviceView" class="layout preview" v-bind:class="{active: desktop}">
					<div class="icon desktop" v-bind:class="{active: desktop}"></div>
				</li>
				<li @click="selectDeviceView" class="layout preview" v-bind:class="{active: !desktop}">
					<div class="icon mobile" v-bind:class="{active: !desktop}"></div>
				</li>
				<li class="real-preview">
					<a class="link-preview" href="javascript:void(0)" :style="{'color': (previewButton ? '#ddd' : '#000') }" v-on:click="realPreview">Preview</a>
				</li>
			</ul>
		</div>
		<div class="game-preview" v-bind:class="[{desktop: desktop}, {mobile: !desktop}, settings.position]">
			<div class="screen-preview-bg">
			<iframe id='screen-preview' class="screen-preview" src="about:blank" frameborder="0"
					style="transform-origin: 0 0 0;"
					v-bind:style="{transform: desktop ? '' : '', width: desktop ? '100%' : '367px', height: desktop ? '100%' : '547px'}"
			></iframe>
			</div>
		</div>
	</div>
</template>
<script>
import { Converter } from '../../../helpers/converter';

import gamePreview from '../../../helpers/game-preview';

import hook from '../../../helpers/game-hook.js';

import wheelColorSchema from '../../../lucky-coupon/games/commands/get-wheel-color-schema'

import {getData} from '../../../helpers/data';

export default {
	data() {
		return {
			loaded: 0,
			defaultLoaded: 3,
			previewButton: false
		}
	},
	
	created() {
		this.loaded = 0;
	},
	
	mounted() {
		if (this.game.id) {
			this.$store.dispatch('getIntegrations', this.game.id);
		}
	},
	
	watch: {
		
		sLoaded(value) {
			if (value > 0 &&  (! this.$store.state._settings.settings.hasOwnProperty('position'))) {
				let defaultSettings = JSON.parse(JSON.stringify(this.$store.state._settings.defaultSettings));
				this.$store.commit('setSettings', defaultSettings);
			}
			this.loaded = this.loaded + 1;
		},
		
		cLoaded(value) {
			if(value > 0 && this.$store.state._coupons.coupons.length === 0) {
				let defaultCoupons = JSON.parse(JSON.stringify(this.$store.state._coupons.defaultCoupons));
				this.$store.commit('setCoupons', defaultCoupons);
			}
			this.loaded = this.loaded + 1;
		},
		
		iLoaded(value) {
			if (value === 1) {
				this.loaded = this.loaded + 1;
			}
		},
		
		game(value) {
			if (value.id) {
				this.$store.dispatch('getIntegrations', value.id);
			}
		},
		
		loaded(value) {
			if(value === this.defaultLoaded) {
				this.addScriptToFrame();
			}
		},
		
		desktop(value) {
			this.updateFrame({'target': 'opacity', 'value': this.$store.state._settings.settings.backgroundImage.opacity});
		}
	},
	
	computed: {
		user() {
			return this.$store.state._users.user;
		},
		site() {
			return this.$store.state._sites.site;
		},
		game() {
			return this.$store.state._games.game;
		},
		games() {
			return this.$store.state._games.games;
		},
		sLoaded() {
			return this.$store.state._settings.loaded;
		},
		cLoaded() {
			return this.$store.state._coupons.loaded;
		},
		iLoaded() {
			return this.$store.state._integrations.loaded;
		},
		coupons() {
			return this.$store.state._coupons.coupons;
		},
		settings() {
			return this.$store.state._settings.settings;
		},
		desktop: {
			set(value) {
				this.$store.state._settings.desktop = value;
			},
			get() {
				return this.$store.state._settings.desktop;
			}
		},
		integrations() {
			return this.$store.state._integrations.integrations;
		}
	},
	
	methods: {
		updateFrame(e) {
			// @todo: hide game_id and vue_state into hook.updateFrame as params
			hook.game_id = this.game.id;
			hook.vue_state = this;
			hook.updateFrame(e);
		},
		
		realPreview() {
			if (!this.previewButton) {
				this.previewButton = true;
				this.setTempData();
				gamePreview.clearGlobalVariables(this.games);
				this.setPoweredBy();
				let script = gamePreview.getGameScript(this.settings, this.coupons,
					this.$store.state._sites.site.id, this.$store.state._games.game, this.integrations);
				window.top.document.body.appendChild(script);
				this.previewButton = false;
			}
		},
		
		setPoweredBy: function() {
			if(this.isLtdUser()) {
				this.settings.behavior.isPoweredByVisible = '0';
			}
		},
		
		isLtdUser: function() {
			return getData(this.user, 'license_keys.0.id', false);
		},
		
		setTempData() {
			let gameId = this.game.id,
				type = this.game.type;
			if (type === 'wheel') {
				window[type] = {slices: {colors: {}, texts: {}}, font: {color: {}}};
				let fontColor = this.settings.colors.couponText.hex,
					schema = wheelColorSchema.getSchema(JSON.parse(JSON.stringify(this.settings)));
				window[type]['slices']['colors'][gameId] = schema;
				window[type]['slices']['texts'][gameId] = this.coupons;
				window[type]['font']['color'][gameId] = fontColor;
			}
		},
		
		selectDeviceView(e) {
			let currentNode = $(e.target).hasClass('icon') ? e.target : $(e.target).find('.icon')[0],
				nameView = currentNode.className.replace('active', '').replace('icon', '').replace(' ', ''),
				body = $($('iframe#screen-preview').contents().find('body')[0]);
			this.desktop = (nameView === 'desktop');
			body.removeClass('mobile-preview-item');
			if (!this.desktop) {
				this.$store.state._settings.settings.position = 'center';
				body.addClass('mobile-preview-item');
			}
			this.updateFrameEvents(nameView);
		},
		
		updateFrameEvents(nameView) {
			this.updateFrame({target: 'device', value: nameView});
			this.updateFrame({target: 'position', value: this.settings.position});
			this.updateFrame({target: 'opacity', value: this.settings.backgroundImage.opacity});
			this.updateFrame({target: 'trigger', value: this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
			this.updateFrame({target: 'email_field_visibility', value: this.settings.behavior.collectEmailFromUsers.yes === '1' ? 'show' : 'hide'});
			this.updateFrame({target: 'name_field_visibility', value: this.settings.behavior.collectNameFromUsers.yes === '1' ? 'show' : 'hide'});
			this.updateFrame({target: 'facebookRecart', value: this.settings.behavior.collectEmailWithRecart === '1'});
			this.updateFrame({target: 'GPDR', value: this.settings.behavior.makeGPDRCompliance === '1'});
			this.updateFrame({target: 'bar', value: this.isGameBarShows()});
		},
		
		isGameBarShows() {
			return this.$store.state._settings.textSectionName === 'bar'
				? this.settings.behavior.countDownTime === '1'
				: false;
		},
		
		addScriptToFrame() {
			gamePreview.clearGlobalVariables(this.games);
			this.setPoweredBy();
			let frame = $('iframe#screen-preview'),
				body = frame.contents().find('body')[0],
				script = gamePreview.getGameScript(
					this.settings, this.coupons,
					this.site.id, this.game, this.integrations);
			gamePreview.insertScript(frame, script, this.game.id, true);
			this.addTriggerCrossFrameData();
		},
		
		addTriggerCrossFrameData() {
			let gameId = this.game.id,
				executor = this.realPreview.bind(this, this.settings, this.coupons,
					this.$store.state._sites.site.id, this.$store.state._games.game, this.integrations);
			window.top['id'] = this.site.id;
			window['_lkda']['preview_trigger'] = {
				game_id: gameId,
				executor: executor
			};
		}
	}
};
</script>