<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<div class="container editor-game-page">
		<!-- Game detail page -->
		<div class="row editor-game-page-header-navbar">
			<div class="col-md-12 no-padding">
				<div class="panel-heading no-padding text-center">
					<div class="collapse navbar-collapse">
						<div class="pull-left">
							<button v-on:click.prevent="cancelSettings" class="btn btn-default new-games-button cancel" style="margin-top:-5px;">
								<span aria-hidden="true" class="glyphicon glyphicon-menu-left" style="top: 3px;"></span>
								Back</button>
						</div>
						<div class="pull-right">
							<button v-on:click.prevent="saveSettings" :disabled="blockSave" class="btn btn-default">{{ saveText }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row editor-game-page-side-navbar">
			<div v-if="settings.hasOwnProperty('behavior')" class="editor-game-page-side-navbar-elements">
				<div class="panel-heading no-padding">
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav" v-on:click.prevent="selectTab">
							<li v-bind:class="{ active: designTab }" data-tab="Design">
								<span class="icon-Design"></span>
								<a href="javascript:void(0)" data-tab="Design">Design</a>
							</li>
							<li v-bind:class="{ active: textTab }" data-tab="Text">
								<span class="icon-Text"></span>
								<a href="javascript:void(0)" data-tab="Text">Text</a>
							</li>
							<li v-bind:class="{ active: couponsTab }" data-tab="Coupons">
								<span class="icon-Coupon-icon"></span>
								<a href="javascript:void(0)" data-tab="Coupons">Coupons</a>
							</li>
							<li v-bind:class="{ active: settingsTab }" data-tab="Settings">
								<span class="icon-settings"></span>
								<a href="javascript:void(0)" data-tab="Settings">Settings</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="editor-game-page-main-area">
					<div v-if="settings.hasOwnProperty('behavior')" class="panel panel-default site-panel">
						<div class="panel-body">
							<div class="row">
								<div v-if="designTab">
									<appearance-tab></appearance-tab>
								</div>
								<div v-if="textTab">
									<new-text-tab></new-text-tab>
								</div>
								<div v-if="couponsTab">
									<coupon-tab></coupon-tab>
								</div>
								<div v-if="settingsTab">
									<behavior-tab></behavior-tab>
								</div>
							</div>
						</div>
					</div>
				<div class="preview-frame">
					<preview-frame></preview-frame>
				</div>
			</div>
		</div>
		<!-- Congratulation popup /resources/assets/js/views/Templates/congratulation.vue -->
		<congratulation ref="congratulation"></congratulation>
		<!-- End of Congratulation popup -->
		
		<!-- Confirm popup /resources/assets/js/views/Templates/confirm.vue -->
		<confirm ref="confirm"></confirm>
		<!-- End of Confirm popup -->
		
		<!-- Embedded code popup /resources/assets/js/views/Templates/embedded.vue -->
		<embedded ref="embedded"></embedded>
		<!-- End of Embedded code popup -->
		
		<!-- Email template popup -->
		<edit-email-template ref="editEmailTemplate"></edit-email-template>
		<!-- End of Email template popup -->
	</div>
</template>
<script>

function loadText(game){
	return System.import('../../../helpers/templates/' + game + '/text.js');
}

function loadLanguage(lang) {
	return System.import('../../../helpers/language/game/' + lang +'.js');
}

import {bar} from '../../../helpers/language/bar.js';

import {changeable} from '../../../helpers/language/changeable.js';

import {couponTranslation} from '../../../helpers/language/coupons.js';

import {codeMailTranslation} from '../../../helpers/language/email.js';

import getGameTextStructureCommand from '../../../lucky-coupon/games/commands/get-game-text-structure';

import { getLink, getLI } from '../../../helpers/selector';

import Flash from '../../../helpers/flash';

import { Converter } from '../../../helpers/converter';

import DesignTab from './DesignTab.vue';

import CouponTab from './CouponTab.vue';

import NewTextTab from './NewTextTab.vue';

import SettingsTab from './SettingsTab.vue';

import FramePreview from './FramePreview.vue';

import congratulation from '../../Templates/congratulation.vue';

import confirm from '../../Templates/confirm.vue';

import embedded from '../../Templates/embedded-code.vue';

import feedback from '../../../lucky-coupon/popup/feedback';

import updateOnGameCommand from '../../../lucky-coupon/games/commands/update-game';

import {getData, decodeRecursive} from '../../../helpers/data.js'

import hook from '../../../helpers/game-hook.js';

import editEmailTemplate from './SettingsTab/EditEmailTemplate.vue';

export default {
	components: {
		'appearance-tab': DesignTab,
		'coupon-tab': CouponTab,
		'behavior-tab': SettingsTab,
		'preview-frame': FramePreview,
		NewTextTab,
		congratulation,
		confirm,
		embedded,
		'edit-email-template': editEmailTemplate
	},

	data() {
		return {
			designTab: true,
			textTab: false,
			couponsTab: false,
			settingsTab: false,
			textCopied: false,
			loadedText: {},
			gameTexts: {},
			loadResource: 0
		};
	},

	created() {
		if (this.games.length === 0) {
			this.$store.dispatch('getGames', this.$route.params.site_id);
		} else {
			this.setCurrentGame();
		}
		feedback.vue = this;
		updateOnGameCommand.vue = this;
		this.desktop = true;
	},
	
	mounted() {
		this.$store.state._app.popup.editEmailTemplate = this.$refs.editEmailTemplate;
	},
	
	watch: {
		gLoaded(value) {
			this.setCurrentGame();
			if (value > 0) {
				this.loadedResources = this.loadedResources + 1;
			}
		},
		
		sLoaded(value) {
			if (value > 0) {
				if (this.gLoaded === 0) return false;
				if (this.isEmptyTexts()) {
					this.addNewGameTextStructure();
				} else {
					this.loadedResources = this.loadedResources + 1;
				}
				if (
					this.game.is_created === 0
					&& !getData(this.$store, 'state._settings.settings.behavior.couponReceiveEmailText', false)
				) {
					this.setDefaultEmailTexts();
				} else if (!this.hasEmailTexts()) {
					this.setCurrentEmailTexts();
				}
			}
		},
		loadedResources(value) {
			if (value < 2 || !this.isEmptyTexts()) return false;
			this.addNewGameTextStructure();
		},
		game(value) {
			if (value !== {}) {
				this.setRelatedObjects(this.$route.params.game_id);
			}
		},
		settings(value) {
		
		},
		settingsText(value) {

		},
		settingsEmailTexts(value) {
		
		},
		coupons(value) {
			if (value.length > 0) {
				let frameCodes = {};
				for (let coupon of value) {
					if (typeof frameCodes[this.site.id] === 'undefined') {
						frameCodes[this.site.id] = {};
					}
					if (typeof frameCodes[this.site.id][this.game.id] === 'undefined') {
						frameCodes[this.site.id][this.game.id] = {};
					}
					if (typeof frameCodes[this.site.id][this.game.id][coupon.id] === 'undefined') {
						frameCodes[this.site.id][this.game.id][coupon.id] = {};
					}
					frameCodes[this.site.id][this.game.id][coupon.id] = coupon.code;
				}
				window['frameCodes'] = frameCodes;
			}
		}
	},
	
	computed: {
		loadedResources:{
			get() {
				return this.loadResource;
			},
			set(value){
				this.loadResource = value;
			}
		},
		user(){
			return this.$store.state._users.user;
		},
		site() {
			return this.$store.state._sites.site;
		},
		gLoaded() {
			return this.$store.state._games.loaded;
		},
		sLoaded() {
			return this.$store.state._settings.loaded;
		},
		game:{
			get() {
				return this.$store.state._games.game;
			},
			set(value){
				this.$store.state._games.game = value;
			}
		},
		settings() {
			return this.$store.state._settings.settings;
		},
		games() {
			return this.$store.state._games.games;
		},
		coupons() {
			return this.$store.state._coupons.coupons;
		},
		blockSave() {
			return this.$store.state._settings.blockSave;
		},
		saveText() {
			return this.$store.state._games.justCreated ? 'Create game' : 'Save game';
		},
		showFeedback: {
			get() {
				return this.$store.state._games.showFeedback;
			},
			set(value) {
				this.$store.state._games.showFeedback = value;
			}
		},
		settingsText: {
			get() {
				return this.$store.state._settings.settings.text;
			},
			set(value) {
				this.$store.state._settings.settings.text = value;
			}
		},
		settingsEmailTexts: {
			get() {
				return decodeRecursive(getData(this.$store.state._settings.settings, 'behavior.couponReceiveEmailText', {}));
			},
			set(value) {
				this.$store.state._settings.settings.behavior.couponReceiveEmailText = value;
			}
		},
		desktop: {
			set(value) {
				this.$store.state._settings.desktop = value;
			},
			get() {
				return this.$store.state._settings.desktop;
			}
		}
	},

	methods: {
		
		updateFrame(e) {
			hook.game_id = this.game.id;
			hook.vue_state = this;
			hook.updateFrame(e);
		},
		
		isEmptyTexts: function () {
			return typeof this.settings.text === 'undefined'
				|| JSON.stringify(this.settings.text) === JSON.stringify({});
		},
		
		addNewGameTextStructure() {
			let type = this.getSafeGameType();
			loadText(type).then(function(module) {
				this.loadTextModule(module, type);
				let settings = this.$store.state._settings.settings;
				if (settings.hasOwnProperty('behavior')) {
					loadLanguage(settings.behavior.language)
						.then(function(module) {
							this.setGameTexts(module[settings.behavior.language]);
							this.setSettingsText();
						}.bind(this));
				}
			}.bind(this));
		},
		
		hasEmailTexts() {
			let emailTextTemplate = getData(this.settings, 'behavior.couponReceiveEmailText', false);
			return emailTextTemplate && JSON.stringify(emailTextTemplate) !== JSON.stringify({});
		},
		
		setDefaultEmailTexts() {
			this.$store.state._settings.settings.behavior.couponReceiveEmailText = this.$store.state._settings.defaultSettings.behavior.couponReceiveEmailText;
		},
		
		setCurrentEmailTexts() {
			this.$store.state._settings.settings.behavior.couponReceiveEmailText = this.getReceiveEmailText();
		},
		
		getReceiveEmailText() {
			return {
				"discountCodeSentToYourEmail": "Discount code sent to your email",
				"couponCode": this.getEmailText('couponCode'),
				"congratulation": this.getEmailText('congratulation'),
				"youWon": this.getEmailText('youWon'),
				"yourDiscount": this.getEmailText('yourDiscount'),
				"dontForgetToApplyYourCouponToTheRelevantFieldDoingTheCheckoutProcess": this.getEmailText('advice'),
				"goToSite": this.getEmailText('goToSite'),
				"freeProduct": this.getEmailText('freeProduct'),
				"freeShipping": this.getEmailText('freeShipping'),
				"cash": this.getEmailText('cash'),
				"discount": this.getEmailText('discount')
			};
		},
		
		getEmailText(textCode) {
			let text = getData(codeMailTranslation, textCode + '.' + this.settings.behavior.language, '');
			return text
					.replace("<span style='font-size: 14px; line-height: 16px;'>", '')
					.replace("</span>", '');
		},
		
		setGameTexts(mainTexts) {
			this.gameTexts.main = mainTexts;
			this.gameTexts.bar = bar;
			this.gameTexts.changeable = changeable;
			this.gameTexts.coupons = couponTranslation;
			this.gameTexts.email = codeMailTranslation;
		},
		
		setSettingsText() {
			let result = false;
			if (this.isCreatedGame()) {
				result = this.loadedText;
			} else if (
				!this.textCopied
				&& JSON.stringify(getData(this.$store.state._settings, 'settings.text', {})) === JSON.stringify({})
			) {
				result = this.getMixedText();
			}
			if(result) {
				this.$store.state._settings.settings.text = result;
			}
		},
		
		isCreatedGame() {
			return this.game.is_created === 0
				&& !getData(this.$store, 'state._settings.settings.text', false);
		},
		
		getMixedText() {
			let result = {},
				settings = this.$store.state._settings.settings;
			if (!getData(settings, 'text.startScreen', false)) {
				result = this.copyTextsForNewTab(
					settings.content,
					getData(settings, 'behavior.language', 'en')
				);
			}
			return result;
		},
		
		copyTextsForNewTab(content, lang) {
			getGameTextStructureCommand.data = {
				lang: lang,
				gameType: this.getGameType(),
				content: content,
				gameTexts: this.gameTexts
			};
			return getGameTextStructureCommand.handle();
		},
		
		loadTextModule(module, type) {
			this.loadedText = decodeRecursive(module[type + 'Text']);
		},
		
		getSafeGameType() {
			return this.game ? this.getGameType() : false;
		},
		
		getGameType() {
			return this.game.type === 'coupon' ? 'default' : this.game.type;
		},
		
		setRelatedObjects(gameId) {
			this.$store.dispatch('getCoupons', gameId);
			this.$store.dispatch('getSettings', gameId);
		},
		
		setCurrentGame() {
			let id = parseInt(this.$route.params.game_id);
			this.$store.commit('currentGame', id);
			if (!this.$store.state._games.game.id) {
				this.redirectGames();
			}
			this.setRelatedObjects(id);
		},
		
		selectTab(e) {
			this.$store.state._settings.textSectionName = '';
			this.updateFrame({target: 'bar', value: false});
			this.designTab = false;
			this.textTab = false;
			this.couponsTab = false;
			this.settingsTab = false;
			this[this.getTabName(e.target)+'Tab'] = true;
		},
		
		saveSettings(e) {
			let modal = true;
			if (this.user.is_first_time && !this.user.shopifySubscription && !this.user.is_admin) {
				if (this.$refs.hasOwnProperty('embedded')) {
					if (!this.$refs.embedded.opened) {
						let url = '//' + window.location.hostname + '/' + this.site.id + '/script.js';
						this.$refs.embedded.open({
							url: url,
							saveButtonHandler: function(){
								this.handle();
								this.redirectGames();
							}.bind(updateOnGameCommand),
							cancelButtonHandler: function () {
								this.$store.state._settings.changes = false;
								this.redirectGames();
							}.bind(this)
						});
						feedback.handle();
					}
				}
			} else if(this.$store.state._games.justCreated) {
				modal = false;
				this.game.new_game = true;
				this.game.active = true;
				this.$store.state._games.justCreated = false;
				this.$refs.congratulation.open({
					title: 'Congratulations',
					text: 'Your Pop-up is now live on your site, you can now sit back and watch WooHoo! in action. ' +
					'<p><a target="_blank" href="'+this.getCorrectUrl(this.site.url)+'">Check it out</a></p>',
					doneButtonHandler: this.redirectGames.bind(this),
				});
			}
			updateOnGameCommand.gameCreated();
			updateOnGameCommand.updateGame(modal);
		},
		
		cancelSettings(e) {
			if (this.$store.state._settings.changes === false) {
				this.redirectGames();
			} else {
				this.$refs.confirm.open({
					saveButtonHandler: updateOnGameCommand.handle.bind(updateOnGameCommand),
					cancelButtonHandler: function() {
						this.$store.state._games.justCreated = false;
						this.$store.state._settings.changes = false;
						this.redirectGames();
					}.bind(this)
				});
			}
		},
		
		redirectGames(){
			this.$router.push('/site/' + this.site.id + '/games');
		},
		
		getCorrectUrl(url) {
			if (url.indexOf('https://') !== -1 || url.indexOf('http://') !== -1) {
				return url;
			}
			return 'https://' + url;
		},
		
		getTabName(element) {
			while(typeof element.dataset.tab === 'undefined') {
				element = element.parentNode;
			}
			return element.dataset.tab.toLowerCase()
		}
	}

};

</script>