<template>
	<div class="col-md-12 gap no-padding" v-if="show()">
		<form class="background-image" action="">
			<div v-show="!image" class="face-wrapper">
				<div class="cloud-icon"></div>
				<span class="btn btn-default btn-file">
					Upload image <input type="file" @change="backgroundChange" name="background" accept="image/jpeg,image/png" />
				</span>
				<div class="text recommended">{{ getSizeText() }}</div>
			</div>
			<div v-show="image" class="image-wrapper">
				<img class="image" :src="image" @click="clickBrowse" alt="" />
				<div class="control">
					<div class="new" @click="clickBrowse"><span v-bind:class="{glyphicon: true, 'glyphicon-refresh': true, rotating: loadingData}" aria-hidden="true"></span></div>
					<div class="delete" @click="deleteImage"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
				</div>
			</div>
		</form>
	</div>
</template>
<script>
import { getParent } from '../../../helpers/selector';

import sendEmailLogo from '../../../lucky-coupon/games/commands/send-email-logo';

import sendBackground from '../../../lucky-coupon/games/commands/send-background';

import sendWheelLogo from '../../../lucky-coupon/games/commands/send-wheel-logo';

import hook from '../../../helpers/game-hook';

export default {
	data() {
		return {
			image: '',
			type: 'backgroundImage',
			loadingData: false,
			newFile: false
		};
	},
	
	computed: {
		game() {
			return this.$store.state._games.game;
		},
		settings: {
			get() {
				return this.$store.state._settings.settings;
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		},
		image() {
			return this.getImage();
		}
	},
	
	watch: {
		type(value){
			this.image = this.getImage();
		}
	},
	
	methods: {
		
		updateFrame(e) {
			hook.game_id = this.game.id;
			hook.vue_state = this;
			hook.updateFrame(e);
		},
		
		getSizeText() {
			let result = '',
				recommended = 'recommended';
			if (this.type === 'wheelLogoImage') {
				result = '275x275 px ' + recommended;
			} else if (this.type === 'logoImage') {
				result = '275x440 px ' + recommended;
			}
			return result;
		},
		
		show() {
			switch (this.type) {
				case 'logoImage': return this.isLogoAvailableToShow();
				case 'wheelLogoImage': case 'backgroundImage':
				default:
					return true;
			}
		},
		
		isLogoAvailableToShow() {
			let behavior = this.$store.state._settings.settings.behavior;
			let receiveCodeOption = behavior.howDoYouWantYourCustomerToReceiveTheCoupon;
			return receiveCodeOption.sendTroughEmail === '1'
				|| receiveCodeOption.winningGameScreenAndEmail === '1'
		},
		
		setType: function (type) {
			this.type = type;
		},
		
		getImage() {
			switch (this.type) {
				case 'logoImage':
					return this.settings.behavior.receiveEmailLogoImage;
				case 'wheelLogoImage':
					return this.settings.wheelLogoImage.wheelLogo;
				case 'backgroundImage':
				default:
					return this.settings.backgroundImage.image;
			}
		},
		
		clickBrowse(e) {
			let input = getParent(e.target, 'background-image').querySelector('input'),
				event = new MouseEvent('click', {
					view: window,
					bubbles: true,
					cancelable: true
				});
			input.dispatchEvent(event);
		},
		
		deleteImage(e) {
			this.image = '';
			let methodName = '';
			switch (this.type) {
				case 'backgroundImage': methodName = this.deleteBackground(); break;
				case 'logoImage': methodName = this.deleteLogo(); break;
				case 'wheelLogoImage': methodName = this.deleteWheelLogo(); break;
			}
			this.$store.dispatch(methodName, this.$store.state._games.game.id);
		},
		
		deleteLogo: function () {
			this.$store.state._settings.settings.behavior.receiveEmailLogoImage = '';
			return 'deleteLogoImage';
		},
		
		deleteBackground() {
			this.updateFrame({target: 'image', file: ''});
			this.$store.state._settings.settings.backgroundImage.opacity = 0.9;
			this.$store.state._settings.settings.backgroundImage.image = '';
			return 'deleteBackgroundImage';
		},
		
		deleteWheelLogo() {
			this.updateFrame({target: 'wheelLogo', file: ''});
			this.$store.state._settings.settings.wheelLogoImage.opacityWheelLogo = 1.0;
			this.$store.state._settings.settings.wheelLogoImage.wheelLogo = '';
			return 'deleteWheelLogoImage';
		},
		
		backgroundChange(e) {
			let files = e.target.files || e.dataTransfer.files;
			if (!files.length) return;
			let sendImage = this.getImageHandler();
			sendImage.handle.bind(sendImage, files[0], this, this.getImageName()).call();
		},
		
		getImageHandler() {
			switch (this.type) {
				case 'backgroundImage': return sendBackground;
				case 'logoImage': return sendEmailLogo;
				case 'wheelLogoImage': return sendWheelLogo;
			}
		},
		
		getImageName() {
			switch (this.type) {
				case 'logoImage': return 'logo_image';
				case 'backgroundImage': return 'background_image';
				case 'wheelLogoImage': return 'wheel_logo_image';
			}
		}
	}
};
</script>