<template>
	<div style="min-width: 340px">
		<form>
			<div v-for="(value, index, elIndex) in settingsText" class="wrapper">
				<div v-if="typeof value === 'string'" class="form-group">
					<label class="input-label">{{ makeHeader(index) }}</label>
					<input
							@keydown.prevent.enter=""
							@keyup="updateText"
							@click="shakeElement"
							v-model="settingsText[index]"
							:data-field="index"
							class="form-control"
							type="text"
							title=""
					/>
				</div>
				
				<div class="form-group"
					 v-else-if="(index === 'bar' && settings.behavior.countDownTime === '1') || index !== 'bar'">
					<label class="input-label"
						   :class="currentScreen === index ? 'text-active' : ''"
						   style="margin-bottom: 3px; cursor: pointer;"
						   @click="selectCurrentSection(index)"
					>
						<span class="glyphicon"
							  style="font-size: 10px; color: #000"
							  :class="'glyphicon-triangle-' + (currentScreen === index ? 'bottom' : 'right')"
						></span>&nbsp;&nbsp;&nbsp;{{ makeHeader(index) }}
					</label>
					<div class="col-md-12 no-padding position-wrapper"
						 style="margin-bottom: 0;padding-bottom: 0;"
					></div>
					<div
							class="form-group"
							v-for="(fieldValue, fieldKey) in value"
							v-if="currentScreen === index"
					>
						<div v-if="typeof fieldValue === 'string' && fieldsFilter(fieldKey)">
							<label class="input-label"
								   style="margin-top: 10px"
							>
								<div class="checkbox"
									 :class="['userName', 'email'].indexOf(fieldKey) === -1 ? 'without-checkbox' : ''"
								>
									<label>
										<input type="checkbox"
											   :data-field="index + '.' + fieldKey"
											   :name="index + '.' + fieldKey"
											   v-if="['userName', 'email'].indexOf(fieldKey) > -1"
											   @click="updateVisibility"
											   v-bind:true-value="settings.behavior['collect' + getField(fieldKey) + 'FromUsers'].yes === '1'"
											   v-bind:false-value="settings.behavior['collect' + getField(fieldKey) + 'FromUsers'].no === '1'"
											   v-bind:checked="settings.behavior['collect' + getField(fieldKey) + 'FromUsers'].yes === '1'"
										/>
										<span class="custom-input custom-checkbox text-tab-checkbox"
											  v-if="['userName', 'email'].indexOf(fieldKey) > -1"></span>
										<div v-if="fieldKey === 'email' && settings.behavior.collectEmailWithRecart === '1'">
											Facebook messenger
										</div>
										<div v-else>
											{{ makeHeader(fieldKey) }}
										</div>
									</label>
								</div>
							</label>
							<textarea
									style="resize: none"
									class="form-control"
									@keyup="updateText"
									@keydown.prevent.enter=""
									@click="shakeElement"
									v-model="settingsText[index][fieldKey]"
									:data-field="index + '.' + fieldKey"
									v-if="['note', 'title', 'description'].indexOf(fieldKey) > -1"
									title=""
							></textarea>
							<input
									v-else
									type="text"
									class="form-control"
									@keyup="updateText"
									@keydown.prevent.enter=""
									@click="shakeElement"
									:data-field="index + '.' + fieldKey + (['coupon', 'cash'].indexOf(fieldKey) > -1 ? '.1' : '')"
									v-model="settingsText[index][fieldKey]"
									title=""
							/>
						</div>
						<div v-else-if="fieldsFilter(fieldKey)">
							<div
									v-for="(partValue, partKey, partIndex) in fieldValue"
									:class="partIndex === 0 ? 'no-left-padding' : 'no-right-padding'"
									class="form-group col-md-6"
							>
								<label class="input-label">
									{{ makeHeader(partKey) }}
								</label>
								<input
										type="text"
										@keyup="updateText"
										@keydown.prevent.enter=""
										@click="shakeElement"
										class="form-control"
										:data-field="index + '.' + fieldKey + '.' + partIndex"
										v-model="settingsText[index][fieldKey][partKey]"
										title=""
								/>
							</div>
						</div>
					</div>
					<div
							v-if="isLast(elIndex + 1) && currentScreen === index"
							class="col-md-12 no-padding position-wrapper"
					></div>
				</div>
				
			</div>
		</form>
	</div>
</template>
<script>

import string from '../../../helpers/string';

import {decodeRecursive} from '../../../helpers/data';

import hook from '../../../helpers/game-hook';

import {getData, ucFirst, lcFirst} from '../../../helpers/data';

import getCouponsUpdateEvent from '../../../lucky-coupon/games/commands/get-coupons-update-event';

export default {
	data() {
		return {
			currentScreen: ''
		};
	},
	
	created() {
	
	},
	
	computed: {
		
		game() {
			return this.$store.state._games.game;
		},
		
		settings: {
			get() {
				return this.$store.state._settings.settings;
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		},
		
		settingsText: {
			get() {
				return decodeRecursive(this.$store.state._settings.settings.text);
			},
			set(value) {
				this.$store.state._settings.settings.text = value;
			}
		},
		
		coupons() {
			return this.$store.state._coupons.coupons;
		},
		
		desktop() {
			return this.$store.state._settings.desktop;
		}
	},
	
	methods: {
		
		updateFrame(e) {
			hook.game_id = this.game.id;
			hook.vue_state = this;
			hook.updateFrame(e);
		},
		
		makeHeader(property, isCapital = true) {
			return string.makeHeader(property, isCapital);
		},
		
		fieldsFilter(fieldKey) {
			return (this.isGPDROn() && fieldKey === 'gdpr')
				|| (!this.isGPDROn() && fieldKey === 'note')
				|| (this.isCollectEmailOn() && fieldKey === 'userName')
				|| !(this.settings.behavior.collectEmailWithRecart === '1' && fieldKey === 'email')
				|| (['gdpr', 'note', 'userName', 'email'].indexOf(fieldKey) < 0);
		},
		
		updateVisibility(e) {
			let field = e.target.dataset.field.split('.')[1];
			this.changeCheckboxState(field);
		},
		
		changeCheckboxState(field) {
			this.inverseField(field);
			this.setVisibilityField(field);
		},
		
		setVisibilityField: function (field) {
			this.updateFrame({
				'target': this.getField(field, true) + '_field_visibility',
				'value': this.settings.behavior['collect' + this.getField(field) + 'FromUsers'].yes === '1' ? 'show' : 'hide'
			});
		},
		
		inverseField(field) {
			this.setRadioValue(field, 'yes');
			this.setRadioValue(field, 'no');
		},
		
		setRadioValue(field, type, setValue) {
			type = typeof type === 'undefined' ? 'yes' : type;
			let value = this.settings.behavior['collect' + this.getField(field) + 'FromUsers'][type],
				newValue = typeof setValue === 'undefined' ? (value === '1' ? '0' : '1') : setValue;
			this.settings.behavior['collect' + this.getField(field) + 'FromUsers'][type] = newValue;
		},
		
		updateText(e) {
			let dataAttrText = $(e.target).data('field');
			this.updateFrame(this.getTextChangeEvent(dataAttrText, e.target.value));
			this.changeScreenHook();
			this.updateWheelGameCouponsText();
		},
		
		changeScreenHook: function () {
			this.updateFrame({target: 'screen', value: this.currentScreen});
			this.updateFrame({target: 'trigger', value: this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
			this.updateFrame({target: 'GPDR', value: this.settings.behavior.makeGPDRCompliance === '1'});
			this.updateFrame({target: 'email_field_visibility', value: this.settings.behavior.collectEmailFromUsers.yes === '1' ? 'show' : 'hide'});
			this.updateFrame({target: 'name_field_visibility', value: this.settings.behavior.collectNameFromUsers.yes === '1' ? 'show' : 'hide'});
		},
		
		getTextChangeEvent: function (dataAttrText, text) {
			let textChangeEvent = {target: dataAttrText, value: text};
			if (this.isCouponTextChanged(dataAttrText)) {
				textChangeEvent = {target: 'coupon', value: getCouponsUpdateEvent.handle(this.coupons, this.settingsText)};
			}
			return textChangeEvent;
		},
		
		isCouponTextChanged: function (dataAttrText) {
			return this.getCouponsList().indexOf(dataAttrText) > -1;
		},
		
		getCouponsList: function () {
			return [
				'startScreen.button.0',
				'startScreen.button.1',
				'startScreen.coupon.1',
				'startScreen.cash.1',
				'startScreen.freeShipping.0',
				'startScreen.freeShipping.1',
				'startScreen.freeProduct.0',
				'startScreen.freeProduct.1'
			];
		},
		
		updateWheelGameCouponsText() {
			if (this.game.type !== 'wheel') return false;
			setTimeout(function(){
				this.coupons.map(this.dispatchWheelCouponTextEvents.bind(this));
			}.bind(this), 110);
		},
		
		dispatchWheelCouponTextEvents(el, index) {
			this.updateFrame(this.getWheelCouponEvent(index, el.value));
		},
		
		getWheelCouponEvent: function (index, value) {
			return {
				'target': 'svg',
				'coupon': {
					'index': index,
					'text': value
				}
			};
		},
		
		shakeElement(e) {
			this.updateFrame({'target': e.currentTarget.dataset.field, 'move': true});
		},
		
		selectCurrentSection(section) {
			if (this.currentScreen !== section) {
				this.currentScreen = section;
				this.$store.state._settings.textSectionName = section;
				this.changeScreenHook();
				if (section === 'bar') {
					this.updateFrame({target: 'bar', value: this.settings.behavior.countDownTime === '1'});
				}
				return false;
			}
			this.currentScreen = '';
			this.$store.state._settings.textSectionName = '';
		},
		
		isLast(index) {
			let count = 0,
				text = this.settingsText;
			for(let section in text) {
				if (typeof text[section] !== 'string') {
					count++;
				}
			}
			return count === index;
		},
		
		isGPDROn() {
			return getData(this.settings, 'behavior.makeGPDRCompliance', false) === '1';
		},
		
		isCollectNameOn() {
			return getData(this.settings, 'behavior.collectNameFromUsers.yes', '0') === '1';
		},
		
		isCollectEmailOn(){
			return getData(this.settings, 'behavior.collectEmailFromUsers.yes', '1') === '1';
		},
		
		ucFirst(string) {
			return ucFirst(string);
		},
		
		lcFirst(string) {
			return lcFirst(string);
		},
		
		getField(fieldKey, lower) {
			lower = typeof lower === 'undefined' ? false : lower;
			let replaced = fieldKey.replace('user', '');
			return lower ? lcFirst(replaced) : ucFirst(replaced);
		}
	}
}
</script>