<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<div>
		<!-- Position -->
		<label class="input-label">Position</label>
		<div class="col-md-12 no-padding position-wrapper">
			<ul v-on:click="onSelectPosition" class="layout-list list-inline">
				<li v-for="(value, index) in positions"
					class="layout"
					v-bind:class="[positionType, getPositionClass(value)]">
					<div class="position"
						 v-bind:class="[value]"
					></div>
				</li>
			</ul>
		</div>
		<div style="clear:both"></div>
	</div>
</template>
<script>
import hook from '../../../helpers/game-hook.js';

export default {
	data() {
		return {
			positionType: 'game',
			positions: ['left', 'center', 'right']
		}
	},
	
	mounted() {
		hook.game_id = this.game.id;
		hook.vue_state = this;
	},
	
	computed: {
		
		desktop() {
			return this.$store.state._settings.desktop;
		},
		
		position() {
			return this.$store.state._settings.settings.position;
		},
		
		triggerPosition: {
			get() {
				return this.$store.state._settings.settings.triggerPosition;
			},
			set(value) {
				this.$store.state._settings.settings.triggerPosition = value;
			}
		},
		
		settings: {
			get() {
				if (this.$store.state._settings.settings.length === 0) {
					return this.$store.state._settings.defaultSettings;
				}
				return this.$store.state._settings.settings;
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		},
		
		game() {
			return this.$store.state._games.game;
		},
		
		coupons() {
			return this.$store.state._coupons.coupons;
		}
	},
	
	methods: {
		
		updateFrame(e) {
			hook.updateFrame(e);
		},
		
		setTriggerPosition() {
			this.positionType = 'trigger';
		},
		
		getPositionClass(value) {
			let isPositionActive = this.position === value,
				isMuted = this.isMuted(value),
				isTrigger = this.positionType === 'trigger';
			return {
				active: isPositionActive,
				mute: isMuted,
				trigger: isTrigger
			};
		},
		
		isMuted(value) {
			return ['right', 'left'].indexOf(value) ? !this.desktop : false
		},
		
		onSelectPosition(e) {
			if (this.desktop) {
				let div = e.target.tagName === 'LI' ? e.target.childNodes[0] : e.target,
				positionName = div.className.replace('position', '').replace(/ /g, '');
				this.settings.position = positionName;
				this.updateFrame({'target': 'position', 'value': positionName});
				this.updateFrame({'target': 'opacity', 'value': this.settings.backgroundImage.opacity});
				this.updateFrame({'target': 'trigger', 'value': this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
				if (this.game.type === 'wheel') {
					hook.updateFrameSchema(this.settings);
					hook.updateFrameCoupons(this.coupons);
				}
			}
		}
	}
};
</script>