<template xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<!-- @todo: try to refactor this with for loop -->
	<div v-if="settings.hasOwnProperty('behavior')" class="tab-behavior">
		<div class="col-md-12">
			<label class="input-label">{{ makeHeader('whenToDisplayTheGame?') }}</label>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick" name="startDisplayTheGame" data-name="atOnce" v-bind:checked="settings.behavior.startDisplayTheGame.atOnce === '1'" /> {{ makeHeader('onEnteringTheSite') }}
					<span class="custom-input"></span>
				</label>
			</div>
			<div v-if="settings.hasOwnProperty('behavior')">
				<label>
					<div class="radio _custom">
						<label>
							<input type="radio" @click="onRadioClick" name="startDisplayTheGame" data-name="underTheFollowingConditions"
						   v-bind:checked="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserIsLivingTheWebsite === '1' || settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value === '1' || settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value === '1'" />
						{{ makeHeader('underTheFollowingConditions') }}
							<span class="custom-input"></span>
						</label>
					</div>
					<div class="checkbox-wrapper">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="whenTheUserIsLivingTheWebsite" data-name="whenTheUserIsLivingTheWebsite"
									   v-bind:true-value="'1'"
									   v-bind:false-value="'0'"
									   v-bind:checked="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserIsLivingTheWebsite === '1'"
									   :disabled="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserIsLivingTheWebsite === '0' && settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value === '0' && settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value === '0'"
									   v-model="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserIsLivingTheWebsite"/>
								<span class="custom-input custom-checkbox"></span>
								{{ makeHeader('whenTheUserIsLeavingTheWebsite') }}
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="whenTheUserReachesPercentOfThePage" data-name="whenTheUserReachesPercentOfThePage"
									   v-bind:true-value="'1'"
									   v-bind:false-value="'0'"
									   v-bind:checked="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value === '1'"
									   :disabled="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserIsLivingTheWebsite === '0' && settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value === '0' && settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value === '0'"
									   v-model="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value"/>
								{{ (makeChildHeader(makeHeader('whenTheUserReachesPercentOfThePage'), 'percent'))[0] }}
								<span class="custom-input custom-checkbox"></span>
								<input class="form-control input-sm" style="width:50px;display:inline-block;" type="text"
									   :disabled="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value === '0'"
									   v-model="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.percent"/> %
								{{ (makeChildHeader(makeHeader('whenTheUserReachesPercentOfThePage'), 'percent'))[1] }}
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="afterSeconds" data-name="afterSeconds"
									   v-bind:true-value="'1'"
									   v-bind:false-value="'0'"
									   v-bind:checked="settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value === '1'"
									   :disabled="settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserIsLivingTheWebsite === '0' && settings.behavior.startDisplayTheGame.underTheFollowingConditions.whenTheUserReachesPercentOfThePage.value === '0' && settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value === '0'"
									   v-model="settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value"
								/>
								<span class="custom-input custom-checkbox"></span>
								{{ makeChildHeader(makeHeader('afterSeconds'), 'seconds')[0] }}
								<input type="text" class="form-control input-sm" style="width:50px;display:inline-block;"
									   :disabled="settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.value === '0'"
									   v-model="settings.behavior.startDisplayTheGame.underTheFollowingConditions.afterSeconds.seconds"> sec
							</label>
						</div>
					</div>
				</label>
			</div>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick" name="startDisplayTheGame" data-name="onSpecialPagePlace" v-bind:checked="settings.behavior.startDisplayTheGame.onSpecialPagePlace === '1'" /> {{ makeHeader('onSpecialPagePlace') }}
					<span class="custom-input"></span>
				</label>
				<br>
				<div v-if="settings.behavior.startDisplayTheGame.onSpecialPagePlace === '1'" class="form-group col-md-11">
					<label style="font-size: 12px">
						Place code on your page where you want to show the game:
					</label>
					<textarea class="form-control" readonly
						style="resize: none; height: 75px; background-color: #fff;white-space: normal;"
					>{{ getInstallDiv() }}</textarea>
				</div>
			</div>
		</div>
		<div class="col-md-12 gap">
			<label class="input-label">{{ makeHeader('showPlayGameTrigger?') }}</label>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick"
						   name="showPlayGameTrigger" data-name="yes"
						   v-bind:checked="settings.behavior.showPlayGameTrigger.yes === '1'" />
					{{ makeHeader('yes', true) }}
					<span class="custom-input"></span>
				</label>
			</div>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick"
						   name="showPlayGameTrigger" data-name="no"
						   v-bind:checked="settings.behavior.showPlayGameTrigger.no === '1'" />
					{{ makeHeader('no', true) }}
					<span class="custom-input"></span>
				</label>
			</div>
		</div>
		
		<div class="col-md-12 gap">
			<label class="input-label">{{ makeHeader('forHowManyTimes?') }}</label>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick" name="frequency" data-name="onEveryPageView" v-bind:checked="settings.behavior.frequency.onEveryPageView === '1'" /> {{ makeHeader('onEveryPageView') }}
					<span class="custom-input"></span>
				</label>
			</div>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick" name="frequency" data-name="notMoreThanOnceEveryNumberTimePerUser" v-bind:checked="settings.behavior.frequency.notMoreThanOnceEveryNumberTimePerUser.value === '1'" />
					{{ (makeChildHeader(makeHeader('notMoreThanOnceEveryNumberTimePerUser'), 'number'))[0] }}
					<span class="custom-input"></span>
					<input type="text" class="form-control input-sm" style="width:50px;display:inline-block;"
						   :disabled="settings.behavior.frequency.notMoreThanOnceEveryNumberTimePerUser.value === '0'"
						   v-model="settings.behavior.frequency.notMoreThanOnceEveryNumberTimePerUser.number">
					<select @change="onSelectChange"
							:disabled="settings.behavior.frequency.notMoreThanOnceEveryNumberTimePerUser.value === '0'"
							class="form-control input-sm" style="display:inline-block;width:80px;">
						<option v-for="(timeValue, timeType) in settings.behavior.frequency.notMoreThanOnceEveryNumberTimePerUser.time" :selected="timeValue === '1'">{{ timeType }}</option>
					</select>
					{{ (makeChildHeader(makeChildHeader(makeHeader('notMoreThanOnceEveryNumberTimePerUser'), 'number')[1], 'time'))[1] }}
				</label>
			</div>
		</div>
		<div class="col-md-12 gap">
			<label class="input-label">{{ makeHeader('WhenToStopDisplayingTheGame?') }}</label>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick" name="stopToDisplayTheGame" data-name="never" v-bind:checked="settings.behavior.stopToDisplayTheGame.never === '1'" />
					{{ makeHeader('never') }}
					<span class="custom-input"></span>
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" @click="onRadioClick" name="stopToDisplayTheGame" data-name="underTheFollowingConditions"
						   v-bind:checked="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterTheUserPerformsTheAction === '1' || settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.value === '1'" />
					{{ makeHeader('underTheFollowingConditions') }}
					<span class="custom-input"></span>
				</label>
			</div>
			<div class="checkbox-wrapper">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="afterTheUserPerformsTheAction"
							   v-bind:true-value="'1'"
							   v-bind:false-value="'0'"
							   v-bind:checked="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterTheUserPerformsTheAction === '1'"
							   :disabled="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterTheUserPerformsTheAction === '0' && settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.value === '0'"
							   v-model="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterTheUserPerformsTheAction"
						/>
						<span class="custom-input custom-checkbox"></span>
						{{ makeHeader('afterTheUserPerformsTheAction') }}
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="afterShowingItNumberTimesToTheUser"
							   v-bind:true-value="'1'"
							   v-bind:false-value="'0'"
							   v-bind:checked="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.value === '1'"
							   :disabled="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterTheUserPerformsTheAction === '0' && settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.value === '0'"
							   v-model="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.value"
						/>
						<span class="custom-input custom-checkbox"></span>
						{{ (makeChildHeader(makeHeader('afterShowingItNumberTimesToTheUser'), 'number'))[0] }}
						<input type="text" class="form-control input-sm" style="width:50px;display:inline-block;"
							   :disabled="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.value === '0'"
							   v-model="settings.behavior.stopToDisplayTheGame.underTheFollowingConditions.afterShowingItNumberTimesToTheUser.number" />
						{{ (makeChildHeader(makeHeader('afterShowingItNumberTimesToTheUser'), 'number'))[1] }}
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-12 gap">
			<label class="input-label">{{ makeHeader('howDoYouWantYourCustomerToReceiveTheCoupon?') }}</label>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick"
						   name="howDoYouWantYourCustomerToReceiveTheCoupon" data-name="winnigGameScreen"
						   v-bind:checked="settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.winnigGameScreen === '1'" />
					{{ makeHeader('winningGameScreen', true) }}
					<span class="custom-input"></span>
				</label>
			</div>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick"
						   name="howDoYouWantYourCustomerToReceiveTheCoupon" data-name="sendTroughEmail"
						   v-bind:checked="settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.sendTroughEmail === '1'" />
					{{ makeHeader('sendThroughEmail', true) }}
					<span class="custom-input"></span>
				</label>
				<a class="btn btn-link gdpr-link"
				   style="margin-right: 0; padding: 0"
				   v-if="isEmailSendsToCustomer('sendTroughEmail')"
				   v-on:click.prevent="openEditEmailTemplate"
				>Edit Text</a>
			</div>
			<div class="radio _custom">
				<label>
					<input type="radio" @click="onRadioClick"
						   name="howDoYouWantYourCustomerToReceiveTheCoupon" data-name="winningGameScreenAndEmail"
						   v-bind:checked="settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.winningGameScreenAndEmail === '1'" />
					{{ makeHeader('winningGameScreenAndEmail', true) }}
					<span class="custom-input"></span>
				</label>
				<a class="btn btn-link gdpr-link"
				   style="margin-right: 0; padding: 0"
				   v-if="isEmailSendsToCustomer('winningGameScreenAndEmail')"
				   v-on:click.prevent="openEditEmailTemplate"
				>Edit Text</a>
			</div>
		</div>
		<div v-if="settings.behavior.hasOwnProperty('howDoYouWantYourCustomerToReceiveTheCoupon')">
			<div class="col-md-12"
				 v-if="settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.sendTroughEmail === '1'
					|| settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.winningGameScreenAndEmail === '1'"
			>
				Upload your logo to included it in the email
			</div>
			<load-image ref="loadLogo"></load-image>
		</div>
		
		<redirect-link-use-discount></redirect-link-use-discount>
		
		<div class="col-md-12 gap">
			<label class="input-label">Where should the game appear?</label>
			<div v-for="(value, index) in whereShouldTheGameAppear"
				 v-if="!isEmptyObject(value)"
				 class="col-md-12 gap no-padding">
				<form class="form-inline">
					<div class="form-group">
						<select v-model="value.type" class="form-control">
							<option value="1">Show on</option>
							<option value="0">Don't show on</option>
						</select>
					</div>
					<div class="form-group">
						<span>storewebsite.com/</span>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" v-model="value.url" title=""/>
					</div>
					<div class="form-group">
						<span @click="deleteUrlRuleLine" :data-index="index" class="minus-page-link">&mdash;</span>
					</div>
				</form>
			</div>
			<div class="col-md-12 no-padding" :class="whereShouldTheGameAppear.length === 0 ? '' : 'gap'">
				<a v-on:click.prevent="addNewUrlRuleLine" href="javascript:void(0)" style="outline: none;">+ Add expression</a>
			</div>
		</div>
		
		<div class="col-md-12 gap">
			<label class="input-label">when does the coupon expires?</label>
			<div>
				<label class="switch-wrapper gpdr-wrapper">
					<div class="switch">
						<input id="cmn-toggle-3"
							   type="checkbox"
							   class="cmn-toggle cmn-toggle-round-flat"
							   v-bind:true-value="'1'"
							   v-bind:false-value="'0'"
							   v-bind:checked="settings.behavior.countDownTime === '1'"
							   v-model="settings.behavior.countDownTime"
							   v-on:change="changeBarVisibility"
						/>
						<label for="cmn-toggle-3" style="display: inline-block"></label>
					</div>
					<span>
						Countdown Time <input type="number" class="form-control custom input-sm" style="width:50px;display:inline-block;"
											  v-model="settings.behavior.countDownTimeTimeMin" /> Min.
					</span>
				</label>
			</div>
			<div class="countdown-explain">(This countdown will be displayed to your site visitor to create a sense of urgency to complete the purchase)</div>
		</div>
		
		<div class="col-md-12 gap">
			<label class="switch-wrapper gpdr-wrapper">
				<div class="switch">
					<input id="cmn-toggle-4"
						   type="checkbox"
						   class="cmn-toggle cmn-toggle-round-flat"
						   v-bind:true-value="'1'"
						   v-bind:false-value="'0'"
						   v-bind:checked="settings.behavior.makeGPDRCompliance === '1'"
						   v-model="settings.behavior.makeGPDRCompliance"
						   v-on:change="changeGPDR"
					/>
					<label for="cmn-toggle-4" style="display: inline-block"></label>
				</div>
				<span class="gpdr-toggle-text">Make GDPR compliance</span>
				<a  class="gdpr-link"
					target="_blank"
					style="margin-left: 10vh;"
					href="https://www.investopedia.com/terms/g/general-data-protection-regulation-gdpr.asp"
				>Learn More</a>
			</label>
			<p class="gdpr-text">Add mandatory checkbox to your game for validation that the visitor agrees to join the mailing list to follow GDPR regulations.</p>
		</div>
		
		<div class="col-md-12 gap" v-if="(user.app_id > 0 && !isLowerPlanUser()) || user.is_admin === 1 || user.name === 'olegfeedbacktest.myshopify.com'" >
			<label class="switch-wrapper gpdr-wrapper">
				<div class="switch">
					<input id="cmn-toggle-1"
						   type="checkbox"
						   class="cmn-toggle cmn-toggle-round-flat"
						   v-bind:true-value="'1'"
						   v-bind:false-value="'0'"
						   v-bind:checked="settings.behavior.collectEmailWithRecart === '1'"
						   v-model="settings.behavior.collectEmailWithRecart"
						   v-on:change="changeRecart"
					/>
					<label for="cmn-toggle-1" style="display: inline-block"></label>
				</div>
				<span class="gpdr-toggle-text">Collect messenger leads</span>
				<a  class="gdpr-link"
					target="_blank"
					style="margin-left: 10vh; display: none"
					href="https://getwoohoo.com"
				>Learn More</a>
			</label>
			<div class="col-md-12 no-padding">
				<p class="gdpr-text" style="display: inline-block;width: 9%;position: relative;">
					<img src="/img/recart-logo.jpg" width="55" height="55" alt="Recart logo" />
				</p>
				<p class="gdpr-text" style="display: inline-block;width: 85%;position: relative;top: 10px;margin-left: 20px;">
					The feature allows you to push subscription to <a href="https://recart.com/" target="_blank">Recart</a>
					platform, to use this feature recart must be installed and set up.
				</p>
			</div>
		</div>
		
	</div>
</template>
<script>
import hook from '../../../helpers/game-hook.js';

import string from '../../../helpers/string.js';

import { file } from '../../../helpers/file.js';

import { settingsSetter } from '../../../helpers/settings.js';

import { en } from '../../../helpers/language/game/en';

import { de } from '../../../helpers/language/game/de';

import { es } from '../../../helpers/language/game/es';

import { fr } from '../../../helpers/language/game/fr';

import { ru } from '../../../helpers/language/game/ru';

import { he } from '../../../helpers/language/game/he';

import { changeable } from '../../../helpers/language/changeable.js'

import loadImage from './LoadImage.vue';

import wheelColorSchema from '../../../lucky-coupon/games/commands/get-wheel-color-schema';

import subscriber from '../../../helpers/subscriber';

import {getData, decodeRecursive} from '../../../helpers/data.js';

import redirectLinkUseDiscount from './SettingsTab/ContinueAndUserDiscountURL.vue';

export default {
	components: {
		'load-image': loadImage,
		redirectLinkUseDiscount
	},
	
	data() {
		return {
			languages: {
				'en': 'English',
				'es': 'Spanish',
				'de': 'German',
				'fr': 'French',
				'ru': 'Russian',
                'he': 'Hebrew'
			},
			loadLogo: {}
		};
	},
	
	mounted() {
		this.loadLogo = this.$refs.loadLogo;
		hook.game_id = this.game.id;
		hook.vue_state = this;
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		loadLogo: {
			get() {
				return this.$store.state._settings.modules.loadLogo;
			},
			set(value) {
				this.$store.state._settings.modules.loadLogo = value;
			}
		},
		
		messengersPopup: {
			get() {
				return this.$store.state._app.popup.messengers;
			},
			set(value) {
				this.$store.state._app.popup.messengers = value;
			}
		},
		
		settings: {
			get() {
				return this.$store.state._settings.settings;
			},
			set(value) {
				this.$store.state._settings.settings = value;
			}
		},
		
		whereShouldTheGameAppear: {
			set(value) {
				this.$store.state._settings.settings.behavior.whereShouldTheGameAppear = value;
			},
			get() {
				return decodeRecursive(getData(this.$store.state._settings.settings, 'behavior.whereShouldTheGameAppear', []));
			}
		},
		
		desktop() {
			return this.$store.state._settings.desktop;
		},
		
		game(){
			return this.$store.state._games.game;
		}
	},
	
	watch: {
		loadLogo(value){
			if (value && value.hasOwnProperty('setType')) {
				value.setType('logoImage');
			}
		},
		
		whereShouldTheGameAppear(value) {
		
		}
	},
	
	methods: {
		
		updateFrame: function(e) {
			hook.updateFrame(e);
		},
		
		makeHeader: function(property, isCapital = true) {
			return string.makeHeader(property, isCapital);
		},
		
		isSelected: function(property) {
			if (typeof property === 'number' || !isNaN(property)) {
				return parseInt(property) === 1;
			} else if(typeof property === 'object') {
				for(let index in property) {
					if(property.hasOwnProperty(index)) {
						if(index === 'value') {
							return parseInt(property[index]) === 1;
						}
					}
				}
			}
			return false;
		},
		
		makeChildHeader: function(header, value) {
			return header.split(value);
		},
		
		addedChanges: function () {
			this.$store.state._settings.changes = true;
		},
		
		onRadioClick: function(e) {
			this.$store.commit('changeBehaviorSettings', {top: e.target.name, current: e.target.dataset.name});
			this.addedChanges();
			if (e.target.name === 'showPlayGameTrigger') {
				this.updateFrame({target: 'trigger', value: this.settings.behavior.showPlayGameTrigger.yes === '1'});
				this.updateFrame({'target': 'trigger', 'value': this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
			}
			if (e.target.name === 'collectEmailFromUsers') {
				this.updateFrame({'target': 'email_field_visibility', 'value': this.settings.behavior.collectEmailFromUsers.yes === '1' ? 'show' : 'hide'});
			}
			if (e.target.name === 'collectNameFromUsers') {
				this.updateFrame({'target': 'name_field_visibility', 'value': this.settings.behavior.collectNameFromUsers.yes === '1' ? 'show' : 'hide'});
			}
		},
		
		onSelectChange: function(e) {
			let time = e.target.querySelector('option:checked').innerHTML;
			this.$store.commit('changeBehaviorTimeSettings', {timeName: time});
			this.addedChanges();
		},
		
		changeGPDR: function(e) {
			this.updateFrame({target: 'GPDR', value: this.settings.behavior.makeGPDRCompliance === '1'});
		},
		
		changeRecart(e) {
			let isRecartActive = this.settings.behavior.collectEmailWithRecart === '1',
				text = this.getDefaultTitleText(isRecartActive);
			this.$store.state._settings.settings.text.startScreen.description = text;
			this.settings.behavior.collectEmailFromUsers.yes = '1';
			this.settings.behavior.collectEmailFromUsers.no = '0';
			this.updateFrame({target: 'startScreen.description', value: text});
			this.updateFrame({target: 'trigger', value: this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
			this.updateFrame({target: 'GPDR', value: this.settings.behavior.makeGPDRCompliance === '1'});
			this.updateFrame({target: 'facebookRecart', value: isRecartActive});
		},
		
		getDefaultTitleText(isRecartActive) {
			return isRecartActive
				? 'Subscribe to our Messenger to start playing!'
				: 'Enter your email address to find out if you\'ve the winner'
		},
		
		changeBarVisibility(e) {
			this.updateFrame({target: 'bar', value: this.settings.behavior.countDownTime === '1'});
		},
		
		selectLanguage: function (e) {
			let language = e.currentTarget.dataset.key,
				titles = [];
			if (this.languages.hasOwnProperty(language)) {
				this.settings.behavior.language = language;
				this.addedChanges();
				this.updateFrameEvents(language);
				titles = this.getTitles(this.settings.content);
				this.setTitles(titles, language);
			}
		},
		
		updateFrameEvents(language) {
			this.updateFrame({
				target: 'translation',
				value: this.getTranslation(language),
				language: language
			});
			this.updateFrame({target: ''});
			this.updateFrame({target: 'trigger', value: this.desktop && this.settings.behavior.showPlayGameTrigger.yes === '1'});
			this.changeGPDR();
			this.updateFrame({target: 'email_field_visibility', value: this.settings.behavior.collectEmailFromUsers.yes === '1' ? 'show' : 'hide'});
			this.updateFrame({target: 'facebookRecart', value: this.settings.behavior.collectEmailWithRecart.yes === '1'});
//			this.updateWheel();
		},
		
		updateWheel() {
			if (this.game.type !== 'wheel') return false;
			let colors = wheelColorSchema.getColors(this.settings),
				schema = wheelColorSchema.getSlicesColors(colors);
			this.updateFrame({'target': 'svg', 'schema': schema});
		},
		
		getTitles: function(content) {
			let result = [];
			for (var title in content) {
				if (content.hasOwnProperty(title)) {
					result.push(title);
				}
			}
			return result;
		},
		
		setTitles: function(titles, language) {
			for (let title of titles) {
				this.settings.content[title] = this.getChangeableValue(title, language);
			}
		},
		
		getChangeableValue: function(title, language) {
			let value, gameType = this.game.type === 'gift' ? 'gift' : 'other';
			if (title === 'title') {
				value = changeable[title][gameType][language];
			} else {
				value = changeable[title][language];
			}
			return value;
		},
		
		getTranslation: function(language){
			switch (language) {
				case 'de': return de;
				case 'en': return en;
				case 'es': return es;
				case 'fr': return fr;
				case 'ru': return ru;
                case 'he': return he;
			}
		},
		
		onUserInputTypeClick(e) {
			let fieldName = e.target.dataset.name;
			this.onRadioClick(e);
			if(fieldName === 'facebookMessengerField') {
				this.messengersPopup.open({});
			}
		},
		
		getInputTypeChecked(name) {
			return this.settings.behavior.chooseInputFieldType[name] == '1';
		},
		
		getInstallDiv() {
			return "\n<div id=\"woohoo-game-" + this.game.type + "\" class=\"woohoo-game-" + this.game.id + "\"></div>\n";
		},
		
		isLowerPlanUser() {
			return subscriber.isNewShopifyFreePlan(this.user);
		},
		
		openEditEmailTemplate() {
			this.$store.state._app.popup.editEmailTemplate.open();
		},
		
		isEmailSendsToCustomer(type) {
			if (type === 'sendTroughEmail') {
				return this.settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.sendTroughEmail === '1'
			} else if (type === 'winningGameScreenAndEmail') {
				return this.settings.behavior.howDoYouWantYourCustomerToReceiveTheCoupon.winningGameScreenAndEmail === '1';
			}
		},
		
		addNewUrlRuleLine(e) {
			this.$store.state._settings.settings.behavior.whereShouldTheGameAppear.push({type: '1', url: ''});
		},
		
		deleteUrlRuleLine(e) {
			let index = e.target.dataset.index;
			this.$store.state._settings.settings.behavior.whereShouldTheGameAppear.splice(index, 1);
		},
		
		isEmptyObject(value) {
			return JSON.stringify(value) === JSON.stringify({});
		}
		
	}
};
</script>