body {
    padding-top: 5%;
    padding-bottom: 40px;
    background-color: #fff;
    font-weight: 300;
    font-family: "Open Sans";
}

.auth {
    padding: 30px 5px 15px 5px;
    border-radius: 5px;
    background-color: #fff;
    float: none;
    margin: 0 auto 0;
    padding-top: 0;
}

.padding-header {
    padding:0;
    margin:0;
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
    max-width: 491px;
    box-sizing: border-box;
}

.form-signin a {
    color:#06B0FF;
}

.form-signin-heading {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.already-registered {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    height:45px;
    position: relative;
    border: 1px solid #979797;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-signin .form-input {
    margin-bottom: 20px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

form label {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.checkbox label {
    padding-left: 0;
}

.btn-lk {
    padding: 7px 32px;
    font-size: inherit;
}

.woohoo-terms {
    color: rgba(0,0,0,0.7);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    max-width: 300px;
    margin: 15px auto;
}

.sign-image {
    width: 471px;
    height: 533px;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    background: url(/img/sign.png) no-repeat;
    z-index: -1;
}

.login-register-pages .form-signin .checkbox {
    margin-top: 30px;
}

.reset-title {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.shopify-login {
    text-align: center;
}

.shopify-image {
    width: 68px;
    height: 75px;
    display: inline-block;
    background: url(/img/shopify.png) no-repeat;
    margin-top: -27px;
    z-index: 1;
    position: relative;
}

.have-shopify {
    vertical-align: top;
}

.link-shopify {
    vertical-align: top;
    color: #06B0FF;
}

@media (max-width: 1600px) {
    body {
        padding: 15px 0;
    }

    .login-page {
        margin-top:100px;
    }

    .form-signin {
        padding:7px;
        margin:auto auto;
    }

    .login-register .form-signin .form-control {
        height:40px;
    }

    .auth {
        padding-bottom: 0;
    }

    .form-signin .form-input {
        margin-bottom: 0;
    }

    .sign-image {
        width:430px;
    }

    .shopify-login {
        height: 38px;
        margin-top: 18px;
    }
}

@media (max-width: 1100px) {
    .sign-image {
        display: none;
    }
}

@media (max-width: 800px) {
    .login-page {
        margin-top: 30px;
    }

    .login-register-pages .form-signin .checkbox {
        margin-top: 0;
    }

    .login-register-pages .btn-primary {
        margin-top: 30px;
        max-width: 100%;
    }

    .login-register-pages.login-register .btn-primary {
        margin-top: 0;
    }

    .shopify-image {
        margin-top: -23px;
    }

    .link-shopify {
        padding-bottom: 20px;
    }
}




