/* uncomment in scss
@import "variables";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800);

/* icons */
@font-face {
	font-family: 'icomoon';
	src: url('/fonts/icomoon.eot?nabyyi');
	src: url('/fonts/icomoon.eot?nabyyi#iefix') format('embedded-opentype'),
	url('/fonts/icomoon.ttf?nabyyi') format('truetype'),
	url('/fonts/icomoon.woff?nabyyi') format('woff'),
	url('/fonts/icomoon.svg?nabyyi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Coupon-icon:before {
	content: "\e900";
	color: #7d8594;
}

.icon-Delete:before {
	content: "\e902";
}

.icon-Delete:before {
	content: "\e901";
	color: rgb(255, 255, 255);
	opacity: 0.6;
}

.icon-Delete:before {
	content: "\e902";
	margin-left: -1em;
	color: rgb(78, 78, 78);
}

.icon-Design:before {
	content: "\e903";
}

.icon-Desktop:before {
	content: "\e904";
}

.icon-Edit:before {
	content: "\e905";
	color: #4b4b4b;
}

.icon-Info:before {
	content: "\e906";
	color: #000;
}

.icon-Mobile:before {
	content: "\e907";
}

.icon-No-games:before {
	content: "\e908";
	color: #fff;
}

.icon-Replace:before {
	content: "\e909";
	color: rgb(255, 255, 255);
	opacity: 0.6;
}

.icon-Replace:before {
	content: "\e90a";
	margin-left: -1em;
	color: rgb(32, 29, 29);
}

.icon-settings:before {
	content: "\e90b";
}

.icon-Text:before {
	content: "\e90c";
}

.icon-Upload:before {
	content: "\e90d";
	color: #d6d6d6;
}

.icon-White_Logo1 {
	color: #fff;
}

.icon-White_Logo1:before {
	content: "\e90e";
	color: inherit;
}

/*
	Common
*/

html, body {
	width: 100%;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 300;
	background-color: #e9eaed;
	font-size: 16px;
	color: #363d4d;
}

.login-register-pages .padding-header.icon-White_Logo1:before {
	color: #00b5fc;
	font-size: 37px;
}

.login-register-pages .btn-primary {
	height: 48px;
	width: 100%;
	max-width: 190px;
	border-radius: 8px;
	border-color: #24B9FF;
	background-color: #06B0FF;
}

.login-register-pages .btn-primary.password-reset {
	max-width: 245px;
}

.login-register-pages .btn-primary:hover {
	background-color: #24B9FF;
	border-color: #24B9FF;
}

.login-register-pages .form-signin .checkbox {
	padding: 0;
}

.woohoo-wrapper {
	width: 100%;
}

.no-padding {
	padding: 0;
}

.left-padding {
	padding: 0 0 0 10px;
}

.btn-height {
	height: 40px;
}

.text-left {
	text-align: left;
}

.no-padding {
	padding: 0;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.head-padding {
	padding-right: 50px;
}

/*
	Alert Messages
*/

.alert.alert-success {
	min-width: 520px;
	height: 60px;
	display: inline-block;
	line-height: 30px;
	border: 1px solid #000000;
	background-color: #7cc576;
	border: 0;
	border-radius: 6px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

.alert.alert-success .close {
	font-size: 29px;
	font-weight: 300;
	opacity: 0.8;
}

/*
	Top menu
*/

.help-wrapper {
	position: fixed;
	top: 70px;
	left: 50%;
	margin-left: -50%;
	z-index: 3000;
	text-align: center;
}

.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	font-size: inherit;
	color: #fff;
	background-color: #363d4d;
	margin-bottom: 0;
}

.navbar .container {
	width: 100%;
	min-height: 60px;
}

.navbar .navbar-brand,
.navbar > .container .navbar-brand {
	margin: 0;
	font-size: 28px;
	padding: 15px;
}

.navbar .navbar-brand.icon-White_Logo1 {
	color: #fff;
}

.navbar .navbar-brand.icon-White_Logo1:hover {
	color: #00B5FC;
}

.navbar .navbar-form {
	border: none;
	box-shadow: none;
}

.navbar-form .btn-dropdown-lk {
	margin-top: 4px;
	min-width: 240px;
	color: #fff;
	font-size: inherit;
	background-color: #41495c;
	border: none;
	width: 278px;
	padding: 6px 10px 6px 15px;
	letter-spacing: 0.5px;
	font-weight: 300;
}

.navbar-form .btn-dropdown-lk:hover,
.navbar-form .btn-dropdown-lk:focus,
.navbar-form .open > .btn-dropdown-lk:hover,
.navbar-form .open > .btn-dropdown-lk:focus,
.btn-dropdown-lk:active,
.btn-dropdown-lk.active,
.open > .btn-dropdown-lk.dropdown-toggle {
	background-color: #4b556b;
	color: inherit;
}

.navbar-form .btn-dropdown-lk #togle-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

.navbar-margin-top {
	margin-top: 60px;
}

.site-container {
	position: relative;
	margin-left: 5px;
}

.site-container:nth-child(3) {
	margin-left: 14px;
}

.site-container a {
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
}

.site-container a:active,
.site-container a:focus,
.site-container a:hover {
	text-decoration: none;
}

.site-container .router-link-exact-active:after,
.site-container:hover a:after {
	position: absolute;
	content: '';
	border-bottom: 4px solid #00B5FC;
	width: 75%;
	transform: translateX(-50%);
	bottom: 0;
	left: 50%;
}

.site-container:hover a:after {
	border-bottom-color: rgba(0, 181, 252, 0.5);
}

.profile-dropdown {
	padding-top: 16px;
	padding-bottom: 9px;
	width: auto;
	-webkit-font-smoothing: antialiased;
}

.profile-dropdown .caret {
	margin-left: 27px;
}

.dropdown-menu.dropdown-top-lk.site-navigation {
	width: 278px;
}

.dropdown-menu.profile,
.dropdown-menu.dropdown-top-lk.site-navigation {
	padding: 0;
	margin: 5px 0;
	background: transparent;
}

.dropdown-menu.dropdown-top-lk.site-navigation li {
	padding: 0;
}

.dropdown-menu.profile li a,
.dropdown-menu.dropdown-top-lk.site-navigation li a {
	font-size: 16px;
	background-color: #fff;
	color: #00B5FC;
	padding: 11px 15px;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dropdown-menu.profile li a:hover,
.dropdown-menu.dropdown-top-lk.site-navigation li a:hover {
	background-color: #00b5fc;
	color: #fff;
	
}

.dropdown-menu.profile li:first-child a,
.dropdown-menu.dropdown-top-lk.site-navigation li:first-child a.element {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dropdown-menu.profile li:last-child a,
.dropdown-menu.dropdown-top-lk.site-navigation li:last-child a.element {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropdown-menu.profile li a.selected,
.dropdown-menu.dropdown-top-lk li a.element.selected {
	background: #00B5FC;
	color: white;
}

.dropdown-menu.dropdown-top-lk {
	min-width: 240px;
	color: #fff;
	font-size: inherit;
}

.dropdown-menu.dropdown-top-lk li {
	padding: 8px 5px;
}

.navbar-nav {
	color: inherit;
}

.navbar-default .navbar-nav > li > a,
.navbar-default a {
	color: inherit;
}

.navbar-default ul > li {
	list-style: none;
}

.navbar-default ul.user-account-dropdown li.user-dropdown-menu {
	position: relative;
	margin-right: 10px;
}

.navbar-default ul.user-account-dropdown li.user-dropdown-menu a {
	max-width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.navbar-default ul.user-account-dropdown li.user-dropdown-menu .caret {
	float: right;
	vertical-align: top;
	position: absolute;
	right: 0;
	top: 22px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default a:hover {
	color: #d9d9d9;
	text-decoration: none;
}

.upgrade-button {
	letter-spacing: 0.5px;
}

.upgrade {
	margin-left: 5px;
}

a.upgrade {
	color: #C931FC;
	text-transform: capitalize;
	-webkit-font-smoothing: auto;
}

.hidden-info {
	display: none;
	position: absolute;
	top: 40px;
	left: 13%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.hidden-info .arrow-down {
	width: 0;
	height: 0;
	margin: 0 37px 0 auto;
	position: relative;
	border-bottom: 12px solid #fff;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	z-index: 2;
}

.hidden-info .info {
	background: #fff;
	color: #000;
	padding: 10px;
	width: 284px;
	border-radius: 5px;
	box-shadow: 3px 0 23px;
	position: relative;
	z-index: 1;
	text-align: center;
}

.nav.navbar-nav.navbar-right.nav-right-center a.no-link,
.nav.navbar-nav.navbar-right.nav-right-center a.no-link:hover {
	-webkit-font-smoothing: antialiased;
	color: #fff;
	cursor: default;
	position: relative;
}

a.login-dropdown {
	background-color: red;
}

.navbar-default .navbar-nav > .open > a#login-dropdown,
.navbar-default .navbar-nav > .open > a#login-dropdown:hover,
.navbar-default .navbar-nav > .open > a#login-dropdown:focus {
	background-color: #363d4d;
	color: #fff;
}

/*
	Site Settings
*/

.site-settings,
.site-settings-list {
	margin-top: 60px;
}

.site-settings .site-panel,
.site-settings-list .site-panel {
	width: 100%;
	max-width: 1180px;
	margin: 60px auto auto auto;
}

/*
	Detail site page
*/

.games-header {
	font-size: 23px;
	letter-spacing: 0.3px;
}

.new-games-button {
	padding-left: 33px;
	text-align: left;
	font-weight: 300;
	font-size: 16px;
	width: 162px;
	height: 42px;
	line-height: 35px;
	color: #fff;
	border: 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #00A7FC;
	-webkit-box-shadow: 0 5px 0 #1A94CF;
	box-shadow: 0 4px 0 #1A94CF;
	-webkit-transition: All 250ms ease;
	transition: All 250ms ease;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

.new-games-button.inactive {
	opacity: 0.4;
	background: #0087F9 linear-gradient(132deg, #00B5FC 0%, #0087F9 100%);
	box-shadow: 0 4px 0 0 #2093CE;
}

.new-games-button:hover {
	color: #fff;
	background-color: #00A7FC;
}

.new-games-button:active,
.new-games-button:focus {
	position: relative;
	top: 5px;
	background-color: #00A7FC;
	-webkit-box-shadow: 0px 5px 0px #1A94CF !important;
	box-shadow: 0px 4px 0px #1A94CF !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
}

.new-games-button:link {
	color: white;
}

.new-games-button:active {
	color: white !important;
	-webkit-box-shadow: -3px 1px 0 #00aefc;
	-moz-box-shadow: -3px 1px 0 #00aefc;
	box-shadow: -3px 1px 0 #00aefc;
	background: #00aefc !important;
	outline: none !important;
}

.new-games-button.cancel {
	position: relative;
	width: 108px;
	padding: 5px 0;
	margin-left: 9px;
	margin-top: 25px;
	text-align: center;
	background: #e4e4e4;
	-webkit-box-shadow: 0 3px 0 #d9d8d8;
	-moz-box-shadow: 0 3px 0 #d9d8d8;
	box-shadow: 0 4px 0 #d9d8d8;
	color: #27334d !important;
	letter-spacing: 0;
	line-height: 35px;
}

.affiliate-button {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.affiliate-button.materials {
	letter-spacing: 0.4px;
	text-align: left;
	width: 260px;
	padding-left: 32px;
	padding-right: 15px;
	background: #fff;
	color: #00B5FC;
	-webkit-box-shadow: 0 3px 0 #d9d8d8;
	-moz-box-shadow: 0 3px 0 #d9d8d8;
	box-shadow: 0 4px 0 #d9d8d8;
}

.affiliate .ref-form label {
	font-size: 12px;
	padding-left: 0;
	color: #242529;
	opacity: 0.6;
}

.affiliate .ref-form input {
	margin-top: 2px;
	font-size: 15px;
	height: 44px;
	width: 360px;
	padding-left: 11px;
	letter-spacing: 0.8px;
}

.affiliate .ref-form .copy-to-clipboard {
	position: absolute;
	top: 32px;
	right: 24px;
	padding: 9px;
	font-size: 14px;
	color: #00B6FF;
	background: #fff;
}

.affiliate-terms:link,
.affiliate-terms:visited,
.affiliate-terms:active,
.affiliate-terms:hover,
.affiliate .ref-form .copy-to-clipboard:link,
.affiliate .ref-form .copy-to-clipboard:visited,
.affiliate .ref-form .copy-to-clipboard:active,
.affiliate .ref-form .copy-to-clipboard:hover {
	text-decoration: none;
}

.affiliate-terms {
	height: 13px;
	width: 142px;
	color: #27334D;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	margin-bottom: 100px;
}

.affiliate table thead tr th {
	padding-bottom: 17px;
	border-width: 1px;
	color: #242529;
	font-weight: 600;
}

.affiliate table tbody tr td {
	border-top: none;
}

.affiliate table tbody tr td:first-child {
	padding-left: 17px;
}

.affiliate .table-header {
	font-weight: 300;
	color: #3B4251;
}

@media (max-width: 1600px) {
	p.create-new-game {
		margin-top: -58px;
	}
}

.new-games-button.cancel:active {
	background: #e4e4e4 !important;
	-webkit-box-shadow: 0 3px 0 #e4e4e4 !important;
	-moz-box-shadow: 0 3px 0 #e4e4e4 !important;
	box-shadow: 0 3px 0 #e4e4e4 !important;
}

.new-games-button.cancel:hover {
	cursor: pointer;
	color: #27334d;
}

.new-games-button.cancel span.glyphicon-menu-left {
	left: -3px;
}

.create-new-game {
	margin-top: 14px;
	margin-bottom: -1px;
	font-size: 12px;
	font-weight: bold;
}

.select-game-type {
	font-size: 24px;
}

.game-types {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 20px;
	margin-top: 21px;
	list-style: none;
	padding: 0;
	text-align: center;
}

.game-types .game-type {
	display: inline-block;
	vertical-align: top;
	background: no-repeat top center;
	margin-bottom: 60px;
	position: relative;
}

.game-types .game-type .header {
	margin-top: 78px;
	font-weight: bold;
}

.game-types .game-type .main {
	font-size: 14px;
	min-height: 48px;
	max-width: 300px;
	margin: 5px auto auto;
}

.new-games-button.create-game {
	display: block;
	padding: 1px 0;
	text-align: center;
	border: 1px solid transparent;
	border-bottom-color: #188ac9;
	-webkit-box-shadow: 0 4px 0 #188ac9;
	-moz-box-shadow: 0 4px 0 #188ac9;
	box-shadow: 0 4px 0 #188ac9;
	outline: none;
	width: 154px;
	height: 36px;
}

.new-games-button.create-game.preview {
	color: #000;
	background-color: white;
	border: 1px solid #D9D8D8;
	-webkit-box-shadow: 0 4px 0 #D9D8D8;
	-moz-box-shadow: 0 4px 0 #D9D8D8;
	box-shadow: 0 4px 0 #D9D8D8;
}

.new-games-button.create-game:first-child {
	margin-right: 17px;
}

.new-games-button.create-game:link {
	color: white;
}

.new-games-button.create-game:active {
	-webkit-box-shadow: 0 4px 0 #00aefc;
	-moz-box-shadow: 0 4px 0 #00aefc;
	box-shadow: 0 4px 0 #00aefc;
	color: white !important;
}

.game-types .game-type .game-type-image {
	width: 383px;
	height: 341px;
	display: inline-block;
	background: url(/img/carddance.png) no-repeat top center;
	background-size: cover;
	cursor: pointer;
}

.game-types .game-type.slot .game-type-image {
	background: url(/img/slots.png) no-repeat top center;
	background-size: cover;
}

.game-types .game-type.gift .game-type-image {
	background: url(/img/pickagift.png) no-repeat top center;
	background-size: cover;
}

.game-types .game-type.coupon .game-type-image {
	background: url(/img/carddance.png) no-repeat top center;
	background-size: cover;
}

.game-types .game-type.wheel .game-type-image {
	background: url(/img/wheel.png?v1) no-repeat top center;
	background-size: cover;
}

.game-type .group-cover {
	position: absolute;
	background: rgba(255, 255, 255, 0.95);
	display: none;
	border-radius: 8px;
	height: 312px;
	width: 355px;
	left: 6px;
	top: 6px;
	cursor: pointer;
}

.new-games-area {
	margin-top: 33px;
	width: 960px;
	height: 660px;
	border: 1px dashed #3D3D3D;
	border-radius: 11px;
}

.new-games-area .inner {
	margin-top: 140px;
	text-align: center;
}

.new-games-area .cube {
	width: 198px;
	height: 155px;
	display: inline-block;
	background: url(/img/no_games.png) no-repeat;
	background-size: cover;
}

.cube {
	position: relative;
	font-size: 132px;
}

.cube .left,
.cube .right,
.cube .bottom {
	position: absolute;
	border-radius: 7px;
	border: 1px dashed black;
	width: 85px;
	height: 85px;
}

.cube .left {
	top: 15px;
	left: -7px;
	transform: rotate(54deg) rotateX(39deg) rotateY(40deg) rotateZ(-18deg);
}

.cube .right {
	top: -3px;
	left: 52px;
	transform: rotate(-18deg) rotateX(42deg) rotateY(53deg) rotateZ(-10deg);
	width: 87px;
	height: 75px;
	border-radius: 14px;
}

.cube .bottom {
	top: 55px;
	left: 41px;
	transform: rotate(37deg) rotateX(30deg) rotateY(-46deg) rotateZ(4deg);
}

.new-games-area .inner .cube-shadow {
	margin-top: 26px;
	width: 124px;
	height: 1px;
	border-radius: 10px;
	text-align: center;
	background: rgba(0, 0, 0, 0.04);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.no-games-header {
	margin-top: 15px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.hint.mobile {
	display: none;
}

.highlighted {
	color: #00B5FC;
}

.site-panel {
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px #dbdee6;
}

.site-panel .panel-heading {
	background-color: #f1f3f5;
	border: none;
}

.site-panel .panel-heading .collapse {
	padding: 0 50px 0 10px;
}

.site-panel .panel-body {
	border: none;
}

.site-panel .navbar-nav li {
	margin-right: 3px;
}

.site-panel .navbar-nav a,
.site-panel .navbar-nav a:focus {
	color: inherit;
	padding: 10px 20px;
	background: none;
}

.site-panel .active > a,
.site-panel .active > a:focus,
.site-panel .navbar-nav a:hover {
	background-color: #fff;
	border-radius: 5px;
}

.site-panel .panel-body .footer-control {
	margin-top: 300px;
}

.site-panel .control-site {
	font-size: inherit;
}

.site-panel .control-site.delete {
	color: #f27171;
}

.site-panel .control-site.delete:hover {
	color: #ee4242;
}

.site-panel .input-label {
	width: 100%;
	color: #242529;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.site-panel .input-label.text-active {
	color: #04b7fc;
}

.site-panel .form-control {
	font-size: 16px;
}

.site-panel .form-control.content-text {
	width: 280px;
	height: 69px;
	border: 1px solid #b7c1d6;
	background-color: #fff;
	color: #242529;
	font-size: 16px;
}

.site-panel .form-control.content-text.note {
	height: 90px;
}

.site-panel .form-control.content-text:hover {
	border: 1px solid #00b5fc;
	background-color: #f3faff;
}

.site-panel .form-control.content-text:focus {
	border: 1px solid #00B5FC;
}

.site-panel .form-control.site-url:not(:disabled) {
	width: 288px;
}

.site-panel .form-control.site-url:disabled {
	width: 350px;
	border: none;
	box-shadow: none;
}

.fake-textarea {
	border: 1px solid #dfe5ed;
	border-radius: 5px;
	background-color: #fff;
}

.site-panel .fake-textarea textarea {
	font-family: Courier New, monospace;
	font-size: 12px;
	resize: none;
	box-shadow: none;
	outline: none;
	border: none;
	border-radius: 5px !important;
	line-height: 1.25;
}

.fake-textarea textarea:read-only {
	background-color: #fff;
}

.site-panel .countdown-explain {
	max-width: 400px;
	font-weight: 400;
	font-size: 15px;
	margin-top: 10px;
}

/*
	Editor Game Page
*/

.editor-game-page.container {
	width: 100%;
	height: calc(100% - 61px);
	margin: 0;
}

.editor-game-page .editor-game-page-header-navbar {
	position: fixed;
	top: 61px;
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.25);
	z-index: 100;
}

.editor-game-page .editor-game-page-header-navbar .collapse.navbar-collapse {
	padding: 12px 30px 0 30px;
}

.editor-game-page .editor-game-page-header-navbar .collapse.navbar-collapse .pull-left .btn {
	border: 0;
	text-transform: capitalize;
	color: #201D1D;
	font-size: 16px;
	line-height: 20px;
}

.editor-game-page .editor-game-page-header-navbar .collapse.navbar-collapse .pull-right .btn {
	top: -5px;
	position: relative;
	padding-left: 10px;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	width: 134px;
	height: 42px;
	line-height: 32px;
	color: #fff;
	border: 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #00A7FC;
	-webkit-box-shadow: 0px 5px 0px #1A94CF;
	box-shadow: 0px 4px 0px #1A94CF;
	-webkit-transition: All 250ms ease;
	transition: All 250ms ease;
	-webkit-font-smoothing: antialiased;
}

.editor-game-page .editor-game-page-header-navbar .collapse.navbar-collapse .pull-right .btn:hover {
	color: #fff;
	background-color: #00A7FC;
}

.editor-game-page .editor-game-page-header-navbar .collapse.navbar-collapse .pull-right .btn:active {
	color: white !important;
	-webkit-box-shadow: -3px 1px 0 #00aefc;
	-moz-box-shadow: -3px 1px 0 #00aefc;
	box-shadow: -3px 1px 0 #00aefc;
	background: #00aefc !important;
	outline: none !important;
	position: relative;
	top: 5px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
}

.editor-game-page-side-navbar {
	height: calc(100vh - 121px);
	width: 100%;
	margin-top: 121px;
}

.editor-game-page .editor-game-page-side-navbar-elements {
	background: #22304c;
	height: calc(100% - 121px);
	width: 82px;
	display: inline-block;
	position: absolute;
	z-index: 10;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-collapse.collapse {
	padding: 0;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li {
	height: 82px;
	width: 82px;
	text-align: center;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li.active,
.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li:hover {
	background: #fff;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li.active a,
.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li:hover a {
	color: #3B4251;
	background: transparent;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li a {
	position: absolute;
	top: 0;
	width: 82px;
	height: 82px;
	padding: 22px 0;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 69px;
	text-transform: uppercase;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li a:focus {
	text-decoration: none;
	background-color: transparent;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li span:before {
	color: #7d8594;
	position: relative;
	top: 15px;
}

.editor-game-page .editor-game-page-side-navbar-elements .navbar-nav li.active span:before {
	color: #3B4251;
}

.editor-game-area {
	background: #c9c9c9;
}

.editor-game-page-main-area {
	width: calc(100% - 82px);
	height: 100%;
	display: inline-block;
	vertical-align: top;
	clear: both;
	float: right;
	
}

.editor-game-page-main-area .site-panel {
	max-width: 675px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	border-radius: 0;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.18);
	z-index: 1;
	position: relative;
	overflow: auto;
}

.editor-game-page .site-panel .panel-body {
	font-size: 16px;
	min-height: 420px;
	padding: 15px 30px 10px 30px;
	background-color: #fff;
	height: 100%;
	overflow: auto;
}

.editor-game-page .site-panel .panel-body .row {
	margin: 0;
}

.editor-game-page .site-panel .coupons-explain-wrapper {
	display: inline-block;
	border: 1px solid #57C3FF;
	background-color: #F2FBFF;
	border-radius: 9px;
	padding: 24px;
}

.editor-game-page .site-panel .coupons-explain-wrapper h2 {
	color: #242529;
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 12px;
}

.editor-game-page .site-panel .coupons-explain-wrapper .coupons-explain-text {
	color: #242529;
	font-size: 16px;
}

.editor-game-page .site-panel .coupons-explain-wrapper .coupons-explain-link {
	color: #242529;
	font-size: 16px;
	margin-top: 15px;
}

.editor-game-page .site-panel .coupons-explain-wrapper .coupons-explain-link a {
	color: #57C3FF;
	font-weight: 600;
}

.editor-game-page-main-area .preview-frame {
	width: calc(100% - 500px);
	height: calc(100% - 121px);
	display: inline-block;
	position: absolute;
	right: 0;
}

.editor-game-page .language-button {
	width: 318px;
	text-align: left;
	/*border: 1px solid #00B5FC;*/
	/*background-color: #F2FAFF;*/
}

.language-button .selected-language {
	display: inline-block;
	width: 280px;
}

.language-button .caret-wrapper {
	display: inline-block;
}

.language-menu {
	width: 320px;
	padding: 0;
	margin: 0 0 20px 0;
	top: -1px;
	left: -1px;
	background-color: #fff;
	box-shadow: 0 2px 13px 1px rgba(39, 51, 77, 0.25);
	border: 1px solid transparent;
}

.language-menu li a {
	padding: 9px 20px;
}

.language-menu li:last-child a:hover {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.language-menu li:first-child a:hover {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.language-menu li a:hover {
	/*background-color: #00B5FC;*/
	/*color: #fff;*/
}

.site-panel .update-form .form-control {
	height: 36px;
}

.editor-game-page-main-area .preview-frame .no-padding {
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
}

.editor-game-page-main-area .preview-frame .screen-preview {
	display: block;
	margin: auto;
}

.minus-page-link {
	background-color: rgb(221, 221, 221);
	padding: 6px 10px 7px 10px;
	border-radius: 3px;
	cursor: pointer;
}

/*
	Custom radio & checkbox
*/

.site-panel .tab-behavior .gap {
	margin-top: 24px;
}

.site-panel .tab-behavior .form-control.custom {
	height: 24px;
	padding: 0 5px;
	font-size: 15px;
}

.site-panel .tab-behavior .form-control.custom:hover {
	border: 1px solid #00b5fc;
	background-color: #f1fbff;
}

.site-panel .tab-behavior .form-control.custom:focus {
	box-shadow: none;
}

.control-label + .checkbox, .control-label + .checkbox-group, .control-label + .radio {
	margin-top: 5px;
}

.radio._custom {
	margin-bottom: 10px;
	text-transform: none;
}

.checkbox-wrapper {
	padding-left: 22px;
	margin-top: 10px;
}

.checkbox-wrapper .checkbox {
	margin: 0 0 10px 0;
}

.checkbox, .radio {
	display: block;
	min-height: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.checkbox_offset_1, .radio_offset_1 {
	margin-left: 20px;
}

.checkbox, .checkbox-inline, .radio, .radio-inline {
	position: relative;
	padding-left: 22px;
	margin: 3px 0px;
}

.checkbox.without-checkbox {
	padding-left: 0;
}

.checkbox label, .radio label {
	display: inline;
	cursor: pointer;
	padding-left: 0;
}

.checkbox label {
	padding-left: 0;
}

.checkbox-inline input[type=checkbox], .checkbox-inline input[type=radio], .checkbox input[type=checkbox], .checkbox input[type=radio], .radio-inline input[type=checkbox], .radio-inline input[type=radio], .radio input[type=checkbox], .radio input[type=radio] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

input[type=checkbox], input[type=radio] {
	margin: 5px 0 0;
	line-height: normal;
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}

.checkbox-inline input[type=checkbox]:checked ~ .custom-input,
.checkbox-inline input[type=radio]:checked ~ .custom-input,
.checkbox input[type=checkbox]:checked ~ .custom-input,
.checkbox input[type=radio]:checked ~ .custom-input,
.radio-inline input[type=checkbox]:checked ~ .custom-input,
.radio-inline input[type=radio]:checked ~ .custom-input,
.radio input[type=checkbox]:checked ~ .custom-input,
.radio input[type=radio]:checked ~ .custom-input {
	background-color: #3b4251;
	border: none;
}

.radio-inline .custom-input, .radio .custom-input {
	border-radius: 50%;
}

.custom-input {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px;
	width: 14px;
	height: 14px;
	border: 1px solid #3b4251;
	background-color: #fff;
}

.custom-input.custom-checkbox {
	width: 12px;
	height: 12px;
}

.custom-input.custom-checkbox.text-tab-checkbox {
	border-radius: 3px;
	width: 14px;
	height: 14px;
}

.checkbox-inline input[type=checkbox]:checked ~ .custom-input:after,
.checkbox-inline input[type=radio]:checked ~ .custom-input:after,
.checkbox input[type=checkbox]:checked ~ .custom-input:after,
.checkbox input[type=radio]:checked ~ .custom-input:after,
.radio-inline input[type=checkbox]:checked ~ .custom-input:after,
.radio-inline input[type=radio]:checked ~ .custom-input:after,
.radio input[type=checkbox]:checked ~ .custom-input:after,
.radio input[type=radio]:checked ~ .custom-input:after {
	display: block;
}

.radio-inline .custom-input:after, .radio .custom-input:after {
	top: 2px;
	left: 2px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #3b4251;
	border: 1px solid #fff;
}

.checkbox-inline .custom-input:after, .checkbox .custom-input:after {
	top: 0px;
	left: 4px;
	width: 4px;
	height: 9px;
	border: solid #fff;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox-inline .bigger-input.custom-input,
.checkbox .bigger-input.custom-input {
	width: 14px;
	height: 14px;
	border-radius: 3px;
}

.checkbox-inline .bigger-input.custom-input:after,
.checkbox .bigger-input.custom-input:after {
	top: 1px;
	left: 5px;
}

.checkbox .custom-input.text-tab-checkbox:after {
	top: 2px;
	left: 5px;
	height: 8px;
}

.custom-input:after {
	position: absolute;
	display: none;
	content: "";
}

.radio .custom-input:hover {
	border: 1px solid #00b5fc;
	background-color: #f1fbff;
}

.custom-input.custom-checkbox:hover {
	border: 1px solid #00b5fc;
	background-color: #f1fbff;
}

.switch-wrapper {
	font-weight: normal;
	margin-bottom: 0;
	height: 23px;
}

.switch-wrapper.gpdr-wrapper {
	width: 100%;
}

.gdpr-link {
	float: right;
	margin-right: 9px;
	font-size: 14px;
	text-decoration: none;
}

.gdpr-text {
	color: #242529;
	font-size: 14px;
	margin-top: 11px;
}

.gpdr-toggle-text {
	text-transform: uppercase;
	color: #242529;
}

.switch {
	display: inline-block;
	vertical-align: -9px;
}

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
}

input.cmn-toggle-round-flat + label {
	padding: 2px;
	width: 36px;
	height: 19px;
	background-color: #B7C1D6;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}

input.cmn-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #B7C1D6;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
	top: 2px;
	left: 5px;
	bottom: 4px;
	width: 15px;
	height: 15px;
	background-color: #fff;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.4s, background 0.4s;
	-moz-transition: margin 0.4s, background 0.4s;
	-o-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
	background-color: #00AE14;
}

input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 13px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
}

input.cmn-toggle-round-flat:checked + label:before {
	background-color: #00AE14;
}

/*
	Sites list
*/

.site-manage .site {
	padding: 1px;
	border-radius: 4px;
	background-color: #f1f3f5;
}

.site-tumbler .tumbler {
	border: none;
}

.site-tumbler .tumbler.site-lists {
	width: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: default;
}

.site-tumbler .tumbler:hover,
.open > .site-tumbler .tumbler:hover,
.site-tumbler .tumbler:focus,
.open > .site-tumbler .tumbler:focus,
.open > .btn-default.dropdown-toggle.tumbler,
.open > .btn-default.dropdown-toggle.tumbler:hover,
.open > .btn-default.dropdown-toggle.tumbler:focus {
	background-color: #fff;
	box-shadow: none;
}

.site-tumbler .tumbler::before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	border-radius: 7.5px;
	background-color: #06ff00;
	vertical-align: middle;
	margin: 7px 12px 7px 3px;
}

.site-tumbler .tumbler.off::before {
	background-color: #d5d3d4;
}

.site-tumbler .site-lists.tumbler::before,
.site-tumbler .site-lists.tumbler.off::before {
	background-color: transparent;
}

.site-tumbler .dropdown-menu {
	border: none;
	font-size: inherit;
	padding: 0;
	border: 0;
}

.site-tumbler .dropdown-menu li:first-child a,
.site-tumbler .dropdown-menu.dropdown-top-lk li:first-child a.element {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.site-tumbler .dropdown-menu li:last-child a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.site-tumbler .dropdown-menu > li > a:focus,
.site-tumbler .dropdown-menu > li > a:hover {
	background-color: #00B5FC;
	color: #fff;
}

.site-tumbler .dropdown-menu li a {
	padding: 10px 20px;
}

.site > li {
	color: #8b96a8;
}

.site > li:last-child {
	text-align: right;
}

.site > li a {
	color: #363d4d;
}

.site > li a.new-window {
	color: #c1c2c7;
}

.site > li a.new-window:hover {
	color: #528fcc;
}

.clipboard {
	margin-top: 3px;
}

/*
	Games
*/

/* Button */
#games .btn {
	min-width: 230px;
	padding: 9px 0;
	background-color: #528fcc;
	border-bottom: 2px solid #3e82c6;
	color: #fff;
}

#games .btn:hover,
#games .btn:focus,
#games .btn:active {
	background-color: #3e82c6;
}

#games .dropdown-menu {
	width: 230px;
}

#games .dropdown-menu a {
	position: relative;
	display: block;
	padding: 13px 30px 13px 62px;
	border: 1px solid transparent;
	color: #363d4d;
	font-size: 16px;
}

#games .dropdown-menu a::before,
#games .dropdown-menu a::after {
	position: absolute;
}

#games .dropdown-menu a::after {
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -8px;
	width: 7px;
	height: 16px;
	border-radius: 2px;
	content: "";
	background-color: #43c1a4;
}

#games .dropdown-menu a::before {
	font-family: "Glyphicons Halflings";
	font-size: 27px;
	content: "\e142";
	left: 20px;
	top: 3px;
}

#games .dropdown-menu a.coupon::before {
	content: "\e011";
}

.lk-color,
#games .dropdown-menu a.coupon::after,
.game .drag-area {
	background-color: #ff7e00;
}

.statistic {
	max-width: 230px;
	background-color: #fff;
	padding: 12px;
	margin-top: 15px;
	border-radius: 5px;
	box-shadow: 0 2px #dbdee6;
	font-weight: 300;
}

.statistic ul {
	padding-left: 10px;
}

.statistic ul li {
	position: relative;
	padding: 5px;
	font-size: 14px;
}

.statistic ul li::before {
	content: "•";
	top: 2px;
	left: -11px;
	position: absolute;
	font-size: 18px;
}

.statistic ul li.coupon::before {
	color: #ff7e00;
}

.statistic ul li span {
	color: #363d4d;
}

/* Main content */

.list-complete-enter, .list-complete-leave-active {
	opacity: 0;
}

.layout-list {
	margin: 0;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.layout-list .real-preview {
	position: relative;
	height: 61px;
	width: 128px;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}

.real-preview .link-preview {
	top: 22px;
	left: -10px;
	position: absolute;
	width: 142px;
	color: #201D1D;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
}

.layout-list .layout {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #b7c1d6;
	border-radius: 4px;
	padding: 0;
	margin-right: 5px;
	cursor: pointer;
}

.layout-list .layout.mute {
	opacity: 0.4;
	cursor: default;
}

.layout-list .layout.active {
	border-color: #27334d;
}

.layout-list .layout.preview {
	position: relative;
	top: 0px;
	width: 61px;
	height: 61px;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-bottom: 4px solid transparent;
	vertical-align: top;
	float: left;
}

.frame-control .layout-list .layout.preview.active {
	border-bottom: 4px solid #00B5FC;
}

.position-wrapper {
	border-bottom: 1px solid #dedfe1;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

.layout-list .layout.preview div {
	margin-top: 15px;
}

.layout-list .layout.preview div:before {
	font-size: 24px;
	position: relative;
}

.layout.preview .icon {
	width: 25px;
	height: 25px;
	margin: 3px auto 0;
}

.layout.preview .mobile:before {
	content: "\e907";
	font-family: 'icomoon';
}

.layout.preview .desktop:before {
	content: "\e904";
	font-family: 'icomoon';
}

.layout-list .layout .position {
	position: absolute;
	background-color: #e0e3ea;
	border-radius: 1px;
}

.layout-list .layout:hover .position,
.layout-list .layout.active .position {
}

.layout-list .layout .position.left {
	height: 30px;
	width: 17px;
	background-color: #b7c1d6;
	top: 4px;
	left: 0;
	border-radius: 0 5px 5px 0;
}

.layout-list .layout .position.center {
	height: 18px;
	width: 28px;
	background-color: #b7c1d6;
	position: relative;
	top: 10px;
	left: 5px;
}

.layout-list .layout .position.right {
	height: 30px;
	width: 17px;
	background-color: #b7c1d6;
	top: 4px;
	right: 0;
	border-radius: 5px 0 0 5px;
}

.frame-control {
	position: absolute;
	top: -61px;
	right: 185px;
	z-index: 101;
}

.frame-control .layout-list {
	min-width: 250px;
	position: absolute;
	right: 15px;
}

.frame-control .layout-list .layout {
	margin-right: 0;
	border-radius: 0;
}

.frame-control .layout-list .layout.active {
	border-left: 1px solid #E6E6E6;
	border-color: #E6E6E6;
}

.game-preview.desktop {
	height: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
	overflow: auto;
}

.game-preview.desktop #screen-preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game-preview.desktop.left #screen-preview {
	top: 0 !important;
	left: 0;
	transform: translate(0%, 0%);
	height: 100% !important;
	min-height: 720px;
}

.game-preview.desktop.right #screen-preview {
	top: 0 !important;
	right: 0;
	left: auto !important;
	transform: translate(0%, 0%);
	height: 100% !important;
	min-height: 720px;
}

.game-preview.mobile {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
	overflow: auto;
}

.game-preview.mobile .screen-preview-bg {
	width: 423px;
	height: 735px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url(/img/mobile-preview.png) no-repeat;
	background-size: cover;
}

@media (max-width: 1700px) {
	.game-preview.mobile .screen-preview-bg {
		transform: translateX(-50%) translateY(-50%) scale(0.85) !important;
	}
}

.game-preview.mobile #screen-preview {
	position: absolute;
	top: 71px;
	left: 29px;
	height: 570px !important;
	background: url(/img/mobile_bg.png) no-repeat top center;
}

.design {
	list-style: none;
	padding: 0;
	position: relative;
}

.design .tab {
	display: inline-block;
	width: 50%;
	margin: 0;
}

.design .tab .input-label {
	text-align: center;
	border-bottom: 1px solid #dedfe1;
	cursor: pointer;
}

.design .tab.active .input-label {
	border-bottom-color: #04bffc;
}

.design .line.custom {
	position: relative;
	z-index: 10;
}

.color-picker-wrapper {
	width: 340px;
	padding: 0;
}

.color-picker-wrapper .list-inline {
	margin: 0;
}

.color-picker-wrapper .list-inline .input-label {
	margin-bottom: 20px;
}

.color li {
	display: block;
	position: relative;
	width: 100%;
	height: 35px;
	margin-bottom: 20px;
	padding: 0;
}

.line .design .present {
	display: inline-block;
	height: 32px;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #dfe0e3;
	border-radius: 5px;
	box-shadow: 5px 2px 8px 0 rgba(0, 0, 0, 0.09);
	cursor: pointer;
}

.line .design .present.active {
	border: 2px solid #04bffc;
	height: 34px;
}

.design .present .color-line:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.design .present .color-line:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.design .present .color-line {
	display: inline-block;
	width: 56px;
	height: 30px;
}

.line.present,
.line.custom {
	padding-top: 20px;
}

.custom-colors-wrapper {
	position: relative;
	display: inline-block;
}

.list-inline-border {
	width: 100%;
	height: 1px;
	background-color: #dedfe1;
	margin: 30px 0 20px 0;
}

.popover {
	all: initial;
	position: absolute;
	font: inherit;
	width: 100%;
}

.popover .popover__container {
	width: 222px;
	margin-right: 0;
	position: absolute;
	right: 0;
	top: 35px;
}

.popover .popover__container#popover-polygon1-color,
.popover .popover__container#popover-polygon2-color,
.popover .popover__container#popover-polygon3-color {
	left: 0;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.color-wrapper {
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #242529;
	border: 0;
	outline: none;
	font-weight: inherit;
	overflow: hidden;
	padding: 0;
}

.color-wrapper:hover,
.color-wrapper:focus,
.color-wrapper:active {
	background-color: #fff;
}

.color-wrapper .color {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #201d1d;
	border-radius: 2px;
	box-shadow: 0 0 2px #afafaf;
	border: 1px solid #d9dade;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
}

.design .color-wrapper .color {
	display: block;
	margin: 0 auto;
}

.color-wrapper .color .color-name {
	font-size: 16px;
	color: #242529;
}

.form-group.no-left-padding.select-font,
.form-group.no-left-padding.select-animation {
	width: 100%;
	height: 65px;
	padding: 0;
}

.form-group.no-left-padding.select-animation {
	margin-top: 0;
}

/* gift design block */

.gifts-design {
	width: 390px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: -20px;
	padding: 20px 20px 20px;
}

.gifts-design .gift-design {
	width: 57px;
	height: 57px;
	margin: 0 13px 21px 0;
	border: 1px solid #D9DADE;
	border-radius: 4px;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
	background-size: 35px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.gifts-design .gift-design.active {
	border-color: #00B5FC;
	border-width: 2px;
}

/* games list */

.games-gap {
	margin-top: 35px;
}

.games .game {
	position: relative;
	margin-bottom: 30px;
	padding: 20px 26px 13px 48px;
	width: 960px;
	min-height: 219px;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0 0 8px 0px rgba(17, 18, 20, 0.17);
	transition: all 1s;
}

.game .inner-game {
	position: relative;
}

.game .inner-game .col-md-9 {
	padding-right: 0;
}

.game .inner-game .game-frame-wrapper {
	position: absolute;
	width: 269px;
	height: 221px;
	top: -20px;
	left: -48px;
	overflow: hidden;
}

.inner-game .game-frame-wrapper .screen-preview {
	transform: scale(0.345);
	transform-origin: 0 0 0;
	width: 780px;
	height: 680px;
	border-radius: 25px 0 0 25px;
	transform: translateX(-3.59%) translateY(-3.5%) scale(0.422);
}

.game .inner-game .header .active-name-form {
	float: right;
	
}

.game .inner-game .header .change-name .name-holder {
	color: #3d3d3d;
	font-size: 24px;
	font-weight: 300;
}

.game .drag-area {
	position: absolute;
	width: 16px;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 4px 0 0 4px;
}

.game .site-tumbler {
	border: 1px solid #eaeff4;
	border-radius: 4px;
}

.game .site-tumbler:hover {
	border-color: #9eb0c8;
}

.game .header {
	margin: 0;
}

.game .body {
	margin: 0;
}

.game .body .game-statistic {
	width: 100%;
	border-collapse: separate;
	border-radius: 4px;
	text-align: center;
}

.game .body .game-statistic .captions td {
	padding: 0 8px 8px;
	vertical-align: top;
	color: #c4c4c4;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.game .body .game-statistic .values td {
	padding: 14px 8px 0;
	vertical-align: bottom;
	color: #3d3d3d;
	font-size: 32px;
	font-weight: 300;
}

.game .edit-name {
	color: #dbdfe9;
}

.game .edit-name:hover {
	color: #5a94ce;
	cursor: pointer;
}

.game .edit-name:before {
	font-size: 16px;
}

.game .footer {
	position: relative;
	padding: 14px 0 0;
	border-top: 1px solid #eee;
	margin-top: 11px;
}

.game .footer .btn.btn-default {
	width: auto;
	height: 30px;
	border: 1px solid #ebebeb;
	background-color: #fff;
	color: #3d3d3d;
	font-size: 14px;
	padding: 4px 43px;
	margin-right: 13px;
	line-height: 19px;
}

.game .footer .btn.btn-default.delete-game {
	position: relative;
	top: -7px;
	right: -20px;
	border: 0;
	padding: 0;
	margin: 0;
	
}

.game .footer .btn.btn-default.delete-game .icon-Delete:before {
	color: #4e4e4e;
	font-size: 34px;
}

.game .footer .btn.btn-default.delete-game .icon-Delete:hover:before {
	color: #ed1c24;
}

form.background-image {
	position: relative;
	height: 166px;
	width: 279px;
	border: 1px dashed #696f7c;
	background-color: #fff;
	border-radius: 2px;
}

form.background-image .cloud-icon {
	position: absolute;
	width: 49px;
	height: 36px;
	top: 12px;
	left: 114px;
	background: url(/img/cloud-icon.png) top center no-repeat;
}

form.background-image .btn-file {
	position: absolute;
	background: #fff;
	top: 62px;
	left: 56px;
	height: 45px;
	width: 168px;
	padding: 11px;
	letter-spacing: 0.7px;
}

form.background-image .text.recommended {
	position: absolute;
	bottom: 7px;
	left: 83px;
	font-size: 10px;
	font-weight: 300;
	line-height: 20px;
	color: #98989a;
	letter-spacing: -0.2px;
}

form.background-image .image-wrapper .control {
	position: absolute;
	top: 7px;
	right: 5px;
}

form.background-image .image-wrapper .control div {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 3px;
	padding: 5px 5px 5px 7px;
	background: #f3eee8;
	border-radius: 4px;
	cursor: pointer;
}

form.background-image .image-wrapper .image {
	margin: 0 auto;
	height: 165px;
	max-width: 278px;
	cursor: pointer;
	display: block;
}

form.background-image .image-wrapper .opacity {
	position: absolute;
	top: 66px;
	border: none;
	box-shadow: 0 0 10px;
	text-align: center;
	opacity: 0.5;
}

form.background-image .image-wrapper .opacity::-webkit-outer-spin-button,
form.background-image .image-wrapper .opacity::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form.background-image .image-wrapper .opacity:hover {
	opacity: 1;
}

form.background-image .slider-wrapper {
	position: absolute;
	top: 65px;
	left: 44px;
	width: 180px;
	height: 33px;
	border: 1px solid white;
	border-radius: 15px;
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

form.background-image .vue-slider-component .vue-slider-tooltip {
	font-size: 15px;
	min-width: 48px;
	border: 1px solid #fff;
	background-color: #fff;
	font-weight: 300;
	color: black;
}

form.background-image .vue-slider-tooltip-top.vue-slider-tooltip-wrap .vue-slider-tooltip::after {
	content: '%';
}

form.background-image .slider-wrapper .vue-slider {
	height: 100% !important;
}

form.background-image .slider-wrapper .vue-slider-always.vue-slider-dot {
	width: 28px !important;
	height: 28px !important;
	background-color: transparent !important;
	border: 2px solid white !important;
	top: -14px !important;
}

form.background-image .vue-slider-component.vue-slider-horizontal {
	padding: 15px 8px !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */
{
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

/*
	----- Stopped -----
	Cross platform styles
*/

/*
	Align Modal To middle of the page
*/

.modal-dialog {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.modal-content {
	margin: 0 auto;
}

.sign-login-btn {
	float: right;
}

.forgot-label {
	position: relative;
	top: 10px;
}

@media (min-width: 768px) {
	
	.navbar .navbar-brand {
		min-height: 60px;
	}
	
	.site-container {
		padding: 17px 0;
	}
}

@media (min-width: 960px) {
	
	.container {
		width: 960px;
	}
	
	.nav-right-center {
		padding: 5px;
	}
}

@media (max-width: 768px) {
	.site-container {
		padding: 0 0 12px 0;
	}
}

@media (max-width: 994px) {
	.woohoo-dropdown-menu .site-container.text-center {
		width: 40%;
	}
}

@media (min-width: 1280px) {
	.container {
		width: 100%;
	}
}

.container.fixed-width {
	width: 960px;
	margin-top: 100px;
}

.container.shopify {
	width: 1180px;
}

.modal-dialog {
	margin-top: 0;
	margin-bottom: 0;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -100%);
	transform: translate(0, -100%);
}

.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.modal-content.congratulation {
	width: 387px;
}

.modal-content.t-shirt {
	width: 672px;
	height: 637px;
}

.modal-content.congratulation.t-shirt .modal-header {
	border-bottom: 1px solid #e8e4e4;
}

.tshirt-sub-title {
	margin: -9px 0 10px 0;
	font-size: 18px;
	font-weight: 600;
}

#tshirt-modal {
	margin: 5px 0;
	font-size: 19px;
	font-weight: 600;
}

#t-shirt-modal .vote {
	margin-top: 5px;
	color: #fff;
	background-color: #515fbc;
}

#t-shirt-modal .vote:hover {
	background-color: #6674d0;
}

#t-shirt-modal .picture {
	margin-top: 15px;
	margin-left: -10px;
}

.modal-content.congratulation.embedded {
	width: 960px;
}

.modal-content.congratulation .modal-header,
.modal-content.congratulation .modal-footer {
	border: 0;
}

.modal-content.congratulation .modal-header {
	background: url(/img/congrats_game.png) no-repeat;
	background-position: center 20px;
}

.modal-content.congratulation .modal-header {
	background-image: none;
}

.modal-content.congratulation .modal-header .close {
	margin-top: -8px;
	opacity: 0.8;
}

.modal-content.congratulation .modal-header .close span {
	font-size: 38px;
	color: rgba(45, 40, 40, 0.76);
}

.modal-content.congratulation .modal-title {
	color: #242529;
	font-size: 30px;
	font-weight: 300;
	padding: 75px 25px 0 25px;
	text-align: center;
}

.modal-content.congratulation .modal-body .embedded-textarea {
	border: none;
	resize: none;
	color: #242529;
	font-size: 14px;
	line-height: 22px;
	padding-top: 22px;
	padding-left: 15px;
}

.modal-content.congratulation .modal-body .embedded-textarea:focus {
	outline: none;
}

.modal-content.congratulation .modal-body .fake-textarea {
	margin-bottom: 20px;
}

.modal-content.congratulation .modal-body {
	color: #242529;
	font-size: 16px;
	text-align: center;
	padding: 25px;
}

.modal-content.congratulation.embedded .modal-body {
	text-align: left;
	padding: 25px 65px;
}

.embedded-text {
	max-width: 693px;
	line-height: 20px;
	font-size: 14px;
	color: #3B4251;
}

.modal-content.congratulation .modal-body a {
	display: inline-block;
	margin-top: 20px;
	color: #00B5FC;
}

.modal-content.congratulation .modal-footer {
	text-align: center;
	padding: 0 35px 35px;
}

.modal-content.congratulation.embedded .modal-footer {
	text-align: right;
	padding: 0 65px 27px;
}

.modal-content.congratulation .modal-footer .btn-default {
	top: -5px;
	position: relative;
	padding-left: 10px;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	width: 134px;
	height: 35px;
	line-height: 25px;
	color: #fff;
	border: 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #00A7FC;
	-webkit-box-shadow: 0px 5px 0px #1A94CF;
	box-shadow: 0px 4px 0px #1A94CF;
	-webkit-transition: All 250ms ease;
	transition: All 250ms ease;
	-webkit-font-smoothing: antialiased;
}

.modal-content.congratulation .modal-footer .btn-default {
	color: #fff;
	background-color: #00A7FC;
}

.modal-content.congratulation .modal-footer .btn-default:active {
	color: white !important;
	-webkit-box-shadow: -3px 1px 0 #00aefc;
	-moz-box-shadow: -3px 1px 0 #00aefc;
	box-shadow: -3px 1px 0 #00aefc;
	background: #00aefc !important;
	outline: none !important;
	position: relative;
	top: 5px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
}

.modal-content.rate-us {
	width: 387px;
	height: 372px;
}

.modal-content.rate-us.trial {
	height: auto;
}

.modal-content.rate-us .like-using-woo-hoo {
	color: #242529;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	padding: 160px 25px 0 25px;
}

.modal-content.rate-us .modal-header {
	height: 200px;
	background: url('/img/Star.svg') center 44px no-repeat;
}

.modal-content.rate-us .modal-footer .btn-default {
	width: 214px;
}

.modal-content.out-of-impressions {
	height: 486px;
	width: 570px;
}

.modal-content.out-of-impressions .modal-header {
	height: 230px;
	background: url('/img/break-wall.png') 54% 20px / 232px 209px no-repeat;
}

.modal-content.out-of-impressions .like-using-woo-hoo {
	padding: 227px 25px 0 25px;
}

.modal-content.out-of-impressions .modal-body {
	color: #242529;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.3px;
	text-align: center;
	padding: 49px 46px 31px;
}

.modal-content.out-of-impressions .modal-footer .btn.btn-default,
.modal-content.out-of-impressions .modal-footer .btn.btn-default:active {
	background-color: #BD27FB !important;
	-webkit-box-shadow: 0px 5px 0px #9422c4;
	box-shadow: 0px 4px 0px #9422c4;
}

.modal-content.edit-email-template {
	max-height: 600px;
	width: 960px;
	overflow: hidden;
}

.modal-content.edit-email-template .example-picture-wrapper {
	background: #f0f0f0;
	height: 609px;
	top: -15px;
	left: 15px;
	border-bottom-right-radius: 6px;
}

.rate-us-nav.nav {
	display: none;
	float: right;
}

.nav li a.rate-us-link,
.nav li a.rate-us-link:link {
	display: inline-block;
	border-radius: 4px;
	padding: 10px 20px;
	background: transparent;
	text-transform: none;
	color: #00c4fd;
	font-weight: 600;
	margin: 8px 0 0 0;
}

.nav li a.rate-us-link:hover,
.nav li a.rate-us-link:active {
	color: #00c4fd;
}

.rate-us-link img {
	position: relative;
	left: -10px;
	top: -3px;
}

.plan-header {
	font-size: 24px;
	margin-top: 1px;
	text-transform: capitalize;
}

.plans-wrapper {
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 50px;
}

.plan {
	float: left;
	width: 469px;
	height: 688px;
	background: #fff;
	border-radius: 9px;
	box-shadow: 0 0 8px 1px rgba(17, 18, 20, 0.17);
	margin-right: 20px;
	margin-bottom: 20px;
}

.shopify .plan.free-plan {
	display: none;
}

.plan .plan-name {
	font-size: 47px;
	margin: 0;
}

.shopify .plan .plan-name {
	height: 32px;
	font-size: 22px;
	font-weight: 600;
	margin-top: 32px;
}

.plan .plan-price {
	margin-top: 2px;
	letter-spacing: 0.6px;
}

.shopify .plan .plan-price {
	margin-top: 34px;
	margin-bottom: 0;
}

.plan .plan-price .currency {
	font-size: 46px;
	line-height: 1.2;
	font-weight: 600;
}

.shopify .plan .plan-price .currency {
	font-size: 32px;
	line-height: 32px;
}

.plan .plan-list {
	list-style: none;
	padding: 0;
	margin-top: 25px;
	margin-left: 2px;
}

.plan .plan-list .bold {
	font-weight: 600;
}

.plan .plan-list li {
	margin-bottom: 11px;
	letter-spacing: 0.3px;
	text-transform: capitalize;
}

.plan .plan-button {
	display: block;
	width: calc(100% - 7px);
	margin: 46px auto;
	text-align: center;
	background: #A510FA;
	box-shadow: 0 4px 0 #b826ed;
}

.shopify .plan {
	width: calc(25% - 14px);
	margin-right: 14px;
	text-align: center;
	border: 2px solid transparent;
}

.shopify .plan.tagged {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.shopify .plan-popular-tag {
	position: relative;
	float: left;
	width: calc(25% - 14px);
	height: 48px;
	padding: 9px;
	margin-right: 14px;
	text-align: center;
	border: 2px solid transparent;
	background: #fff;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	border-bottom: 1px solid #ececec;
	box-shadow: 0 0 8px 1px rgba(17, 18, 20, 0.17);
}

.shopify .plan-popular-tag:first-of-type {
	display: none;
}

.shopify .plan-popular-tag .em {
	font-style: normal;
}

.shopify .plan-popular-tag span {
	text-transform: capitalize;
}

.shopify .plan-close-shadow {
	border-top: 1px solid #ECECEC;
	left: 0;
	bottom: -10px;
	background-color: white;
	position: absolute;
	width: 100%;
	height: 8px;
}

.shopify .plan:hover {
	border-color: #06B0FF;
	cursor: pointer;
}

.shopify .button-plan {
	margin-top: 42px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	height: 48px;
	width: 90%;
	border-radius: 8px;
	background-color: #06B0FF;
	box-shadow: 0 0 0 0 #1B90C6;
	-webkit-font-smoothing: auto;
}

.plan-popular-tag.hot {
	border: 2px solid transparent;
}

.plan-padding {
	padding: 8px 20px;
}

.shopify .button-plan:hover {
	background-color: #00A7FC;
}

.subscribe-form {
	background: #fff;
	border-radius: 9px;
	box-shadow: 0 0 8px 1px rgba(17, 18, 20, 0.17);
	padding: 10px 12px 5px 12px;
}

.subscribe-form .upgrade-title {
	font-weight: 300;
	margin-left: 87px;
}

.subscribe-form .upgrade-title .name {
	font-weight: 500;
}

.profile-page {
	overflow: hidden;
	margin: 30px auto;
	padding: 30px;
	width: 100%;
	max-width: 960px;
	min-height: 307px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgba(17, 18, 20, 0.17);
}

.profile-page .label-upper {
	text-transform: uppercase;
	opacity: 0.6;
	color: #242529;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
}

.create-game-site-page .hint {
	opacity: 0.8;
	color: #242529;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

.create-game-site-page .small-header {
	margin-top: -4px;
	margin-bottom: 7px;
	opacity: 0.6;
	color: #434343;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

.create-game-site-page .big-header {
	color: #434343;
	font-size: 24px;
	font-weight: 300;
	line-height: 20px;
}

.create-game-site-page .form-group {
	margin-bottom: 24px;
}

.create-game-site-page .label {
	opacity: 0.6;
	color: #242529;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
}

.create-game-site-page input {
	margin-top: 6px;
	border: 1px solid #c1c9dc;
}

.integrations-header {
	margin-top: 8px;
	font-weight: 300;
	letter-spacing: 0.4px;
}

.integrations-sub-header {
	letter-spacing: 0;
	margin-top: 14px;
	margin-left: -1px;
}

.integrations {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.integrations .integration {
	height: 120px;
	width: 100%;
	padding: 20px;
	margin-bottom: 22px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 0 8px 0 rgba(17, 18, 20, 0.17);
}

.integrations .integration > div {
	float: left;
	height: 80px;
}

.integrations .integration .information {
	padding-top: 30px;
	padding-left: 10px;
	width: 266px;
}

.integrations .integration .information.detail {
	width: 668px;
	padding-top: 5px;
	font-size: 14px;
}

.integrations .integration .icon-wrapper {
	width: 55px;
	margin: 13px 20px 13px 13px;
}

.integrations .integration .icon-wrapper.mailchimp {
	height: 57px;
}

.integrations .integration .icon-wrapper.omnisend,
.integrations .integration .icon-wrapper.klaviyo {
	height: 55px;
}

.integrations .integration .icon-wrapper.recart {
	height: 55px;
}

.integrations .integration .icon-wrapper.activecampaign {
	height: 57px;
}

.integrations .integration .icon-wrapper .icon {
	width: 100%;
	height: 102%;
	display: inline-block;
}

.integrations .integration .icon-wrapper.mailchimp .icon {
	background: url(/img/mailchimp.png) no-repeat;
	background-size: cover;
}

.integrations .integration .icon-wrapper.klaviyo .icon {
	background: url(/img/klaviyo.png) no-repeat;
	background-size: cover;
}

.integrations .integration .icon-wrapper.recart .icon {
	background: url(/img/recart-logo.jpg) no-repeat;
	background-size: cover;
}

.integrations .integration .icon-wrapper.activecampaign .icon {
	background: url(/img/activecampaign.png) no-repeat;
	background-size: cover;
}

.integrations .integration .icon-wrapper.omnisend .icon {
	background: url(/img/omnisend.png) no-repeat;
	background-size: cover;
}

.integrations .information .name {
	letter-spacing: 0.7px;
	font-weight: 500;
}

.integrations .information .status {
	letter-spacing: -0.2px;
}

.integrations .integration .connection {
	width: 400px;
	position: relative;
	border-left: 1px solid #eee;
}

.integrations .connection .label-list {
	margin-top: 30px;
	margin-left: 30px;
}

.integrations .connection .dropdown {
	position: absolute;
	top: 18px;
	left: 137px;
}

.integrations .connection .dropdown button {
	max-width: 281px;
	padding: 10px 16px 10px 11px;
	letter-spacing: 0;
	margin-top: 3px;
	text-transform: capitalize;
}

.integrations .connection .label-list,
.integrations .connection .dropdown {
	display: inline-block;
}

.integrations .integration .control {
	width: 162px;
	padding: 19px 0;
}

#messengers-services .modal-content {
	width: 572px;
	background-color: #e9eaed;
}

#messengers-services .integrations {
	padding: 0 20px;
}

#messengers-services .integrations .integration {
	height: 80px;
}

#messengers-services .integration .icon-wrapper {
	width: 41px;
	height: 44px;
	margin: 0;
}

#messengers-services .integration .icon-wrapper.chatchamp .icon {
	background: url(/img/chatcamp.png) no-repeat;
	background-size: cover;
}

#messengers-services .integration .information {
	padding: 12px 0 0 15px;
	width: 334px;
	height: 24px;
	font-size: 12px;
}

#messengers-services .integration .control {
	width: 110px;
	height: 34px;
	padding: 4px 0 0 0;
}

#messengers-services .integration button {
	width: 110px;
	height: 30px;
}

#messengers-popup .modal-content {
	width: 300px;
}

button.integrations-connect {
	padding: 0;
	text-align: center;
}

button.integrations-connect.disconnected {
	padding: 0;
	text-align: center;
	background-color: #F0F0F0;
	box-shadow: 0 4px 0 0 #D9D8D8;
	color: #000;
}

.integrations-connect.upgrade-for-connect {
	width: 200px;
	position: relative;
	left: -38px;
	background-color: #c622ff;
	-webkit-box-shadow: 0 5px 0 #ab12f4;
	box-shadow: 0 4px 0 #ab12f4;
}

.feedback-interactive {
	margin-top: -35px;
	margin-bottom: 75px;
	width: 960px;
	min-height: 145px;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0 0 8px 0px rgba(17, 18, 20, 0.17);
	transition: all 1s;
}

.feedback-interactive .new-games-button {
	margin: 0 10px;
	width: 120px;
	height: 36px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	padding: 5px 0;
	font-weight: 600;
}

.feedback-interactive h1 {
	font-size: 24px;
	font-weight: 300;
}

img.scalable {
	display: block;
	max-width: 100%;
	height: auto;
}

.center-row {
	margin: auto;
	max-width: 300px;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load1 1.8s infinite ease-in-out;
	animation: load1 1.8s infinite ease-in-out;
}

.loader {
	color: #00B3FF;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}

.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.loader:after {
	left: 3.5em;
}

@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.vertical-center {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/**
	Statistics section
 */

.statistics-list {
	display: flex;
	margin-bottom: 55px;
}

.statistic-item {
	display: inline-block;
	height: 155px;
	width: calc(25% - 20px);
	margin: 0 auto;
	background: white;
	border-radius: 10px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2)
}

.statistic-item.regular {
	width: calc(34% - 20px);
}

.statistic-item.revenue-from-coupons {
	cursor: pointer;
}

.statistic-item.revenue-from-coupons .total-data .number {
	color: #0fc1fc;
}

.statistic-item.revenue-from-coupons.disabled,
.statistic-item.revenue-from-coupons.disabled:hover {
	background: #9cb3bf;
}

.statistic-item.revenue-from-coupons.disabled .total-data .number,
.statistic-item.revenue-from-coupons.disabled:hover .total-data .number {
	color: #b1d9e6;
}

.statistic-item.revenue-from-coupons.disabled .text-data,
.statistic-item.revenue-from-coupons.disabled:hover .text-data {
	color: #e0e0e0;
}

.statistic-item.revenue-from-coupons:hover {
	background: #f0fbff;
}

.statistic-item:first-child {
	margin-left: 0;
}

.statistic-item:last-child {
	margin-right: 0;
}

.statistic-item .total-data {
	height: 113px;
}

.statistic-item .total-data .number {
	text-align: center;
	margin: 0;
	padding: 40px 0;
	font-size: 42px;
	font-weight: 300;
	color: #3B4251;
}

.statistic-item .text-data {
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: #3D3D3D;
	opacity: 0.6;
	text-transform: uppercase;
}

#lucky-coupon-shop-orders .modal-header {
	padding: 29px 15px 0 33px;
	border-bottom: none;
}

#lucky-coupon-shop-orders .modal-title {
	font-size: 24px;
	font-weight: 100;
}

#lucky-coupon-shop-orders .close {
	margin-top: -12px;
	margin-right: -3px;
}

#lucky-coupon-shop-orders .close .inner {
	display: block;
	width: 31px;
	height: 31px;
	padding: 0;
	background: url(/img/game/Close.svg) no-repeat center center;
	cursor: pointer;
	color: #000;
}

#lucky-coupon-shop-orders .modal-body {
	padding: 0 30px;
}

#lucky-coupon-shop-orders .inner-body {
	width: 900px;
	height: 600px;
}

#lucky-coupon-shop-orders table {
	margin-top: 12px;
	display: block;
	overflow: auto;
	height: 100%;
}

#lucky-coupon-shop-orders table thead {
	display: block;
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	color: #242529;
	opacity: 0.6;
}

#lucky-coupon-shop-orders table thead tr {
	width: 100%;
	display: block;
	border-bottom: 1px solid rgba(59, 66, 81, 0.2);
}

#lucky-coupon-shop-orders table tbody tr {
	position: relative;
	width: 100%;
	display: block;
	background-color: transparent;
}

#lucky-coupon-shop-orders table tbody tr:nth-of-type(even) {
	background-color: #f7f7f8;
}

#lucky-coupon-shop-orders table thead td {
	display: inline-block;
	width: 19%;
	box-sizing: border-box;
	padding: 15px 15px !important;
	vertical-align: top;
}

#lucky-coupon-shop-orders table tbody {
	overflow: visible;
	display: block;
	width: 100%;
}

#lucky-coupon-shop-orders table tbody td {
	position: relative;
	display: inline-block;
	width: 19%;
	box-sizing: border-box;
	height: 55px;
	vertical-align: middle;
	border: 0;
	padding: 15px 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#lucky-coupon-shop-orders table tbody td.items-image {
	white-space: normal;
	overflow: visible;
}

#lucky-coupon-shop-orders table tbody tr:nth-of-type(even) td {
	height: 48px;
}

#lucky-coupon-shop-orders table tbody td .items {
	position: absolute;
	right: 35px;
	color: #00B5FC;
	cursor: pointer;
}

#lucky-coupon-shop-orders table tbody td .items {
	position: absolute;
	right: 35px;
	color: #00B5FC;
	cursor: pointer;
}

#lucky-coupon-shop-orders table tbody td .items .items-detail {
	position: absolute;
	top: 22px;
	right: -32px;
	z-index: 2;
	color: #000;
}

#lucky-coupon-shop-orders .no-orders {
	margin: 110px auto 0;
	width: 345px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#lucky-coupon-shop-orders .no-orders .image {
	margin: -8px auto 0;
	width: 129px;
	height: 118px;
	background: url(/img/coupon_order_list.png) top center no-repeat;
}

#lucky-coupon-shop-orders .no-orders .text h3 {
	margin-top: 27px;
	margin-bottom: 0;
}

#lucky-coupon-shop-orders .no-orders .text span {
	display: inline-block;
	margin-top: 15px;
}

#lucky-coupon-shop-orders .items-detail .triangle {
	position: relative;
	left: 88px;
	display: flex;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	z-index: 5;
}

#lucky-coupon-shop-orders .items-detail .items-wrapper {
	position: relative;
	display: flex;
	margin: 0 auto;
	width: 275px;
	padding: 18px;
	border-radius: 5px;
	box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.3);
	background: #fff;
	z-index: 4;
}

#lucky-coupon-shop-orders .items-detail .items-wrapper .item {
	width: 100%;
	margin-left: 0;
}

#lucky-coupon-shop-orders .items-detail .items-wrapper .item-image {
	width: 42px;
	height: 42px;
}

#lucky-coupon-shop-orders .items-detail .items-wrapper .item-name {
	padding-left: 10px;
	font-size: 12px;
	color: #242529;
}

#lucky-coupon-shop-orders .items-detail .items-wrapper .item-coast {
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
}

.glyphicon.glyphicon-cd.spin {
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media (max-width: 800px) {
	
	.rate-us-nav.nav {
		display: none;
	}
}

@media (max-width: 500px) {
	
	.navbar-default .navbar-toggle {
		display: none;
	}
	
	.container.fixed-width {
		width: 100%;
	}
	
	.games-header {
		margin-left: 15px;
	}
	
	.new-games-button {
		display: none;
	}
	
	.change-name {
		pointer-events: none;
	}
	
	.edit-name.icon-Edit {
		display: none;
	}
	
	.game .footer .btn.btn-default.edit-game {
		display: none;
	}
	
	.game .footer .btn.btn-default.preview-game {
		margin-bottom: 15px;
	}
	
	.game .footer .btn.btn-default.delete-game {
		display: none;
	}
	
	.game .inner-game .header .active-name-form {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.games .game {
		width: 100%;
		margin: auto;
		margin-bottom: 20px;
		padding: 21px 16px;
	}
	
	.game .inner-game .game-frame-wrapper {
		display: none;
	}
	
	.game .body .game-statistic .values td {
		font-size: 24px;
	}
	
	.game .inner-game .header .change-name .name-holder {
		font-size: 22px;
	}
	
	.game .inner-game .header .active-name-form .dropdown-menu {
		right: 0;
		left: auto;
	}
	
	.new-games-area {
		width: calc(100% - 40px);
		height: 100%;
		margin: 40px auto auto;
	}
	
	.new-games-area .inner {
		margin-top: 40px;
	}
	
	.no-games-header {
		font-size: 22px;
	}
	
	.hint.desktop {
		display: none;
	}
	
	.hint.mobile {
		display: block;
		font-size: 15px;
	}
	
	.statistics-list {
		display: none;
	}
}


