.cookie-agreement {
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	text-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 0 2rem;
	height: 5rem;
	z-index: 100;
}

.cookie-agreement span {
	margin-top: 0;
	margin-left: 3rem;
	background-color: #e24f54;
	padding: .7rem 1.2rem;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 2rem;
	cursor: pointer;
}

@media (max-width: 900px) {
	.cookie-agreement {
		display: none !important;
	}
}
