<template>
	<div class="modal fade" id="integration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content confirm">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body row" style="width: 600px;">
					<div class="wrapper col-md-12" style="margin-bottom: 40px">
						{{ options.text }}
					</div>

					<div class="col-md-12">
						<div class="form-group" v-if="integrationParameters.apiUrl">
							<div>Api URL</div>
							<input type="text" class="form-control" name="apiUrl" v-model="form.apiUrl">
						</div>
						<div class="form-group" v-if="integrationParameters.apiKey">
							<div>Api key</div>
							<input type="text" class="form-control" name="apiKey" v-model="form.apiKey">
						</div>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="cancelButtonHandler">{{ options.cancelButton }}</button>
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">{{ options.saveButton }}</button>
				</div>
			
			</div>
		</div>
	</div>
</template>
<script>
	export default {
        props: ['integrationParameters'],
		data() {
			return {
				options: {
					title: 'Integration settings',
					text: '',
					saveButton: 'Save',
					cancelButton: 'Cancel',
					saveButtonHandler: function() {},
					cancelButtonHandler: function() {}
				},
                form: {
                    'apiKey': '',
                    'apiUrl': ''
                },
				modal: {}
			}
		},
		
		mounted() {
			this.modal = $('#integration-modal');
		},
		
		methods: {
			
			closeModal: function(e) {
				this.modal.modal('hide');
			},
			
			doneButtonHandler: function(e) {
			    let data = {
                    'inputStack' : this.modal.find('input'),
					'formData' : this.form
				};

				if (this.options.saveButtonHandler.call(this, data)) {
					this.modal.modal('hide');
				}
			},
			
			cancelButtonHandler: function(e) {
				this.options.cancelButtonHandler.call(this);
				this.modal.find('input').val('');
				this.modal.modal('hide');
			},
			
			open: function(options) {
				this.modal.find('[name=apiKey]').val('');
				this.setModalOptions(options);
				this.modal.modal('show');
			},
			
			setModalOptions: function(options) {
				for(var attr in options) {
					if(options.hasOwnProperty(attr)) {
						if (attr === 'text') {
							this.modal.find('.modal-body .wrapper').html(options[attr]);
						} else {
							this.options[attr] = options[attr];
						}
					}
				}
			}
		}
	}
</script>