<template>
	<div class="modal fade" id="messengers-services" tabindex="-1" role="dialog" aria-labelledby="messengers-services-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content confirm">
				
				<div class="modal-header" style="padding-bottom: 0; border-bottom: none">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="messengers-services-label">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body">
					<p style="font-size: 12px">{{ options.text }}</p>
					<div class="row">
						<div class="integrations">
							<div class="integration" v-for="(service, index) in services">
								<div :class="index + ' icon-wrapper'">
									<span class="icon"></span>
								</div>
								<div class="information">
									<span class="name">{{ upperFirst(index) }} </span>
									<span class="status">{{ getConnected(index) }}</span>
								</div>
								<div class="control">
									<button :data-service="index"
											:class="getButtonClass(service)"
											@click="connectToService">
										{{ getTextButton(index) }}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script>

import Flash from '../../../helpers/flash';

export default {
	data() {
		return {
			services: {
				//0ba925d4db8bee6a4d7f57e6e1354a31c200e9590806eca7828283824699952a
				chatchamp: false,
//				recart: false
			},
			options: {
				title: 'Integrations to messengers services.',
				text: 'Automatically push WooHoo collected messengers registrations to the select service.',
			},
			modal: {}
		}
	},
	
	mounted() {
		this.modal = $('#messengers-services');
	},
	
	computed: {
		messengersGetData: {
			get() {
				return this.$store.state._app.popup.messengersData;
			},
			set(value) {
				this.$store.state._app.popup.messengersData = value;
			}
		},
		
		site() {
			return this.$store.state._sites.site;
		},
		
		game() {
			return this.$store.state._games.game;
		},
		
		chatchampCurrentSite: {
			get() {
				return this.$store.state._integrations.chatchampCurrentSite;
			},
			set(value) {
				this.$store.state._integrations.chatchampCurrentSite = value;
			}
		}
	},
	
	watch: {
		site(value) {
			if(value.id) {
				let siteId = value.id,
					serviceName = 'chatchamp';
				this.$store.dispatch('getServiceInformation', {service: serviceName, site_id: siteId})
					.then(function(response) {
						let data = response.data;
						if (data.hasOwnProperty('service')) {
							this[serviceName + 'CurrentSite'] = data.service;
							if (this[serviceName + 'CurrentSite'].active) {
								this.services[serviceName] = true;
							}
						}
					}.bind(this))
					.catch(Flash.setAjaxError.bind(Flash));
			}
		}
	},
	
	methods: {
		
		closeModal: function(e) {
			this.modal.modal('hide');
		},
		
		open: function(options) {
			this.setModalOptions(options);
			this.modal.modal('show');
		},
		
		setModalOptions: function(options) {
			for(var attr in options) {
				if(options.hasOwnProperty(attr)) {
					if (attr === 'text') {
						this.modal.find('.modal-body').html(options[attr]);
					} else {
						this.options[attr] = options[attr];
					}
				}
			}
		},
		
		getConnected(name) {
			return this.services[name] ? '(Connected)' : '(Not Connected)'
		},
		
		upperFirst(index) {
			return index.charAt(0).toUpperCase() + index.slice(1);
		},
		
		getButtonClass(service) {
			return 'btn btn-default new-games-button integrations-connect' + (service ? ' disconnected' : '');
		},
		
		getTextButton(service) {
			return !this.services[service] ? 'Connect' : 'Disconnect';
		},
		
		connectToService(e) {
			let target = e.target,
				serviceName = target.dataset.service,
				saveButtonHandler = this.saveService.bind(this, serviceName);
			if (this.services[serviceName]) {
				let siteId = this.site.id,
					gameId = this.game.id,
					serviceData = {
						service: serviceName,
						site_id: siteId,
						game_id: gameId,
						api_key: '<empty>',
						active: 0
					};
				this.$store.dispatch('setServiceData', serviceData)
					.then(function(response) {
						let data = response.data;
						if(data.hasOwnProperty('service')) {
							if(!data.service.active) {
								this.services[serviceName] = false;
							}
							this[serviceName + 'CurrentSite'] = data.service;
						}
					}.bind(this))
					.catch(Flash.setAjaxError.bind(Flash));
			} else {
				this.messengersGetData.open({
					'title': 'Enter your ChatChamp ID',
					'label': 'ChatChamp ID',
					saveButtonHandler: saveButtonHandler
				});
			}
		},
		
		saveService(serviceName) {
			let apiKey = this.messengersGetData.apiKey,
				siteId = this.site.id,
				gameId = this.game.id;
			if (apiKey) {
				let serviceData = {
					service: serviceName,
					site_id: siteId,
					game_id: gameId,
					api_key: apiKey,
					active: 0
				};
				this.$store.dispatch('setServiceData', serviceData)
					.then(function(response) {
						let data = response.data;
						if(data.hasOwnProperty('service')) {
							if(data.service.active) {
								this.services[serviceName] = true;
								Flash.setSuccess('Service connected.');
							} else {
								Flash.setError('Can\'t connect service.');
							}
							this[serviceName + 'CurrentSite'] = data.service;
						}
					}.bind(this))
					.catch(Flash.setAjaxError.bind(Flash));
			}
		}
	}
}
</script>