<template xmlns:v-on="http://www.w3.org/1999/xhtml">
	<div class="modal fade" id="messengers-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content confirm">
				
				<div class="modal-header">
					<button v-on:click="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ options.title }}</h4>
				</div>
				
				<div class="modal-body">
					<p v-if="options.text">{{ options.text }}</p>
					<div class="row">
						<form class="col-md-12">
							<div class="form-group">
								<label for="labelID">{{ options.label }}</label>
								<input @keydown.enter.prevent="submitForm" v-model="apiKey" name="apiKey"
									   type="text" class="form-control" id="labelID">
							</div>
						</form>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" v-on:click="cancelButtonHandler">Cancel</button>
					<button type="button" class="btn btn-default" v-on:click="doneButtonHandler">Save</button>
				</div>
			
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				options: {
					title: '',
					text: '',
					label: '',
					saveButtonHandler: function(){},
					cancelButtonHandler: function(){}
				},
				modal: {},
				apiKey: ''
			}
		},
		
		mounted() {
			this.modal = $('#messengers-popup');
		},
		
		methods: {
			
			closeModal: function(e) {
				this.modal.modal('hide');
			},
			
			doneButtonHandler: function(e) {
				this.options.saveButtonHandler.call(this);
				this.modal.modal('hide');
			},
			
			cancelButtonHandler: function(e) {
				this.options.cancelButtonHandler.call(this);
				this.apiKey = '';
				this.modal.modal('hide');
			},
			
			open: function(options) {
				this.setModalOptions(options);
				this.modal.modal('show');
			},
			
			setModalOptions: function(options) {
				for(var attr in options) {
					if(options.hasOwnProperty(attr)) {
						if (attr === 'text') {
							this.modal.find('.modal-body').html(options[attr]);
						} else {
							this.options[attr] = options[attr];
						}
					}
				}
			},
			
			submitForm(e) {
				this.doneButtonHandler();
			}
		}
	}
</script>