<template>
	<div class="container fixed-width no-padding">
		<div class="row">
			<div class="col-md-6"><span class="games-header">Profile</span></div>
			<div class="col-md-6">
				<a href="javascript:void(0)" @click="saveProfileInfo" :class="getButtonClass()">Save changes</a>
			</div>
		</div>
		<div class="row">
			<div class="profile-page" v-if="user">
				<form class="form-horizontal col-md-5">
					<div class="form-group">
						<label class="control-label label-upper" for="name">Your Name</label>
						<input type="text" class="form-control input-lg" id="name" v-model="name">
					</div>
					<div class="form-group">
						<label class="control-label label-upper" for="email">Your Email</label>
						<input type="text" class="form-control input-lg" id="email" v-model="email">
					</div>
					<div class="form-group">
						<label class="control-label label-upper" for="password">Your Password</label>
						<input type="password" class="form-control input-lg" id="password" v-model="password">
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	
	data() {
		return {
			name: '',
			email: '',
			password: ''
		}
	},
	
	created() {
		this.initValues('', '');
		if(this.user.hasOwnProperty('name')) {
			this.initValues(this.user.name, this.user.email);
		}
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		profileUpdated() {
			return this.$store.state._users.profileUpdated;
		}
		
	},
	
	watch: {
		
		user(value) {
			this.initValues(value.name, value.email);
		}
		
	},
	
	methods: {
		
		initValues(name, email) {
			this.name = name;
			this.email = email;
		},
		
		saveProfileInfo(e) {
			if (this.isUserChangeData()) {
				let data = {
					id: this.user.id,
					name: this.name,
					email: this.email,
					password: this.password
				};
				this.$store.dispatch('saveUserProfileData', data);
			}
		},
		
		isUserChangeData: function () {
			return this.user.id
				&& (this.name !== this.user.name
				|| this.email !== this.user.email
				|| this.password !== '');
		},
		
		getButtonClass: function() {
			var className = 'btn btn-default new-games-button pull-right';
			return this.profileUpdated ? className : className + ' inactive';
		}
		
	}
	
}
</script>