/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


html {
  position: relative;
  min-height: 100%;
}


body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body > .container {
  padding: 68px 0 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary.active, .btn-primary:active,
.show>.btn-primary.dropdown-toggle,
.btn-primary.focus,
.btn-primary:focus {
  color: #fff !important;
  background-color: #06B0FF !important;
  border-color: #06B0FF !important;
  box-shadow: none !important;
}

.btn.active, .btn:active,
.btn.focus,
.btn:focus {
  color: #000000;
  background-color: #fff;
  border-color: #000000;
  box-shadow: none;
}

@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 100%;
  }
}

.justify-content-end {
  -webkit-box-pack: end!important;
  -webkit-justify-content: flex-end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.navbar-nav {
  margin-right: 100px;
}

.navbar {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
  color: #000000;
  font-size: 14px;
  padding: 11px 120px;
}

.collapse.navbar-collapse {
  height: 45px;
}

.navbar-nav {
  margin-right: 100px;
}

.navbar-brand {
  margin-top:10px;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  z-index:1000;
}

.navbar-brand .logo-svg {
  height: 28px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #000000;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
  color: #000000;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-size: 15px;
  cursor: pointer;
  padding: 1.5rem .5rem;
}

.navbar-light .navbar-nav .nav-link.sign-up {
  height: 36px;
  border-radius: 4px;
  padding: 0 26px;
  line-height: 33px;
  color:#fff;
  background-color: #06B0FF;
  margin-top:13px;
}

.navbar-light .navbar-nav .nav-link.sign-up:hover {
  color:#fff;
  background-color: #24B9FF;
  border-color:#24B9FF;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}

.nav-item {
  margin-left: 45px;
}

.alert-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 10px 10%;
  background-color: #06B0FF;
  -webkit-transition: background-color 325ms ease-in-out;
  transition: background-color 325ms ease-in-out;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.alert-bar:hover {
  color: #fff;
}

.shopify-logo-btn {
  position: absolute;
  width: 30px;
  display: inline-block;
  left: 11px;
  top: 8px;
}

.woohoo-main-image {
  text-align: center;
}

.try-it-btn.shopify-button {
  padding-left: 50px;
  min-width: 300px;
  background: #fff;
  color:#8bb43f;
  border: 1px solid #8bb43f !important;
  text-shadow: 0 1px 0 #80a53a;
}

.try-it-btn.shopify-button:hover {
  background: #a1c65b !important;
}

.container {
  width:100%;
  max-width: 100%;
  padding: 0;
}

.row {
  max-width: 1180px;
  margin:auto;
}

.sub-title {
  width: 100%;
  color: #000000;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 40px 0;
  display: block;
  margin: auto;
}

.sub-title-small {
  width:100%;
  max-width: 440px;
  margin: auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
}

.sub-title.features-title {
  margin: 40px 0;
}

.main-section-wrapper {
  background: #24B9FF;
}

.main-section {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section main {
  padding: 0 20px;
}

.main-section-blue {
  height: calc(100vh - 190px);
}

.integrated-platform-image {
  text-align: center;
  background-color: #FBFBFB;
}

.integrated-platform-image img {
  max-width:72%;
}

.next-level {
  background: #fbfbfb;
  padding: 1.5em 9em;
  max-width: none;
}

.next-level .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.next-level h2 {
  max-width: 340px;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 25px;
}

.next-level p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 22px;
  margin-bottom: 25px;
}

.display-3 {
  max-width: 602px;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 49px;
}

.try-it-btn {
  height: 48px;
  width: 190px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 31px;
  margin: 30px 20px 0 0;
  background: #24B9FF;
  border: 2px solid #FFFFFF;
  box-shadow: 0 3px 0 0 #24B9FF;
}

.try-it-btn:hover {
  color: #fff;
  background-color: #24B9FF;
  border-color: #fff;
}

.try-it-btn.try-it-trial {
  border: 2px solid #24B9FF;
}

.try-it-btn.try-it-trial:hover {
  color: #fff;
  background-color: #24B9FF;
  border-color: #24B9FF;
}

.test-it-btn {
  display: none;
  height: 48px;
  width: 190px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 31px;
  margin: 19px 20px 0 0;
}

.test-it-btn:hover {
  border-color: #26BAFF;
  color:#26BAFF;
  background-color: transparent;
}

.game-section {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

.game-section.card-dance {
  padding: 55px 0 18px 0;
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
}

.game-section.wheel-of {
  padding: 70px 0px;
  background: linear-gradient(134.8deg, #BC101F 0%, #F88D00 100%);
}

.game-section.wide {
  max-width: 100%;
  padding: 70px 30px;
  background-color: #FBFBFB;
}

.game-section h2 {
  color: #fff;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 20px;
  margin-top: 130px;
  text-transform: uppercase;
}

.game-section p {
  max-width: 470px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 27px;
  margin-bottom: 30px;
}

.game-section.wide p {
  color: #000;
}

.game-section.wide h2 {
  color: #000;
}

.game-section .preview-game-btn {
  height: 48px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 27px;
  padding: 10px 34px;
}

.game-section .preview-game-btn:hover {
  border-color: #26BAFF;
  color:#26BAFF;
  background-color: transparent;
}

.game-section.wide .preview-game-btn {
  border: 1px solid #000;
  background: transparent;
  border-radius: 8px;
  color: #000;
}

.feature-row-margin {
  height:270px;
  padding: 20px 30px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 11px 0 rgba(0,0,0,0.07);
}

.feature-row-icon img {
  width:60px;
}

.feature-row-title {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
  margin:13px 0;
}

.feature-row-sub-title {
  opacity: 0.7;
  color: #000000;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: center;
}

.features .feature-row {
  margin-bottom: 30px;
}

.features .feature-item {
  height: 270px;
  width: 357px;
  text-align: center;
}

.start-you-trial {
  color:#fff;
  background-color: #06B0FF;
  padding: 4em 9em;
  max-width: none;
  margin-top:50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.start-you-trial .start-you-trial-text {
  width:100%;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 25px;
}

.start-you-trial .start-you-trial-card {
  width:100%;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 22px;
}

.start-you-trial .start-you-trial-action {
  width:100%;
  text-align: center;
}

.start-you-trial .start-you-trial-action .trial-btn {
  display: block;
  width:auto;
  height: 48px;
  color:#fff;
  padding: 8px 50px;
  background: transparent;
 	border: 1px solid #FFFFFF;
  border-radius: 8px;
  margin:auto;
  display: inline-block;
  line-height: 31px;
}

.reviews.row {
  max-width: 1300px;
  padding: 20px 0 65px 0;
}

.review-title {
  width:100%;
  color: #000000;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding: 40px 0px;
}

.reviews .review-box {
  max-width: 21%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 11px 0 rgba(0,0,0,0.07);
}

.review-box-image {
  height: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.reviews .review-box img {
  max-width: 100%;
  max-height: 50%;
}

.reviews .review-box .review-text {
  opacity: 0.7;
  color: #000000;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 25px;
}

.manage-and-customize {
  max-width: 100%;
  background: linear-gradient(313.96deg, #57CA85 0%, #184E68 100%);
  box-shadow: inset 0 -13px 40px 0 rgba(0,0,0,0.04);
  padding: 42px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.manage-and-customize .sub-title {
  width:auto;
  max-width: 440px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 33px;
  text-align: left;
  margin-bottom: 20px;
}

.manage-and-customize .sub-title-small {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 20px;
}

.manage-and-customize .customize-features {
  max-width: 440px;
  margin: auto;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
  text-align: left;
}

.manage-and-customize .customize-features li {
  margin-bottom: 5px;
}

.manage-and-customize .manage-and-customize-image {
  width: 95%;
  text-align: center;
  margin: auto;
}

.pricing {
  padding: 0 0 70px 0;
}

.pricing-title {
  color: #01012A;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 49px;
  margin-bottom: 20px;
  text-align: center;
}

.pricing-text {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 27px;
  margin-bottom: 45px;
  text-align: center;
}

.pricing-text:first-of-type {
  margin-bottom: 0;
}

.pricing-amount {
  float:right;
  height: 320px;
  width:100%;
  max-width: 410px;
  border: 2px solid #06B0FF;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 11px 0 rgba(6,176,255,0.14);
  text-align: center;
  margin-top: 30px;
}

.pricing-amount-number {
  color: #06B0FF;
  font-size: 4.5em;
  letter-spacing: -1px;
  line-height: 136px;
  text-align: center;
  display: block;
  border-bottom: 2px solid #06B0FF;
  padding: 20px 0;
  margin: 0 55px;
}

.pricing-amount-usd {
  opacity: 0.7;
  color: #06B0FF;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  margin-top:55px;
}

@media (max-width: 700px) {

  .integrated-platform-image img {
    max-width:100%;
  }

  .display-3 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: 45px;
  }

  .try-it-btn {
    height: 40px;
    width: 160px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
  }

  .game-section.wide {
    padding: 0 30px;
  }

  .collapse.show {
    border: 1px solid #cbcbcb;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-light .navbar-nav .nav-link.sign-up {
    width: 90%;
    margin: auto;
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 1rem .5rem;
  }

  .navbar-collapse .navbar-nav .nav-link.sign-up {
    margin-left: 0;
    width: auto;
    display: inline-block;
  }

  .navbar {
    padding: 12px 17px;
  }

  .navbar-nav {
    margin: 50px 0 50px 0;
    background: #fff;
  }

  .nav-item {
    margin-left: 0;
  }

  .row.main-section .img-fluid {
    max-width: 75%;
  }

  .next-level {
    padding: 1.5em 1em;
  }

  .sub-title {
    margin: 20px 0;
  }

  .game-section h2 {
    margin-top: 20px;
    text-align: center;
  }

  .feature-row-margin {
    margin-right: 0;
  }

  .features .feature-item {
    height: 250px;
    width: 100%;
    text-align: center;
  }

  .start-you-trial {
    padding: 3em 4em;
  }

  .try-it-btn {
    width:auto;
  }

  .reviews .review-box {
    max-width: none;
  }

  .manage-and-customize .manage-and-customize-image {
    margin-top: 30px;
  }

  .plan {
    max-width: 80%;
    margin: auto;
  }

  .plan:last-of-type {
    margin-top: 20px;
  }

  .block {
    padding-top: 4rem;
  }

  .block.block-features .features {
    display: block;
  }

  .block.block-features .features {
    display: block;
  }

  .block.block-features .features .feature {
    margin-bottom: 20px;
  }

  .block.block-features .features .feature .feature-header {
    height: 60px;
  }

  .block.block-features .features .feature p {
    padding: 0.5em;
  }

  .faqs .faq {
    padding: 1em;
  }

  .block.block-faq .faqs {
    display: block;
  }

  .preview-btn-wrapper {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .navbar-toggler-right {
    position: relative;
    right: auto;
  }
  .collapse.navbar-collapse {
    height: auto;
  }
}

@media (max-width: 1200px) {
  .nav-item {
    margin-left: 20px;
  }
}


/* Pricing Page */

.plan {
  padding: 25px 25px 15px 25px;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0 0 8px 1px rgba(17, 18, 20, 0.17);
  margin-bottom: 10px;
  text-align: center;
}

.plan .plan-name {
  font-size: 47px;
  margin: 0;
}

.plan .plan-price {
  margin-top: 10px;
  letter-spacing: 0.6px;
}

.plan .plan-price .currency {
  font-size: 46px;
  line-height: 1.2;
  font-weight: 600;
}

.plan .plan-list {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  margin-left: 2px;
}

.plan .plan-list li {
  margin-bottom: 11px;
  letter-spacing: 0.3px;
}

.plan .plan-button {
  display: block;
  width: calc(100% - 7px);
  margin: 46px auto 20px;
  text-align: center;
  color: #fff;
  background-color: #06B0FF;
  -webkit-box-shadow: 0 4px 0 #188ac9;
  -moz-box-shadow: 0 4px 0 #188ac9;
  box-shadow: 0 4px 0 #188ac9;
  padding-left: 33px;
  font-weight: 300;
  font-size: 16px;
  height: 42px;
  line-height: 29px;
  border: 0;
  transition: All 250ms ease;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

.new-games-button:hover {
  color: #fff;
  background-color: #24B9FF;
  border-color: #24B9FF;
}

.plan .plan-button:active {
  -webkit-box-shadow: 0 4px 0 #00aefc;
  -moz-box-shadow: 0 4px 0 #00aefc;
  box-shadow: 0 4px 0 #00aefc;
  color: white !important;
}

.plan .plan-button:active, .plan .plan-button:focus {
  position: relative;
  top: 5px;
  background-color: #00A7FC;
  -webkit-box-shadow: 0px 5px 0px #1A94CF !important;
  box-shadow: 0px 4px 0px #1A94CF !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

.justify-content-between {
  margin-top: 45px;
  -webkit-box-pack: justify!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

footer.page-footer {
  margin: 4em 0 0;
  padding: 2em;
  background: #363d4d;
  color: #fff;
  display: block;
}

footer.page-footer>.container, main>.usecase-group>h2 {
  max-width: 69.5rem;
  width: 100%;
}

footer.page-footer>.container, main>.usecase-group>h2 {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer.page-footer>.container {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer.page-footer>.container>section:not(:last-child) {
  margin-right: 6em;
}

footer.page-footer>.container>section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2em;
}

footer.page-footer>.container a, footer.page-footer>.container a:active, footer.page-footer>.container a:focus, footer.page-footer>.container a:hover, footer.page-footer>.container a:visited, footer.page-footer>.container h5 {
  color: inherit;
  display: block;
}

footer.page-footer>.container h5 {
  font-size: 1rem;
}

footer.page-footer>.container address {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

address {
  font-style: normal;
  line-height: inherit;
}

address, p {
  margin-bottom: 1rem;
}

.faq p {
  line-height: 22px;
}

footer.page-footer>.container address .social:not(:last-child) {
  margin-right: 1em;
}

footer.page-footer>.container address .social {
  width: 2rem;
  height: 2rem;
  line-height: 1;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: .5em;
  border-radius: .3rem;
  background: hsla(0,0%,100%,.1);
  transition: all .2s;
}

footer.page-footer>.container a, footer.page-footer>.container a:active, footer.page-footer>.container a:focus, footer.page-footer>.container a:hover, footer.page-footer>.container a:visited, footer.page-footer>.container h5 {
  color: inherit;
  line-height: 2em;
  display: block;
}

footer.page-footer>.container address .social.facebook:hover {
  border-color: #395898;
  background: #395898;
  line-height: normal;
}

.main-section {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 17px;
  max-width: 1280px;
}

main section.content:first-child {
  margin-top: 4rem;
}

main section.content.content-full {
  min-height: 80vh;
}

main section.content {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

main section.content, nav.pagination {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 769px) {
  main section.content, nav.pagination {
    max-width: 57.5rem;
  }
}

main section.content h1, h2 {
  font-size: 2.7rem;
  font-weight: 300;
  color: #363d4d;
}

main section.content>article {
  color: #363d4d;
  margin-top: 1.5rem;
  margin-bottom: 1em;
  line-height: 1.6;
}

main section.content>article blockquote, main section.content>article ol, main section.content>article p, main section.content>article pre, main section.content>article table, main section.content>article ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

main section.content>article ol+h3, main section.content>article p+h2, main section.content>article p+h3, main section.content>article pre+h3, main section.content>article ul+h3 {
  margin-top: 2.4rem;
}

main section.content>article h3 {
  line-height: 1.5rem;
  margin-bottom: .8rem;
  font-size: 1.25rem;
  font-weight: 400;
}

main section.content>article blockquote, main section.content>article ol, main section.content>article p, main section.content>article pre, main section.content>article table, main section.content>article ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
}


.block-heading+.block, h3+.block {
  padding-top: 2em;
}

main>.block:first-child {
  padding-top: 3rem;
}

@media (min-width: 1200px) {
  .block-header .header, .block-how-to, .block-row, .block.block-feature-section .feature-block, .block.block-heading .heading, .block.block-headline .headline, .block.block-link-menu .link-menu, .block.block-strip-menu .strip-menu, .block.block-widget-header header, .block .faqs, .block .feature-images, .block .features, .block .partners, .block .peoples, .block .pricing, .block .use-cases, .top-nav, footer.page-footer>.container, main>.usecase-group>h2 {
    max-width: 69.5rem;
    width: 100%;
  }
}

.block-header .header, .block-how-to, .block-row, .block.block-feature-section .feature-block, .block.block-heading .heading, .block.block-headline .headline, .block.block-link-menu .link-menu, .block.block-strip-menu .strip-menu, .block.block-widget-header header, .block .faqs, .block .feature-images, .block .features, .block .partners, .block .peoples, .block .pricing, .block .use-cases, .top-nav, footer.page-footer>.container, main>.usecase-group>h2 {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.block.block-heading .heading {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.block.block-heading .heading h2, .block.block-heading .heading p {
  max-width: 100%;
}

.block.block-heading .heading h2+p, .block.block-heading .heading p+.button {
  margin-top: 2rem;
  line-height: 30px;
}

.block.block-heading .heading p {
  width: 61rem;
}

.block.block-heading .heading h2, .block.block-heading .heading p {
  max-width: 100%;
}

.block-how-to, .block-row, .block.block-widget-header header, .block .faqs, .block .feature-images, .block .features, .block .use-cases, main>.usecase-group>h2 {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (min-width: 1200px) {
  .block-header .header, .block-how-to, .block-row, .block.block-feature-section .feature-block, .block.block-heading .heading, .block.block-headline .headline, .block.block-link-menu .link-menu, .block.block-strip-menu .strip-menu, .block.block-widget-header header, .block .faqs, .block .feature-images, .block .features, .block .partners, .block .peoples, .block .pricing, .block .use-cases, .top-nav, footer.page-footer>.container, main>.usecase-group>h2 {
    max-width: 69.5rem;
    width: 100%;
  }
}

.block-header .header, .block-how-to, .block-row, .block.block-feature-section .feature-block, .block.block-heading .heading, .block.block-headline .headline, .block.block-link-menu .link-menu, .block.block-strip-menu .strip-menu, .block.block-widget-header header, .block .faqs, .block .feature-images, .block .features, .block .partners, .block .peoples, .block .pricing, .block .use-cases, .top-nav, footer.page-footer>.container, main>.usecase-group>h2 {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.block .features {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .feature:not(:last-child) {
    margin-right: 1.875em;
  }
}


@media (min-width: 769px) {
  .feature {
    width: 33.3%;
  }
}

.feature {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
}

.feature .feature-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  height: 6rem;
  background-color: #f7f9fc;
  border: 1px solid #dfe4ed;
  border-bottom-width: 0;
  border-radius: .3rem .3rem 0 0;
  text-align: center;
}

.feature img, .feature svg {
  pointer-events: none;
  min-width: 1.875rem;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1.5rem;
}

.feature h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  margin: auto;
}

.feature p {
  padding: 2em;
  margin: 0;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  border: 1px solid #dfe4ed;
  border-top-width: 0;
  border-radius: 0 0 .3rem .3rem;
  line-height: 25px;
  text-align: center;
}

.block.block-sign-up:not(.sticky) .sign-up {
  background-image: url(https://getsitecontrol.com/assets/images/sign-up-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block .sign-up {
  padding: 3em 2em;
  text-align: center;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fill-action {
  background-color: #0396ff!important;
  color: #fff!important;
  border-color: #0396ff!important;
}

.block .sign-up h2 {
  text-align: center;
  max-width: 100%;
}

.fill-action h1, .fill-action h2, .fill-action h3, .fill-action h4, .fill-action h5 {
  color: inherit;
}

.block .sign-up p {
  max-width: 62em;
  margin: 1.875em auto 2.4em;
}

.block {
  padding-top: 6rem;
}

.block {
  max-width: 100%;
}

.block.block-heading .heading h2, .block.block-heading .heading p {
  max-width: 100%;
}

.block-heading+.block, h3+.block {
  padding-top: 2em;
}

.block-how-to, .block-row, .block.block-widget-header header, .block .faqs, .block .feature-images, .block .features, .block .use-cases, main>.usecase-group>h2 {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (min-width: 769px) {
  .faq:not(:last-child) {
    margin-right: 1.875em;
  }
}

@media (min-width: 769px) {
  .faq {
    width: 33.3%;
  }
}

.faq {
  width: 100%;
  overflow: hidden;
  padding: 2em;
  border-radius: .3rem;
  background: #f7f9fc;
}

.faq h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 1.2rem;
  line-height: 1.4;
}

main>.block:last-child {
  margin-bottom: 4rem;
}

@media (min-width: 769px) {
  .faq:not(:last-child) {
    margin-right: 1.875em;
  }
}



