@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800);
/* main-selector comment equal to #lucky-coupon-%27 + id + %27.game-%27 + this.gameId + %27 */
/* dont use any quotes in templates styles or connected to it*/

/*<main-selector>*/ .prize-list {
	width: auto;
	max-width: 521px;
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	padding: 0;
	list-style: none;
	color: %27 + this.couponText + %27;
}

/*<main-selector>*/ .prize-list .prize-item {
	display: inline-block;
	height: 93px;
	width: 144px;
	margin: 7.5px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	vertical-align: middle;
	color: inherit;
	font-family: inherit;
}

/*<main-selector>*/ .prize-list .prize-item .start-line {
	margin-top: -7px;
	font-size: 22px;
	font-weight: bold;
	font-family: inherit;
}

/*<main-selector>*/ .prize-list .prize-item .game {
	font-size: 29px;
	font-weight: bold;
	font-family: inherit;
}

/*<main-selector>*/ .prize-list .filler {
	display: inline-block;
	margin: 0;
}

/*<main-selector>*/ .prize-list .coupon {
	background-color: #fff;
	box-shadow: 0 0 29px 0 rgba(0,0,0,0.09);
	border: 1px solid transparent;
	position: relative;
	border-radius: 12px;
	opacity: 1;
}

/*<main-selector>*/ .prize-list .card .card-back {
	margin: 20px auto;
	height: 53px;
	width: 53px;
	border-radius: 53px;
	background-color: #bac2cb;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.5;
}

/*<main-selector>*/ .prize-list .card .card-cash,
/*<main-selector>*/ .prize-list .card .card-free-shipping,
/*<main-selector>*/ .prize-list .card .card-coupon {
	background: center center;
	background: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}

/*<main-selector>*/ .prize-list .card .card-cash {
	width: 112px;
	height: 66px;
	margin: 14px auto;
	background-image: url(%27 + this.assetUrl + %27Cash.svg);
}

/*<main-selector>*/ .prize-list .card .text {
	display: inline-block;
	padding: 10px;
	font-size: 32px;
	color: #fff;
	font-weight: 600;
	text-align: center;
	text-shadow: 0px 0px 0px #fff, 0px 0px 6px rgba(0, 0, 0, 0.4);
}

/*<main-selector>*/ .prize-list .card .card-free-shipping {
	width: 87px;
	height: 68px;
	margin: 13px auto;
	background-image: url(%27 + this.assetUrl + %27Truck.svg);
}

/*<main-selector>*/ .prize-list .card .card-coupon {
	width: 112px;
	height: 65px;
	margin: 14px auto;
	background-image: url(%27 + this.assetUrl + %27Coupon.svg);
}

/*<main-selector>*/ .prize-list .card .card-coupon .text {
	padding-left: 38px;
}

/*<main-selector>*/ .prize-list .right {
	border-bottom-right-radius: 90px;
	border-top-right-radius: 90px;
	left: -1px;
	box-shadow: inset -17px 0px 5px rgba(0, 0, 0, 0.03);
}

/*<main-selector>*/ .prize-list .left {
	border-bottom-left-radius: 90px;
	border-top-left-radius: 90px;
	right: -1px;
	box-shadow: inset 17px 0px 5px rgba(0, 0, 0, 0.03);
}

/*<main-selector>*/ .prize-list .right,
/*<main-selector>*/ .prize-list .left {
	height: 22px;
	width: 11px;
	/*background: %27 + this.background + %27;*/
	background: #f0f0f0;
	display: inline-block;
	position: absolute;
	top: 33px;
	z-index: 1;
	display:none;
}

/*<main-selector>*/ .prize-list .won,
/*<main-selector>*/ .prize-list .won .left,
/*<main-selector>*/ .prize-list .won .right {
	border: 1px solid %27 + this.button + %27;
	box-shadow: 0 0 29px 0 rgba(%27 + parseInt(this.button.substring(1,3),16) + %27,%27 + parseInt(this.button.substring(3,5),16) + %27,%27 + parseInt(this.button.substring(5,7),16) + %27, 0.23);
}

/*<main-selector>*/ .prize-list .won .left,
/*<main-selector>*/ .prize-list .won .right{
	box-shadow: none;
	background: rgb(242, 216, 216);
}

/*<main-selector>*/ .prize-list .won .left {
	border-right: 0;
}

/*<main-selector>*/ .prize-list .won .right {
	border-left: 0;
}

/*<main-selector>*/ .prize-list .upper-text {
	width: 75%;
	color: inherit;
	font-size: 28px;
	font-weight: bold;
	border-bottom: 1px dashed #ebebeb;
	text-align: center;
	margin: auto;
	padding-top: 3px;
	padding-bottom: 4px;
}

/*<main-selector>*/ .de .prize-list [data-type=%22free shipping%22] .upper-text,
/*<main-selector>*/ .ru .prize-list [data-type=%22free shipping%22] .upper-text{
	font-size: 12px;
	line-height: 21px !important;
	margin-left: 0;
}
/*<main-selector>*/ .fr .prize-list [data-type=%22free shipping%22] .upper-text {
	font-size: 21px;
	line-height: 39px !important;
}

/*<main-selector>*/ .de .prize-list [data-type=%22free product%22] .upper-text,
/*<main-selector>*/ .es .prize-list [data-type=%22free product%22] .upper-text,
/*<main-selector>*/ .fr .prize-list [data-type=%22free product%22] .upper-text,
/*<main-selector>*/ .ru .prize-list [data-type=%22free product%22] .upper-text {
	font-size: 13px;
	line-height: 23px !important;
}

/*<main-selector>*/ .prize-list .won .upper-text {
	color: %27 + this.button + %27;
}

/*<main-selector>*/ .prize-list .lower-text {
	width: 100%;
	color: inherit;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin: 10px auto 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 600px) {

	/*<main-selector>*/ .lucky-coupon-popup-inner.coupon-wrapper.start-body {
	    padding-top:14px;
    }

	/*<main-selector>*/ .prize-list .prize-item {
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: flex-end;
		align-content: flex-end;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		padding: 0.5em;
		height: 60px;
		border-radius: 7.5px;
		box-sizing: border-box;
		margin: 0.3em 0.3em;
		width: calc(33.3% - 0.6em);
	}
	
	/*<main-selector>*/ .prize-list .filler {
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-align-content: flex-end;
		align-content: flex-end;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		height: 63px;
		border-radius: 7.5px;
		box-sizing: border-box;
		margin: 0.3em 0.3em;
		width: calc(33.3% - 0.6em);
	}
	
	/*<main-selector>*/ .prize-list .prize-item.btn-push.red,
	/*<main-selector>*/ .prize-list .prize-item.btn-push.grey {
		width: 100%;
		margin: 0;
		display: block;
		position: relative;
	}
	
	/*<main-selector>*/ .prize-list .right,
	/*<main-selector>*/ .prize-list .left {
		height: 12px;
		width: 6px;
		top: 22px;
	}
	
	/*<main-selector>*/ .prize-list .left {
		right: -1px;
	}
	
	/*<main-selector>*/ .prize-list .right {
		left: -1px;
	}
	
	/*<main-selector>*/ .prize-list .upper-text {
		width: 55px;
		font-size: 21px;
		padding-bottom: 2px;
	}
	
	/*<main-selector>*/ .de .prize-list [data-type=%22free shipping%22] .upper-text,
	/*<main-selector>*/ .ru .prize-list [data-type=%22free shipping%22] .upper-text {
		font-size: 9px;
	}
	
	/*<main-selector>*/ .fr .prize-list [data-type=%22free shipping%22] .upper-text{
		font-size: 11px;
	}
	
	/*<main-selector>*/ .prize-list .lower-text {
		font-size: 13px !important;
		margin: 4px auto 0px !important;
	}
	
	/*<main-selector>*/ .prize-list .prize-item .start-line {
		margin-top: 5px;
		font-size: 15px;
	}
	
	/*<main-selector>*/ .prize-list .prize-item .game {
		font-size: 22px;
	}
	
	/*<main-selector>*/ .prize-list .card .card-back {
		margin: 10px auto;
		height: 40px;
		width: 40px;
		font-size: 28px;
	}
	
	/*<main-selector>*/ .prize-list .card .card-cash {
		width: 72px;
		height: 42px;
		margin: 8px auto;
	}
	
	/*<main-selector>*/ .prize-list .card .text {
		padding: 0px;
		font-size: 28px;
	}
	
	/*<main-selector>*/ .prize-list .card .card-free-shipping {
		width: 52px;
		height: 42px;
		margin: 9px auto;
	}
	
	/*<main-selector>*/ .prize-list .card .card-coupon {
		width: 74px;
		height: 42px;
		margin: 8px auto;
	}
	
	/*<main-selector>*/ .prize-list .card .card-coupon .text {
		padding-left: 16px;
	}
	
	/*<main-selector>*/ .prize-list {
		margin-top: 5px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(1),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(2),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(3) {
		margin-top: 0;
	}
	
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(1),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(4),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(7) {
		margin-left: 0;
	}
	
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(3),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(6),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(9) {
		margin-right: 0;
	}
	
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(7),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(8),
	/*<main-selector>*/ .prize-list > .prize-item:nth-child(9) {
		margin-bottom: 0;
	}
	
	/*<main-selector>*/ .prize-list .upper-text {
		font-size: 18px;
		padding-bottom: 1px;
	}
	
	/*<main-selector>*/ .prize-list .lower-text {
		font-size: 10px;
		margin: 6px auto 0px;
	}
	
	/*<main-selector>*/ .prize-list .prize-item .start-line {
		margin-top: 0;
		font-size: 15px;
	}
	
	/*<main-selector>*/ .prize-list .prize-item .game {
		font-size: 17px;
		position: relative;
		top:-2px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1500px){
	/*<main-selector>*/ .lucky-coupon-center {
		transform: translateX(-50%) translateY(-50%) scale(0.83) !important;
	}
}