@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800);
/* main-selector comment equal to #lucky-coupon-%27 + id + %27.game-%27 + this.gameId + %27 */
/* dont use any quotes in templates styles or connected to it*/

/*<main-selector>*/ div.lucky-coupon-popup-inner {
	background-color: #fff;
}

/*<main-selector>*/ .lucky-coupon-popup-inner .input-wrapper .email-input::-webkit-input-placeholder,
/*<main-selector>*/ .lucky-coupon-popup-inner .input-wrapper .email-input::-moz-placeholder {
	font-size: 14px;
}

/*<main-selector>*/ .game-wrapper {
	position:relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*<main-selector>*/ .game-area {
	margin: 20px auto;
	padding: 22px 17px;
	position: relative;
	height: 129px;
	width: 100%;
	max-width: 510px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	font-family: inherit;
	border: 1px solid #52c2d7;
	border-radius: 100px;
	box-shadow: 4px 3px 0 #1ad1a3;
	background: #ecfbfd;
	z-index: 100;
	box-sizing: content-box;
}

/*<main-selector>*/ .game-area .dotted {
	border-radius: 100px;
	position: absolute;
	overflow: hidden;
	display: flex;
	width: 518px;
	padding: 8px 0;
}

@media (max-width: 600px) {
	/*<main-selector>*/ .game-area .dotted {
		padding: 5px 0;
		width: 320px;
		border-width: 2px;
	}
}

/*<main-selector>*/ .game-area .reel {
	position: relative;
	overflow: hidden;
	height: 132px;
	max-width: 155px;
	margin: auto;
	width: 100%;
	background-color: #fff;
	display: inline-block;
	border: 1px solid #52c2d7;
	border-radius: 20px;
	align-self: center;
}

/*<main-selector>*/ .game-area .reel:first-child {
	margin-left: 10px;
	max-width: 153px;
	border-bottom-left-radius: 65px;
	border-top-left-radius: 65px;
}

/*<main-selector>*/ .game-area .reel:last-child {
	margin-right: 10px;
	max-width: 153px;
	border-bottom-right-radius: 65px;
	border-top-right-radius: 65px;
}

/*<main-selector>*/ .right,
/*<main-selector>*/ .left {
	background: #fff;
}

@media (max-width: 600px) {
	/*<main-selector>*/ .game-area .reel {
		border-radius: 11px;
	}
	
	/*<main-selector>*/ .game-area .reel,
	/*<main-selector>*/ .game-area .reel:first-child,
	/*<main-selector>*/ .game-area .reel:last-child {
		max-width: 90px;
		height: 89px;
	}
}

/*<main-selector>*/ .game-area .reel-wrapper {
	position: absolute;
	width: 100%;
	z-index: 2;
}

/*<main-selector>*/ .game-area .reel .reel-item {
	height: 86px;
	width: 86px;
	margin: 24px auto;
	border-radius: 60px;
	color: #fff;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 26px 0;
	letter-spacing: 1px;
	line-height: 31px !important;
	box-sizing: border-box;
	opacity: 1;
}

/*<main-selector>*/ .game-area .reel-item.cash {
	background-color: #69B969;
}

/*<main-selector>*/ .game-area .reel-item.coupon {
	background-color: #F7941D;
}

/*<main-selector>*/ .game-area .reel-item.shipping {
	background-color: #6DCFF6;
}

/*<main-selector>*/ .btn-push.slot.red {
	display: block;
	margin: 30.5px auto 10px;
	padding: 1px 20px;
	min-width: 210px;
	height: 56px;
	font-size: 28px;
	font-weight: 700;
	font-family: inherit;
	line-height: 22px !important;
}

/*<main-selector>*/ .btn-push.slot.grey {
	display: block;
	margin: 30.5px auto 10px;
	padding: 1px 20px;
	min-width: 210px;
	height: 56px;
	font-size: 28px;
	font-weight: 700;
	font-family: inherit;
	line-height: 22px !important;
}

@media (max-width: 600px) {
	/*<main-selector>*/ .btn-push.slot.red {
		margin: 0 auto 10px;
		width: 100%;
		height: 50px;
		font-size: 20px;
		border-radius: 4px;
	}

	/*<main-selector>*/ .btn-push.slot.grey {
		margin: 0 auto 10px;
		width: 100%;
		height: 50px;
		font-size: 20px;
		border-radius: 4px;
	}
	
	/*<main-selector>*/ .game-area {
		height: 120px;
		padding: 0 5px;
		margin: 13px auto 13px;
		box-sizing: border-box;
	}
	
	/*<main-selector>*/ .game-area .red-line {
		width: calc(100% - 22px);
	}
	
	/*<main-selector>*/ .game-area .reel .reel-item {
		width: 54px;
		margin: 20px auto;
		height: 52px;
		padding: 15px;
		font-size: 15px;
		line-height: 20px !important;
		padding: 16px 0;
	}

	/*<main-selector>*/ .game-area .reel-item.shipping img {
		width: 30px;
	}
	
	/*<main-selector>*/ .game-area .reel-shadow {
		height: 120px;
		box-shadow:  inset 0 8px 10px 0 rgba(0, 0, 0, 0.21),
		inset 0 -8px 10px 0 rgba(0, 0, 0, 0.21),
		inset 0 -8px 15px 0 rgba(0, 0, 0, 0.11),
		inset 0 8px 15px 0 rgba(0, 0, 0, 0.11);
	}
	
	/*<main-selector>*/ .game-area .red-line {
		width: calc(100% - 19px);
	}
}

@media screen and (min-width: 600px) and (max-width: 1500px) {
	/*<main-selector>*/ .lucky-coupon-center {
		transform: translateX(-50%) translateY(-50%) scale(0.83) !important;
	}
}