<template>
	<div class="container fixed-width no-padding">
		<router-link to="/upgrade" class="btn btn-default new-games-button cancel" style="margin: 0 0 30px 0">
			<span aria-hidden="true" class="glyphicon glyphicon-menu-left" style="top: 3px;"></span>Cancel
		</router-link>
		<div v-if="subscription" class="subscribe-form">
			<h1 class="upgrade-title">Upgrade to <span class="name">{{ subscription.description }}</span></h1>
			<iframe :src="subscription.sub_url" v-if="!isPayed()" style="border-radius: 9px; margin-top:40px;" frameborder="0" width="100%" height="450"></iframe>
		</div>
	</div>
</template>
<script>
import subscriber from '../../helpers/subscriber';

export default {
	
	data() {
		return {};
	},
	
	created() {
		if (this.plans.length === 0) {
			this.$store.dispatch('getPlans', this.user.app_id);
		}
	},
	
	beforeRouteLeave(to, from, next) {
		this.$store.state._users.subPageAttended = true;
		next();
	},
	
	mounted() {
		if(this.plan) {
			this.$store.dispatch('generateSubscription', this.plan);
		}
	},
	
	watch: {
		plans(value) {
			if(value.length > 0) {
				this.$store.dispatch('generateSubscription', this.plan);
			}
		}
	},
	
	computed: {
		
		user() {
			return this.$store.state._users.user;
		},
		
		plans() {
			return this.$store.state._plans.plans;
		},
		
		plan() {
			return this.getPlan();
		},
		
		subscription() {
			return this.$store.state._subscriptions.subscription;
		}
		
	},
	
	methods: {
		
		getPlan() {
			let planId = parseInt(this.$route.params.plan_id);
			for(let plan of this.plans) {
				if (plan.id === planId) {
					return plan;
				}
			}
			return false;
		},
		
		isPayed() {
			if (this.subscription.hasOwnProperty('sub_url')
				&& this.user.hasOwnProperty('isracardSubscription')
				&& this.user.isracardSubscription
			) {
				if (this.user.isracardSubscription.hasOwnProperty('description')) {
					if (this.user.isracardSubscription.description === this.subscription.description) {
						this.$router.push('/sites');
					} else {
						return false;
					}
				}
			}
			return false;
		}
	}
	
};
</script>